@import '../../../styles';

.containerLogin {
    padding:32px;
}

button {
width:100%;
    border-radius: 0px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    font-size: 16px;
    font-family: Lato;
}

.facebookLogin {
    background: #4568B2;
    color: #fff;
    border:1px solid #4568B2 ;
    margin-bottom: 6px;
}

.facebookLogin:hover {
    background: #7996e4;
    border:1px solid #7996e4 ;
}

.googleLogin {
    background: $white;
    color: $grey2;
    border:1px solid $grey1;
}

.googleLogin:hover {
    color: $grey2;
    border:1px solid #cccccc;
}

.normalLogin {
    background: $orange;
    color: $white;
    border:1px solid $orange;
    margin-top:15px;
    cursor:pointer;
}

.normalLogin:hover {
    background: #ffbb93;
    border:1px solid #ffbb93;
}


.orLogin {
    margin-top: 10px;
    margin-bottom: 23px;
}

.divider-hr{
    margin-top:-10px;
}

.divider-or {
    padding: 6px;
    background: $white;
    font-family: Lato;
    color: $grey2;
}

input {
    width:100%;
    border-radius: 3px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    color: $grey2;
    font-size: 16px;
    font-family: Lato;
    border:1px solid $grey1;
}

.inputEmailLogin {
    margin-bottom: 6px;
}
.inputPasswordLogin {
    margin-bottom: 6px;
}


.forgotPass {
    font-size: 14px;
    color: $grey2;
    margin-top:10px;
    font-family: Lato;
}

.forgotPass:hover {
    text-decoration: underline;
    cursor: pointer; 
}

.footerLogin {
    margin-top:20px;
}

.registerBtn {
    width: 110px;
    border-radius: 0px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 21px !important;
    padding-right: 21px !important;
    background: $white;
    color: $orange;
    font-size: 14px;
    font-family: Lato;
    border:1px solid $orange;
}
.registerBtn:hover {
    color: #ffbb93;
     border:1px solid #ffbb93;
}
.btnRegister {
    margin-top:-30px;
}
.registerAdvice {
  margin-top: 10px;
  font-family: Lato;
  font-size: 16px;
  color: $grey3;
}
