

<div class="height:300px;">

  </div>
<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top:120px;">

          <h2 class="page-title h2">Perguntas frequentes - Bevolun</h2>

        
<h5>O que é o Bevolun?</h5>
<p>O Bevolun é um serviço por meio do qual amigos, familiares e colegas de trabalho podem encontrar atividades de voluntário, trocando mensagens rápidas e frequentes com as devidas instituições que promovem a atividade. As instituições publicam Ações de Voluntariado, que podem conter fotos, descrição e detalhes do voluntariado.&nbsp;Essas mensagens são publicadas em seu perfil e enviadas aos seus <a href="/articles/14019-what-is-following">seguidores</a>. Para encontrar uma ação específica, use a busca do Bevolun.&nbsp;Saiba mais sobre <a href="/articles/215585">como usar o Bevolun</a>.</p>
<h5>
<a name="whatdoineed"></a>Preciso de algo especial para usá-lo?</h5>
<p>Tudo que você precisa para usar o Bevolun é uma conexão com a internet ou um telemovel. <a href="https://Bevolun.com/signup">Inscreva-se aqui</a>! Depois de ingressar no serviço, o primeiro passo é encontrar e seguir contas com atividades de voluntariado que você ache interessantes. Nós faremos recomendações de ótimas contas quando você concluir sua inscrição.</p>
<h5>O que é uma Ação de voluntariado?</h5>
<p>Uma ação de voluntariado é qualquer postagem publicada no Bevolun. Ela pode conter fotos, descrição e detalhes importantes que representam a atividade em questão Clique ou toque no botão&nbsp;<strong>Tweetar&nbsp;</strong>para publicar a atualização em seu perfil.</p>
<h5>
<a name="findfollowers"></a>Como posso encontrar pessoas para seguir?</h5>
<p>Ao criar uma conta, você pode <a href="https://Bevolun.com/#!/who_to_follow/suggestions">procurar pessoas</a> pelo nome ou pelo nome de usuário, <a href="https://Bevolun.com/#!/who_to_follow/import">importar amigos</a> de outras redes ou <a href="https://Bevolun.com/#!/who_to_follow/import">convidar amigos por e-mail</a>.&nbsp;</p>
<h5>
<a name="whatisfollowing"></a>O que significa seguir alguém no Bevolun?</h5>
<p><a href="/articles/14019-what-is-following">Seguir</a> alguém quer dizer que você optou por se inscrever para receber as atualizações do Bevolun dessa pessoa. Quando você está seguindo alguém, toda vez que a pessoa publica uma nova atividade, essa mensagem aparece na timeline de sua página inicial do Bevolun.&nbsp;</p>
<h5>
<a name="seewhoifollow"></a>Como eu sei quem estou seguindo?</h5>
<p>Depois de clicar ou tocar no botão <strong>Seguir</strong> no perfil de uma pessoa, você passa a segui-la. Para ver a lista de todos que você está seguindo, clique no link <a href="https://Bevolun.com/#!/following">A seguir</a> na página de seu perfil.</p>
<h5>
<a name="whofollowsme"></a>Como eu sei quem está me seguindo?</h5>
<p>O Bevolun envia uma notificação quando uma nova pessoa começa a seguir você. Configure suas <a href="/articles/127860-how-to-change-your-email-preferences">preferências de e-mail</a> e <a href="/articles/20169887">notificações móveis por push</a> para notificá-lo quando tiver um novo seguidor. O link <a href="https://Bevolun.com/followers">A seguir</a>, na página de seu perfil, também mostra quem está seguindo você.</p>
<h5>
<a name="followlimits"></a>Quais são os limites para seguir?</h5>
<p>O Bevolun inclui limites para seguir e atualizar, a fim de manter a estabilidade e controlar assédios. Você pode ler mais a respeito<a href="/articles/15364-about-Bevolun-limits-update-api-dm-and-following"> aqui</a>.</p>
<h5>
<a name="whoreadsmytweets"></a>Quem lê minhas ações?</h5>
<p>Seus seguidores leem suas ações. Caso suas ações sejam públicas, qualquer um que realizar uma busca por uma palavra-chave semelhante ao nome da sua ação poderá ver essa mesma ação. Suas ações são públicas por padrão.</p>
<h5>
<a name="waystoupdate"></a>Como faço para enviar atualizações para o Bevolun?</h5>
<p>Leia nosso artigo sobre <a href="/articles/15367-how-to-post-a-tweet">como publicar uma Ação</a>. Você pode Tweetar em Bevolun.com, em um dispositivo mobile ou em um aplicativo.&nbsp;</p>

<h5>
<a name="DMs"></a><a name="messages"></a>O que são Mensagens Diretas?</h5>
<p><a href="/articles/14606-how-to-post-and-delete-direct-messages-dms">Mensagens Diretas</a> são mensagens privadas enviadas de uma conta do Bevolun para outra. Como elas não aparecem em público, ninguém mais pode lê-las. Você pode iniciar uma conversa com qualquer pessoa que siga você.</p>
<h5>
<a name="edit"></a>Posso editar uma Ação depois de publicá-lo?</h5>
<p>Sim, você pode editar uma ação a qualquer altura ou então, pode simplesmente eliminá-la.</p>
<h5>
<a name="pic"></a>Como faço para publicar uma foto no Bevolun?</h5>
<p>É fácil carregar e compartilhar imagens no Bevolun. Instruções passo a passo e perguntas frequentes podem ser encontradas&nbsp;<a href="/articles/20156423-how-to-include-pictures-in-tweets">aqui</a>.</p>
<h5>
<a name="reportspam"></a>Como eu denuncio spam?</h5>
<p>Leia nosso artigo sobre <a href="/articles/64986-how-to-report-spam-on-Bevolun">como denunciar spam no Bevolun</a>. Também o incentivamos a sempre bloquear os remetentes de spam que encontrar.&nbsp;</p>
<h5>
<a name="suspended"></a>Por que as contas são suspensas?</h5>
<p>As contas são suspensas por motivo de violação dos <a href="https://Bevolun.com/tos?lang=en">Termos de Serviço</a> ou investigação de spam. Leia mais a respeito <a href="/articles/15790-my-account-is-suspended">aqui</a>.</p>
<h5>
<a name="tos"></a>Onde encontro mais informações sobre os Termos de Serviço do Bevolun?</h5>
<p>Leia os <a href="https://Bevolun.com/tos?lang=en">Termos de Serviço</a> e as <a href="/articles/18311-the-Bevolun-rules">Regras do Bevolun</a> para obter mais informações.&nbsp;</p>
<h5>
<a name="copyright-etc"></a>Como posso enviar uma reclamação sobre direitos autorais, falsa identidade, marcas registradas ou outras questões abordadas nos Termos de Serviço?</h5>
<p>Consulte nossa <a href="/articles/18367-trademark-policy">seção Termos de Serviço</a> para saber o que constitui uma violação e como resolver um problema relacionado a isso.</p>
<h5>
<a name="troubleshooting"></a>Está com problemas?</h5>
<p>Dê uma olhada em nossa <a href="/categories/283">seção de solução de problemas</a> para saber como resolver problemas comuns.</p>


      </div>
      </div>
      </div>


  <app-footer></app-footer>