<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-block">
                <div class="details-header">
                    <div class="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="card primaryCard">
                <div class="card-content">
                    <div class="row iconBack">
                        <a routerLink="/profile/{{idLogin}}/actions"><i class="material-icons arrow">arrow_back</i></a>
                        <div class="col titleCard titleVol vcenter">
                            {{vol?.name}}
                        </div>
                        <div class="col text-right iconCard pointer underline" (click)="openEditModal()">
                            <i class="material-icons">mode_edit</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Descrição
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            {{vol?.description}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Detalhes da Ação
                        </div>
                    </div>
                </div>
                <div class="card-content m-b">
                    <div class="row">
                        <div class="col-12 content-details">
                            <span class="desc-title">Tipo de Voluntariado:</span> {{vol?.category_name}}
                        </div>
                        <div class="col-12 content-details">
                            <span class="desc-title m-b">Seguro:</span> <span *ngIf="vol?.insurance">Sim</span><span *ngIf="!vol?.insurance">Não</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Fotografias da Ação
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-4" *ngFor="let photo of vol?.photos">
                            <div class="image-event">
                                <img [src]="photo">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Localização
                        </div>
                    </div>
                </div>
                <div class="card-content" style="display: flex; height:67px">
                    <div class="row">
                        <div class="col-12" style="display:flex">
                            <div class="address" style="display:flex; align-items: center">
                                {{address}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Data
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="addressTitle">
                                {{vol?.date_begin | date:"d"}} de {{vol?.date_begin | date:"MMMM"}} - {{vol?.date_end | date:"d"}} de {{vol?.date_end | date:"MMMM"}}
                            </div>
                            
                            <div class="Address" *ngIf="vol?.start_time">
                                {{vol?.date_begin | date:"d"}} de {{vol?.date_begin | date:"MMMM"}} às {{vol?.start_time | timePipe}} até {{vol?.date_end
                                | date:"d"}} de {{vol?.date_end | date:"MMMM"}}<span *ngIf="vol?.end_time"> às {{vol?.end_time | timePipe}}</span>
                            </div> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitleMap">

                    <div class="row">
                        <div class="col titleCard no-padding">
                            Mapa
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">

                        <div class="col-12">

                            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="14">
                                <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                            </sebm-google-map>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="vol?.active == 1">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Convidar Pessoas</div>
                            <div class="see-all ml-auto" (click)="openViewAll(3,1)">Ver convites</div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <input type="text" class="inputInvite" placeholder="Procurar pessoas ou instituições...">

                </div>
            </div>
        </div>

    </div>

    <div class="row" *ngIf="vol?.active == 1">
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Candidatos <span *ngIf="numberCandidates!=0">({{numberCandidates}})</span></div>
                            <div class="see-all ml-auto" (click)="openViewAll(1,idVol)" *ngIf="numberCandidates!=0">Ver todos</div>
                        </div>
                    </div>
                </div>
                <div class="card-content candidates-zone">
                    <ul class="list-group">
                        <li *ngFor="let candidate of candidates" class="listPerson no-border no-margin">
                            <div class="row no-margin">
                                <div class="card-user-image">
                                    <img src="{{candidate?.photo_url}}">
                                    <span class="candidateName">{{candidate?.name}}</span>
                                </div>
                                <div class="col text-right no-padding">
                                    <button type="button" class="btn  btnCancel" (click)="openRemoveConfirmCandidate(5, idVol, candidate?.id_user, candidate?.name)">RECUSAR</button>
                                    <button type="button" class="btn  btnConfirm" (click)="confirmCandidate(candidate?.id_user)">ACEITAR</button>
                                </div>
                            </div>
                        </li>
                        <div *ngIf="candidates==undefined || candidates==null || candidates==''" class="no-candidates">
                            <div class="text-center icon-no-candidates"><i class="material-icons">event_busy</i></div>
                            <div class="text-center text-no-candidates">Neste momento, ainda não possui candidatos para esta ação de voluntariado.<span class="text-see"> Convidar voluntários</span></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Confirmados <span *ngIf="numberConfirms!=0">({{numberConfirms}})</span></div>
                            <div class="see-all ml-auto" (click)="openViewAll(2,idVol)" *ngIf="numberConfirms!=0">Ver todos</div>
                        </div>
                    </div>
                </div>
                <div class="card-content candidates-zone">
                    <ul class="list-group">
                        <li *ngFor="let confirmed of confirmeds; let i= index" class="listPerson no-border no-margin">
                            <div class="row no-margin">
                                <div class="card-user-image">
                                    <img src="{{confirmed?.photo_url}}">
                                    <span class="candidateName">{{confirmed?.name}}</span>
                                </div>
                                <div class="col text-right no-padding">
                                    <button type="button" class="btn btnRemove" (click)="openRemoveConfirm(4, idVol, confirmed?.id_user, confirmed?.name, i)">REMOVER</button>
                                </div>
                            </div>
                        </li>
                        <div *ngIf="confirmeds==undefined || confirmeds==null || confirmeds==''" class="no-candidates">
                            <div class="text-center icon-no-candidates"><i class="material-icons">event_busy</i></div>
                            <div class="text-center text-no-candidates">Neste momento, ainda não possui voluntários confirmados para esta ação de voluntariado.
                                <span class="text-see" *ngIf="candidates!=undefined" (click)="openViewAll(1,idVol)"> Ver candidatos</span>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="vol?.active == 0">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Voluntários</div>
                            <div class="see-all ml-auto" (click)="openViewAll(1,idVol)" *ngIf="numberCandidates!=0">Ver todos</div>
                        </div>
                    </div>
                </div>
                <div class="card-content candidates-zone">
                    <ul class="list-group">
                        <li *ngFor="let confirmed of confirmeds; let i= index" class="listPerson no-border no-margin">
                            <div class="row no-margin">
                                <div class="card-user-image">
                                    <img src="{{confirmed?.photo_url}}">
                                    <span class="candidateName link" [routerLink]="['../../../'+confirmed.id_user+'/about']">{{confirmed?.name}}</span>
                                </div>
                                <div class="col text-right no-padding user-rate" *ngIf="confirmedsReady">
                                    <md-icon *ngFor="let star of confirmed?.classification">star_rate</md-icon>
                                    <md-icon *ngFor="let star of confirmed?.classification_negative">star_border</md-icon>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Comentários</div>
                            <div class="see-all ml-auto"></div>
                        </div>
                    </div>
                </div>
                <div class="comments-section">
                    <div class="card-Comments" #scrollMe *ngIf="numberComments>0">
                        <div class="col-12" *ngFor="let comment of comments">
                            <div class="row comments-header">
                                <div class="col card-user--comments-image col-md-auto">
                                    <img src="{{comment.photo_url}}">
                                </div>
                                <div class="col-8 card-user-nd">
                                    <div class="card-user-name-comments ts13">{{comment.name}}</div>
                                    <div class="card-date-comments ts12">{{comment.date | amTimeAgo: true}}</div>
                                </div>
                                <div class="col card-option-comments text-right">
                                    <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                                    <md-menu #menu="mdMenu">
                                        <button md-menu-item>
                                    <md-icon>dialpad</md-icon>
                                    <span>Redial</span>
                                </button>
                                        <button md-menu-item disabled>
                                    <md-icon>voicemail</md-icon>
                                    <span>Check voicemail</span>
                                </button>
                                        <button md-menu-item>
                                    <md-icon>notifications_off</md-icon>
                                    <span>Disable alerts</span>
                                </button>
                                    </md-menu>
                                </div>
                            </div>
                            <div class="row comments-content">
                                <div class="col-12 ts13">
                                    {{comment.message}}
                                </div>
                            </div>
                            <div class="borderComments"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
        <div class="ts14 more-Comments">
                <span class="textMoreComments">Carregar mais comentários</span><span class="moreIcon"> +</span>
        </div>
        -->
            <div class="col-12 insert-comment">
                <div style="display:flex">
                    <div class="card-user--comments-image card-user-comments-image-comments">
                        <img src="{{vol?.user.photo_url}}">
                    </div>
                    <div style="width:93%">
                        <md-input-container class="width100">
                            <input mdInput [(ngModel)]="comentario" (keyup.enter)="sendComment(comentario)">
                        </md-input-container>
                    </div>
                    <div class="text-center" style="padding-left:15px;">
                        <md-icon class="btnSendIcon btnSendColorGrey" (click)="sendComment(comentario)">send</md-icon>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row btnsBack" *ngIf="vol?.active == 1">
        <div class="col-6">
            <button class="btn btnCancel1" (click)="openDelete(1, vol.id_vol, vol.date_begin, vol.name)">APAGAR AÇÃO</button>
        </div>
        <div class="col-6">
            <button class="btn btnEnd" (click)="openEnd(2,1)">FINALIZAR AÇÃO</button>
        </div>
    </div>
</div>