<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="card primaryCard">
                <div class="card-content">
                    <div class="row iconBack">
                        <a routerLink="/profile/{{idLogin}}/actions"><i class="material-icons arrow">arrow_back</i></a>
                        <div class="col titleCard titleVol vcenter">
                            {{vols?.name}}
                        </div>
                        <div class="col text-right iconCard">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Descrição
                        </div>
                        <div class="col text-right iconCard no-padding">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                        {{vols?.desc}}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Detalhes da Ação
                        </div>
                        <div class="col text-right iconCard no-padding">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
                <div class="card-content m-b">
                    <div class="row">
                        <div class="col-12 content-details">
                            <span class="desc-title">Tipo de Voluntariado:</span> Solidariedade Social
                        </div>
                        <div class="col-12 content-details">
                            <span class="desc-title m-b">Seguro:</span> <span *ngIf="vols?.insurance">Sim</span><span *ngIf="!vols?.insurance">Não</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

            <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Fotografias da Ação
                        </div>
                        <div class="col text-right iconCard no-padding">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-4">
                            <div class="image-event">
                                <img src="http://www.lusonoticias.com/images/stories/2016/LusoNoticias/banco_alimentar.jpg">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image-event">
                                <img src="http://www.porto24.pt/wp-content/uploads/banco-alimentar-contra-a-fome_DR-1-983x550-32nhgkfgxtl5wdosysl1q8.jpg">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="image-event">
                                <img src="http://bancoalimentar.pt/image/933.jpg">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    


    <div class="row">
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Localização
                        </div>
                        <div class="col text-right iconCard no-padding">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="addressTitle">
                                {{addressName[vols?.id_vol]}}
                            </div>
                            <div class="Address">
                                {{address[vols?.id_vol]}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            Data
                        </div>
                        <div class="col text-right iconCard no-padding">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-12">
                            <div class="addressTitle">
                                {{vols?.date_begin | date:"d"}} de {{vols?.date_begin | date:"MMMM"}} - {{vols?.date_end | date:"d"}} de {{vols?.date_end | date:"MMMM"}}
                            </div>
                            <div class="Address">
                                {{vols?.date_begin | date:"d"}} de {{vols?.date_begin | date:"MMMM"}} às  {{hora_inicio}}:{{minutos_inicio}} até {{vols?.date_end | date:"d"}} de {{vols?.date_end | date:"MMMM"}} às  {{hora_fim}}:{{minutos_fim}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitleMap">

                    <div class="row">
                        <div class="col titleCard no-padding">
                            Mapa
                        </div>
                        <div class="col text-right iconCard no-padding">
                            <i class="material-icons edit">create</i>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">

                        <div class="col-12">
                         
                            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="14" [styles]="Terrain">
                            <sebm-google-map-marker [latitude]="lat" [longitude]="lng" ></sebm-google-map-marker>
                            </sebm-google-map>
             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <div class="row">
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Convidar Pessoas</div>
                            <div class="see-all ml-auto" (click)="openViewAll(3,1)">Ver convites</div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <input type="text" class="inputInvite" placeholder="Procurar pessoas ou instituições...">

            </div>
        </div>
        </div>
        
    </div>
  
    <div class="row">
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Candidatos (7)</div>
                            <div class="see-all ml-auto" (click)="openViewAll(1,idVol)" *ngIf="candidates!=undefined">Ver todos</div>
                    </div>
                    </div>
                </div>
                <div class="card-content candidates-zone">
                    <ul class="list-group">
                        <li *ngFor="let candidate of candidates" class="listPerson no-border no-margin">
                            <div class="row no-margin">
                                <div class="card-user-image">
                                    <img src="{{candidate?.photo_url}}">
                                    <span class="candidateName">{{candidate?.name}}</span>
                                </div>
                                <div class="col text-right no-padding">
                                    <button type="button" class="btn btn-outline-primary btnCancel" (click)="openRemoveConfirm(4, idVol, candidate?.id_user, candidate?.name)">RECUSAR</button>
                                    <button type="button" class="btn btn-outline-primary btnConfirm">ACEITAR</button>
                                </div>
                            </div>
                        </li>
                        <div *ngIf="candidates==undefined || candidates==null || candidates==''"  class="no-candidates">
                        <div class="text-center icon-no-candidates"><i class="material-icons">event_busy</i></div>
                        <div class="text-center text-no-candidates">Neste momento, ainda não possui candidatos para esta ação de voluntariado.<span class="text-see"> Convidar voluntários</span></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Confirmados (12)</div>
                            <div class="see-all ml-auto" (click)="openViewAll(2,idVol)" *ngIf="confirmeds!=undefined">Ver todos</div>
                        </div>
                    </div>
                </div>
                <div class="card-content candidates-zone">
                    <ul class="list-group">
                        <li *ngFor="let confirmed of confirmeds"class="listPerson no-border no-margin">
                            <div class="row no-margin">
                                <div class="card-user-image">
                                    <img src="{{confirmed?.photo_url}}">
                                    <span class="candidateName">{{confirmed?.name}}</span>
                                </div>
                                <div class="col text-right no-padding">
                                    <button type="button" class="btn btnRemove" (click)="openRemoveConfirm(4, idVol, confirmed?.id_user, confirmed?.name)">REMOVER</button>
                                </div>
                            </div>
                        </li>
                        <div *ngIf="confirmeds==undefined || confirmeds==null || confirmeds==''"  class="no-candidates">
                        <div class="text-center icon-no-candidates"><i class="material-icons">event_busy</i></div>
                        <div class="text-center text-no-candidates">Neste momento, ainda não possui voluntários confirmados para esta ação de voluntariado.<span class="text-see"  *ngIf="candidates!=undefined" (click)="openViewAll(1,idVol)"> Ver candidatos</span></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
         
        <div class="col-12">
            <div class="card primaryCard">
                <div class="card-header cardTitle">
                    <div class="row">
                        <div class="col titleCard no-padding">
                            <div>Discussão</div>
                            <div class="see-all ml-auto"></div>
                        </div>
                    </div>
                </div>
                <div class="comments-section row">
                    
                    <div class="row card-Comments no-padding">
                        <div class="col-12 ">
                            <div class="row comments-header">
                                <div class="col card-user--comments-image col-md-auto">
                                    <img src="assets/imgs/avatar.png">
                                </div>
                                <div class="col-8 card-user-nd">
                                    <div class="card-user-name-comments ts13">Pedro Araújo</div>
                                    <div class="card-date-comments ts12">10 horas</div>
                                </div>
                                <div class="col card-option-comments text-right">
                                    <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                                    <md-menu #menu="mdMenu">
                                        <button md-menu-item>
                                <md-icon>dialpad</md-icon>
                                <span>Redial</span>
                            </button>
                                        <button md-menu-item disabled>
                                <md-icon>voicemail</md-icon>
                                <span>Check voicemail</span>
                            </button>
                                        <button md-menu-item>
                                <md-icon>notifications_off</md-icon>
                                <span>Disable alerts</span>
                            </button>
                                    </md-menu>
                                </div>
                            </div>
                            <div class="row comments-content">
                                <div class="col-12 ts13">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla diam id tellus convallis finibus. In hac habitasse platea dictumst. Sed m alesuada ante eget lorem In hac habitasse platea dictumst. Sed male suada ante eget
                                </div>
                            </div>
                            <div class="borderComments"></div>
                        </div>
                        <div class="col-12 ">
                            <div class="row comments-header">
                                <div class="col card-user--comments-image col-md-auto">
                                    <img src="assets/imgs/avatar.png">
                                </div>
                                <div class="col-8 card-user-nd">
                                    <div class="card-user-name-comments ts13">Pedro Araújo</div>
                                    <div class="card-date-comments ts12">10 horas</div>
                                </div>
                                <div class="col card-option-comments text-right">
                                    <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                                    <md-menu #menu="mdMenu">
                                        <button md-menu-item>
                                <md-icon>dialpad</md-icon>
                                <span>Redial</span>
                            </button>
                                        <button md-menu-item disabled>
                                <md-icon>voicemail</md-icon>
                                <span>Check voicemail</span>
                            </button>
                                        <button md-menu-item>
                                <md-icon>notifications_off</md-icon>
                                <span>Disable alerts</span>
                            </button>
                                    </md-menu>
                                </div>
                            </div>
                            <div class="row comments-content">
                                <div class="col-12 ts13">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla diam id tellus convallis finibus. In hac habitasse platea dictumst. Sed m alesuada ante eget lorem In hac habitasse platea dictumst. Sed male suada ante eget
                                </div>
                            </div>
                            <div class="borderComments"></div>
                        </div>
                        </div>
                </div>
        </div>
        <div class="ts14 more-Comments">
                <span class="textMoreComments">Carregar mais comentários</span><span class="moreIcon"> +</span>
            </div>

            <div class="col-12 insert-comment">
                <div class="row">
                    <div class="col-1 card-user--comments-image card-user-comments-image-comments">
                        <img src="assets/imgs/avatar.png">
                    </div>
                    <div class="col">
                        <md-input-container class="width100">
                            <input mdInput>
                        </md-input-container>
                    </div>
                    <div class="col-1 btnSend text-center">
                        <md-icon class="btnSendIcon btnSendColorGrey">send</md-icon>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        

 
    <div class="row btnsBack">
        <div class="col-6">
            <button class="btn btnCancel1" (click)="openEnd(1,1)">APAGAR AÇÃO</button>
        </div>
        <div class="col-6">
            <button class="btn btnEnd" (click)="openEnd(2,1)">FINALIZAR AÇÃO</button>
        </div>
    </div>
</div>