@import '../../../../variables';


.no-padding {
  padding-right: 0!important;
}

.btnCancel {
  margin: 0;
}

.btnConfirm {
  margin: 0;
}

.iconBack {
  margin-left: -2px!important;
  margin-top: 2px;
}

.arrow {
  margin-top: 2px;
}
.user-rate md-icon{
    color: $yellow;
 }

.titleCard {
  display: flex;
  font-weight: $bold;
}

.titleVol {
  margin-top: 2px!important;
  font-size:18px;
}

.card-header {
  padding:15px 30px 15px 30px!important;
}

.edit {
  margin-top: 2px;
  font-size: 20px;
  color: $grey2;
}

.btnCancel {
  margin-top: 6px;
}

.btnConfirm {
  margin-top: 6px;
}

.btnRemove {
  margin-top: 6px;
}

.btnCancel1 {
    border-radius:0px;
    font-size: 14px;
    border: 1px solid $grey2;
    background-color: $white;
    color: $grey2!important;
    width: 100%;
    height: 50px;
    cursor:pointer;
    margin-top: 40px;
}

.btnCancel1:hover {
    border: 1px solid $grey2;
    background-color: $grey2;
    color: $white!important;
}

.btnEnd:hover {
    border: 1px solid $blue;
    background-color: $white;
    color: $blue!important;
}


.btnEnd {
    border-radius:0px;
    font-size: 14px;
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff!important;
    width: 100%;
    height: 50px;
    cursor:pointer;
    margin-top: 40px;
}

.badge {
  padding: 5px 5px;
  background-color: $blue;
  margin-left: 7px;
  border-radius: 50px;
}

.see-all {
  color: $blue;
  font-size:15px;
  font-weight: $bold;
  padding-top:1px;
  cursor:pointer;
}


.card-content {
  padding: 15px 15px 15px 15px;

}

.primaryCard {
  margin-top: 25px;
  font-size: 16px;
  border: 0;
}

.cardTitle {
  background: #fff;
  float: none;
}

.cardTitleMap {
  background: #fff;
  border-bottom: 2px solid $blue;
  display: inline-block;
  vertical-align: middle;
  float: none;
}


.addressTitle {
  font-weight: bold;
}


.sebm-google-map-container {
  height: 200px;
}


.no-border {
  border: 0!important;
}

.card-user-image {
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-user-image img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 0;
    object-fit: cover;
}

.listPerson{
 list-style-type: none;
 padding: 10px 0px;
}


.candidateName{
  margin-left: 10px;
}


.inputText {
  height: 45px;
  font-size:16px;
  border:1px solid $grey1;
  border-radius:5px;
  width:100%;
  color: $grey3;
  padding:10px 10px 10px 10px;
}

.inputText:focus {
  outline: none;
}

.desc-title {
  font-weight:$bold;
}

.content-details {
   margin-top:10px;
}

.image-event {
  height:78px;
  border: 1px dashed $grey1;
  border-radius:6px;
}

.image-event img {
  height:78px;
  width: 100%;
  object-fit: cover;
}

.m-b {
  padding-bottom:20px;
}

.inputInvite {
  width:100%;
  border:0;
  margin-bottom:10px;
  margin-bottom:10px;
  font-size:14px;
  color:$grey2;
}

.table th {
  max-width: 200px
}

.table td {
  max-width: 200px;
}


.cardComments {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex: 2;
    margin-left: 10px;
}

.cardComments md-icon {
    padding-top: 7.5px;
    font-size: 20px;
}

.textComments {
    padding-top: 7.5px;
    cursor: pointer;
}

.textComments:hover {
    text-decoration: underline
}

.commentsNumber {
    font-weight: 600;
}

.card-Comments {
}

.comments-header {
    background-color: $grey0;
    padding-top: 15px;
    padding-bottom: 5px;
    border-left: 1px solid $grey1;
    border-right: 1px solid $grey1;
}

.card-user--comments-image {
    padding-right: 10px;
}

.card-user--comments-image img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: 1.5px;
}

.card-user-nd {
    padding-left: 0;
}

.card-user-name-comments {
    color: $grey3;
    font-weight: 600;
}

.card-date-comments {
    margin-top: -3px;
    color: $grey2;
}

.card-option-comments {
    padding-top: 3px;
}

.comments-content {
    background-color: $grey0;
    padding-top: 10px;
    padding-bottom: 15px;
    border-left: 1px solid $grey1;
    border-right: 1px solid $grey1;
}

.borderComments {
    min-width: 100%;
    height: 1px;
    background-color: $grey1;
    margin-right: -15px;
    margin-left: -15px;
}

.more-Comments {
    width: 100%;
    text-align: center;
    height: 42px;
    font-weight: 600;
    border-bottom: 1px solid $grey1;
    padding-top: 2px;
    transition: all 0.3s ease;
    color: $grey2;
    background: $white;
    border-right: 1px solid $grey1;
    border-left: 1px solid $grey1;
}

.more-Comments:hover {
    cursor: pointer;
    color: $orange;
}

.textMoreComments {
    vertical-align: middle
}

.moreIcon {
    font-size: 24px;
    font-weight: 700;
    vertical-align: middle
}

.insert-comment {
    padding-top: 10px;
    background: $white;
     border-right: 1px solid $grey1;
    border-left: 1px solid $grey1;
    border-bottom: 1px solid $grey1;
}

.btnSend {
    padding-left: 0;
}

.btnSendIcon {
    padding-top: 10px;
}

.btnSendIcon:hover {
    cursor: pointer;
}

.btnSendColorBlue {
    color: $blue;
}

.btnSendColorGrey {
    color: $grey1;
}

.card-user-comments-image-comments {
    padding-top: 5px;
}

.text-no-candidates {
  font-size: 14px;
  color: $grey2;
}
.icon-no-candidates {
  font-size: 14px;
  color: $grey2;
}

.no-candidates {
  padding:62px 20px 62px 20px;
}

.text-see {
  font-weight: $bold;
  font-size:14px;
  cursor:pointer;
  color: $blue;
}

.text-see:hover {
  color:$grey3;
}

////

.iconCard {
  margin-top: 2px;
  color: $grey2;
}


.iconCard:hover {
  margin-top: 2px;
  color: $blue;
}
