<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="container">
            <div class="row headerNotifications">
              <div class="col titleCard">
                Notificações
              </div>
              <div class="col text-right iconCard">
                <i class="material-icons edit">more_horiz</i>
              </div>
            </div>
          </div>
        </div>

      <div *ngIf="notificationsTrue">
        <div (click)="openVolDetails(notification?.id_vol)" *ngFor="let notification of notifications" class="card-block not-item">
            <div class="container">
              <div class="row ">
                <div class="col-12 not-content">
                  <div class="image">
                    <img src="{{notification.photo_url}}">
                  </div>
                  <div class="notDesc">
                    <span class="not-name">{{notification?.user_name}}</span> candidatou-se à
                    ação de voluntariado <span class="notEvent">"{{notification?.vol_name}}"</span>.
                    <div class="notTime">
                      {{notification?.date | amTimeAgo:true}}
                    </div>
                  </div>


                </div>
              </div>
              <div class="col text-right not-icon no-padding pointer">
                <i class="material-icons edit">event_note</i>
              </div>
            </div>
          </div>


        </div>
        <div *ngIf="!notificationsTrue">
           <div class="container">
            <div class="row ">
              <div class="col-12 text-center">
                <div class="icon-undefined">
                 <i class="material-icons">access_time</i>
                  </div>
                <div class="text-undefined">Não possui qualquer notificação.</div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>