<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-block" style="margin-top:100px;">
                <div class="ui-block-title">
                    <h6>Notificações</h6>
                </div>
                <ul class="page-classification-list" *ngIf="notificationsTrue">
                    <li *ngFor="let notification of notifications">
                        <div class="page-classification-header">
                            <div class="page-classification-picture">
                                 <img src="{{notification.photo_url}}">
                            </div>
                            <div class="page-classification-action">
                                <h6><a class="page-classification-name-user underline">{{notification?.user_name}}</a>  candidatou-se à ação de voluntariado <a class="page-classification-name-action underline">{{notification?.vol_name}}</a></h6>
                                <p>{{notification?.date | amTimeAgo:true}}</p>
                            </div>
                            <div class="page-classification-more">
                                <i class="material-icons">event_note</i>
                            </div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="!notificationsTrue" class="text-center no-notification">
                    <div class="icon-undefined">
                        <i class="material-icons">access_time</i>
                    </div>
                    <p>Não possui qualquer notificação.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<app-footer></app-footer>
-->