<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="container">
            <div class="row headerNotifications">
              <div class="col titleCard">
                Notificações
              </div>
              <div class="col text-right iconCard">
                <i class="material-icons edit">more_horiz</i>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block not-item">
          <div class="container">
            <div class="row ">
              <div class="col-12 not-content">
                <div class="image">
                    <img src="assets/imgs/andre.jpg">
                </div>
                <div class="notDesc">
                  <span class="not-name">André Martins</span> gostou do teu evento <span class="notEvent">Solidariedade com os pobres</span>.
                <div class="notTime">
                  há 4 horas
                </div>
                </div>
              
           
              </div>
            </div>
             <div class="col text-right not-icon no-padding">
                <i class="material-icons edit">event_note</i>
              </div>
          </div>


        </div>
        <div class="card-block not-item">
          <div class="container">
            <div class="row ">
              <div class="col-12 not-content">
                <div class="image">
                    <img src="assets/imgs/andre.jpg">
                </div>
                <div class="notDesc">
                  <span class="not-name">André Martins</span> aderiu ao teu evento <span class="notEvent">Solidariedade com os pobres</span>.
                <div class="notTime">
                  há 4 horas
                </div>
                </div>
              </div>
            </div>
              <div class="col text-right not-icon no-padding">
                <i class="material-icons edit">event_note</i>
              </div>
          </div>


        </div>
        <div class="card-block not-item">
          <div class="container">
            <div class="row ">
              <div class="col-12 not-content">
                <div class="image">
                    <img src="assets/imgs/andre.jpg">
                </div>
                <div class="notDesc">
                  <span class="not-name">André Martins</span> aderiu ao teu evento <span class="notEvent">Solidariedade com os pobres</span>.
                <div class="notTime">
                  há 4 horas
                </div>
                </div>
              </div>
            </div>
              <div class="col text-right not-icon no-padding">
                <i class="material-icons edit">event_note</i>
              </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>