  <div class="row" *ngIf="vols  && vols.length>0">
    <div class="col-md-4" *ngFor="let vol of vols">
        <div class="ui-block">
           <div class="action-header-picture">
                
                <div class="ui-block-header">
                    <div class="action-header">
                        <div class="action-day">{{vol?.vol.date_begin | date:"d"}}</div>
                        <div class="action-month">{{vol?.vol.date_begin | date:"MMM"}}</div>
                    </div>
                    <div>
                    <h5>{{vol?.vol.name}}</h5>
                    <p>{{vol?.vol.date_begin | date:"d"}} de {{vol?.vol.date_begin | date:"MMMM"}} <span *ngIf="vol?.date_end">a {{vol?.vol.date_end | date:"d"}} de {{vol?.vol.date_end | date:"MMMM"}}</span></p>
                    </div>
                </div>

                <img src="{{vol?.vol.photos[0]}}">  
            </div>

            <div class="action-item-content">
                <div class="action-creator">
                    <div class="action-creator-avatar underline">
                        <img src="{{vol?.user.photo_url}}">  
                    </div>
                    <div class="action-creator-text">
                        <p><span class="action-creator-name underline" (click)="openProfileModal(vol.user.id_user)">{{vol?.user.name}}</span> criou a <span class="action-creator-color">ação</span></p>
                        <p class="action-creater-date-creation">Criada em: {{vol?.vol.date_creation | date:"d/M"}} às {{vol?.vol.date_creation | date:"shortTime"}}</p>
                    </div>
                </div>
                <div class="action-description">
                  
                    <p>{{vol?.vol.description}}</p>
                </div>
                <div class="action-count">
                    <div class="action-count-item">
                        <div class="action-count-item-number c-s">
                            {{vol?.score}}
                        </div>
                        <div class="action-count-item-title">
                            Classificação
                        </div>
                    </div>
                    <div class="action-count-item pointer" (click)="openModal(2, vol.vol.id_vol)">
                        <div class="action-count-item-number c-p">
                            {{vol?.participants}}
                        </div>
                        <div class="action-count-item-title">
                            Participantes
                        </div>
                    </div>
                </div>
                 <div class="action-footer">
                    <a class="btn btn-bevolun-small btn-bevolun-grey mr-2">Apagar</a>
                    <a class="btn btn-bevolun-small btn-bevolun-primary" (click)="seeDetails(vol.vol.id_vol)">Ver</a>
                </div>   
            </div>
           
        </div>
    </div>

  </div>    
   <div class="container text-center no-content" style="margin-top:20px;" *ngIf="!vols || vols.length==0">
       <div ><i class="material-icons">alarm</i></div>
      <span style="font-weight: 400">Não possui ações finalizadas.</span>
      </div>