  <div class="row">
    <div class="col-12 table">
      <table class="table">
        <thead class="thead-inverse" class="cabecalho">
          <tr>
            <th>TITULO</th>
            <th>LOCALIZAÇÃO</th>
            <th>DATA</th>
            <th>PARTICIPANTES</th>
            <th>CLASSIFICAÇÃO</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableText">
            <td class="tableBold tableTitle">Técnico de juventude</td>

          <td class="tablePlace">
              <div class="tableBold">Rio Febros</div>
              <div class="">Rua do Febros, 3810-164</div>
              <div>Porto, Portugal</div>
            </td>
            <td class="tableDate">
              <div class="tableBold">8 de março - 12 de março</div>
              <div class="">8 de março às 18:00 até 12 de março às 12:00</div>
            </td>

            <td class="tableDate">
              <span class="numberIn blue">105</span><span>  participantes</span>
            </td>
            
            <td class="ellipsis">
              <div class="col user-rate">
                    <md-icon>star_rate</md-icon>
                     <md-icon>star_rate</md-icon>
                      <md-icon>star_rate</md-icon>
                       <md-icon>star_rate</md-icon>
                    <md-icon >star_border</md-icon>
                </div>
            </td>

            

           

            <td class="tableBtns">
              <div class="text-right">
                <button class="btn btnConfirm" >VER</button>
              </div>
              <div class="text-right">
                <button class="btn btnCancel" >OCULTAR</button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>