<div class="row">
    <div class="col-lg-3 col-12">
          <div class="card cardFriends text-center">
            <div class="friendsBackground">
                <img class="coverImg" src='./assets/imgs/backgroundOV.jpg'>
            </div>
            <div class="profile-user-picture text-center">
                <img src="./assets/imgs/ondaverde.jpg" alt="profile user picture" />
            </div>
            <div class="friendsName">
              Cáritas Aveiro
            </div>
            <div class="friendsPlace">
              Cacia, Aveiro
            </div>
            <div class="row friendsEvents">
              <div class="col-6">
                <div class="friendsCardNumber">45</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
              <div class="col-6">
                <div class="friendsCardNumber">13</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
            </div>
            <div class="row text-center friendsBtns">
              <div class="col-6">
                  <a class="btn btn-outline-primary btnCancel marginBtnL" routerLink="/profile/details">ELIMINAR</a>
              </div>
              <div class="col-6 ">
                <a class="btn btn-outline-primary btnConfirm marginBtnR" routerLink="/profile/details">VER</a>
              </div>
            </div>
          </div>
    </div>

     <div class="col-lg-3 col-12">
          <div class="card cardFriends text-center">
            <div class="friendsBackground">
                <img class="coverImg" src='./assets/imgs/solidariedade.jpg'>
            </div>
            <div class="profile-user-picture text-center">
                <img src="./assets/imgs/caritas_logo.gif" alt="profile user picture" />
            </div>
            <div class="friendsName">
              Cáritas Aveiro
            </div>
            <div class="friendsPlace">
              Estarreja, Aveiro
            </div>
            <div class="row friendsEvents">
              <div class="col-6">
                <div class="friendsCardNumber">45</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
              <div class="col-6">
                <div class="friendsCardNumber">13</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
            </div>
            <div class="row text-center friendsBtns">
              <div class="col-6">
                  <a class="btn btn-outline-primary btnCancel marginBtnL" routerLink="/profile/details">ELIMINAR</a>
              </div>
              <div class="col-6 ">
                <a class="btn btn-outline-primary btnConfirm marginBtnR" routerLink="/profile/details">VER</a>
              </div>
            </div>
          </div>
    </div>


<div class="col-lg-3 col-12">
          <div class="card cardFriends text-center">
            <div class="friendsBackground">
                <img class="coverImg" src='./assets/imgs/manos.jpg'>
            </div>
            <div class="profile-user-picture text-center">
                <img src="./assets/imgs/santacasa.png" alt="profile user picture" />
            </div>
            <div class="friendsName">
              Santa Casa da Misericordia
            </div>
            <div class="friendsPlace">
              Cacia, Aveiro
            </div>
            <div class="row friendsEvents">
              <div class="col-6">
                <div class="friendsCardNumber">45</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
              <div class="col-6">
                <div class="friendsCardNumber">13</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
            </div>
            <div class="row text-center friendsBtns">
              <div class="col-6">
                  <a class="btn btn-outline-primary btnCancel marginBtnL" routerLink="/profile/details">ELIMINAR</a>
              </div>
              <div class="col-6 ">
                <a class="btn btn-outline-primary btnConfirm marginBtnR" routerLink="/profile/details">VER</a>
              </div>
            </div>
          </div>
    </div>


<div class="col-lg-3 col-12">
          <div class="card cardFriends text-center">
            <div class="friendsBackground">
                <img class="coverImg" src='./assets/imgs/abrigoseguro_fundo.png'>
            </div>
            <div class="profile-user-picture text-center">
                <img src="./assets/imgs/abrigoseguro.jpg" alt="profile user picture" />
            </div>
            <div class="friendsName">
              Abrigo Seguro
            </div>
            <div class="friendsPlace">
              Avintes, Vila Nova de Gaia
            </div>
            <div class="row friendsEvents">
              <div class="col-6">
                <div class="friendsCardNumber">45</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
              <div class="col-6">
                <div class="friendsCardNumber">13</div>
                <div class="friendsCardNumberDesc">Eventos</div>
              </div>
            </div>
            <div class="row text-center friendsBtns">
              <div class="col-6">
                  <a class="btn btn-outline-primary btnCancel marginBtnL" routerLink="/profile/details">ELIMINAR</a>
              </div>
              <div class="col-6 ">
                <a class="btn btn-outline-primary btnConfirm marginBtnR" routerLink="/profile/details">VER</a>
              </div>
            </div>
          </div>
    </div>



    

    




</div>