<div class="col searchInput text-right no-padding">
  <form class="navbar-form" role="search">
    <div class="input-group">
      <input type="text" class="searchBar form-control" placeholder="Procurar instituições..." name="q">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="material-icons searchIcon">search</i></button>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-lg-3 col-12" *ngFor="let inst of institutions">
    <div class="card cardFriends text-center">
      <div class="friendsBackground">
        <img class="coverImg" src='{{inst.photo_url}}'>
      </div>
      <div class="profile-user-picture text-center">
        <img [src]="inst.photo_url" alt="profile user picture" />
      </div>
      <div class="friendsName">
        {{inst.name}}
      </div>
      <div class="friendsPlace">
        Cacia, Aveiro
      </div>
      <div class="row friendsEvents">
        <div class="col-6">
          <div class="friendsCardNumber">45</div>
          <div class="friendsCardNumberDesc">Eventos</div>
        </div>
        <div class="col-6">
          <div class="friendsCardNumber">13</div>
          <div class="friendsCardNumberDesc">Eventos</div>
        </div>
      </div>
      <div class="row text-center friendsBtns">
        <div class="col-6">
          <a class="btn btn-outline-primary btnCancel marginBtnL" routerLink="/profile/details">ELIMINAR</a>
        </div>
        <div class="col-6 ">
          <a class="btn btn-outline-primary btnConfirm marginBtnR" (click)="openProfileModal(inst.id_user)">VER</a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row mt-5" *ngIf="institutions.length == 0">
  <div class="col-12 text-center">
    <b><h3>Não segue nenhuma instituição</h3></b>
  </div>
</div>