@import '../../../../variables';

.insert-pictures{
    color: $primary;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    opacity: 1;
    cursor: pointer;
}

.insert-pictures:hover{
    opacity: 0.9;
}

.imageVol{
    height: 100px;
    border: 1px dashed $grey2;
    border-radius: 6px;
}

.imgPreview {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

.btn-insert-imgs{
    background-color: $primary;
}

.text-red {
    color: $red!important;
}

.map-size{
    width: 100%;
    height: 230px;
}
.form-control-danger{
    border-color: $red!important;
}

/deep/ .dropdown-menu {
    width: calc(100% - 30px)!important;
}

.disabledBtn{
    background:#6aa4ff;
}
/*
.inputProfile2 {
    margin-top: 30px;
}

.inputProfile3 {
    margin-top: 27px;
}

.addEducation {
    padding-left: 20px;
}



.btnSave {
    cursor:pointer;
    color: $white!important;
}

.btnSave:hover {
    color: $blue!important;
}

.text-error {
    color: $red;
    font-size:11px;
    padding-top:5px;
}

form > .control {
  position: relative;
}
form > .control > label {
  position: absolute;

}

label {
  position: absolute;
  top:10px;
  font-size:11px;
  color: $grey2;
}
input:focus + label {
    font-weight: $bold;
    color: $blue;
}
.error-label {
    font-weight: $bold;
}

.label-for-select {
     position: absolute;
     padding-left: 15px; 
    z-index:10!important;
}

select:focus + label {
    font-weight: $bold;
    color: $blue; 
}

textarea:focus + label {
    font-weight: $bold;
    color: $blue; 
}

.select-input {
    padding-top:25px;
    height: 60px!important;
    font-size:14px!important;
}

.date_picker {
    padding-left:15px!important;
}

/deep/ .dropdown-item {
    margin-left: 0px!important;
    font-size:14px;
    color: $grey2;
}

/deep/ .dropdown-item.active {
    background: $blue;
    color: $white;
}

/deep/ .control .dropdown-menu {
    width: 1070px;
    left:15px!important;
    border-radius:0!important;
    top: 54px!important;
    padding:0px;
}
.searched {
    padding-left:5px;
}

.content-search {
    padding: 10px 0px;
    display: flex;
}

.imgPreview {
    height: 75px;
    width: 150px;
    object-fit: cover;
}





$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: $blue;
$md-checkbox-border-color: $grey2;

$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;

$md-checkmark-width: 2px;
$md-checkmark-color: #fff;

.md-checkbox {


  label {
    cursor: pointer;
    &:before, &:after {
      content: "";
      position: absolute;
      left:0;
      top: 0;
    }
    
    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 2px solid $md-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: background .3s;
    }
  
    &:after {
      // checkmark
    }    
  }
  
  input[type="checkbox"] {
    outline: 0;
    margin-right: $md-checkbox-size - 10px;
    
    &:checked {
       + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {
        
        $md-checkmark-size: $md-checkbox-size - 2*$md-checkbox-padding;

        transform: rotate(-45deg);

        top: ($md-checkbox-size / 2) - ($md-checkmark-size / 4) - $md-checkbox-size/10;
        left: $md-checkbox-padding;
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;
        
        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      } 
    }
  }
 
}
*/