@import "../../../../styles";
@import '../actions/actions.component';

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.form-control {
  border-radius: 0px;
}

.searchIcon {
  font-size: 17px;
  color: #fff;
  margin-top: 6px;
}

.searchBar {
  font-size: 16px;
  color: $grey2;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $grey2;
    font-size: 14px;
    font-family: Lato;
    border-color: black!important
}


// card amigos

.cardFriends {
  margin-top: 30px;
  height: 335px;
  background: #fff;
  border: 0;
  width: 100%;
  display: flex;
  align-items: center;
}


.profile-user-picture{
  text-align: center;
  margin-top:-50px!important;

}
.profile-user-picture img{
    width: 100px;
    height: 100px;
    border-radius: 120px;
    border: solid 5px $white;
    text-align: center!important;
    object-fit: cover;
}

.friendsName {
  text-align: center;
  font-weight: $bold;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}

.friendsPlace {
  text-align: center;
  color: $grey4;
  font-size: 12px;
}

.friendsEvents {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.friendsCardNumber {
  font-weight: $bold;
  font-size: 14px;
}

.friendsCardNumberDesc {
  color: $grey4;
  font-size:12px;
  text-align: center;
}

.friendsBtns {
  margin-top: 28px;
}


.btnConfirm {
  margin-left: -10px;
  margin-top: 0;
}

.btnCancel {
  margin-left: 5px;
  margin-top: 0;
}


.friendsBackground {
  height: 100px;
  width: 100%;
  background-size:cover;
}

.coverImg {
  height:100px;
  width: 100%;
  object-fit: cover;
}

.header-bar {
  padding:20px 20px 20px 20px;
}

.vcenter {
  margin-top:10px;
}

.searchInput {
    position: absolute;
    width: 339px;
    float: left;
    top: -55px;
    left: 767px;
}





// NEW 
.follow-item {
    border-radius: 5px;
    overflow: hidden;
}

.follow-item-cover {
    height: 120px;
    overflow: hidden;
    background-color: $primary;
}

.follow-item-cover img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    opacity: 0.5;
}

.follow-item-content{
    padding: 0 25px 25px 25px;
    text-align: center;
    position: relative;
}

.follow-avatar {
    margin-top: -49px;
    position: relative;
    margin-bottom: 30px;
}

.follow-avatar .follow-picture {
    margin: 0 auto;
    height: 98px;
    width: 98px;
    margin-bottom: 10px;
}

.follow-avatar .follow-picture img {
    border: 4px solid #fff;
    height: 98px;
    width: 98px;
    background-color: $white;
}

.follow-picture img {
    border-radius: 100%;
    overflow: hidden;
}

.follow-name{
  font-size: 1rem;
  color: $grey5;
  font-weight: 600;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-star{
  color: $secondary;
}


.follow-count{
  margin-top: 35px;
  margin-bottom: 42px;
  text-align: center;
  width: 100%;
}

.follow-count-item {
    display: inline-block;
    width: 46%;
}

.follow-count-item:first-child{
   border-right: 1px solid $grey1
}

.follow-count-item-number{
    font-size: 0.9rem;
    font-weight: 600;
}

.c-s{
  color: $secondary;
}

.c-p{
  color: $primary;
}

.follow-count-item-title{
    color: $grey5;
    font-size: 0.8rem;
}


.follow-footer{
    position: relative;
    text-align: center;
    margin-bottom: 15px;
}

.btn-bevolun-small{
    min-width: 100px;
    padding: 0.5rem 1.7rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    opacity: 1;
    color: $white!important;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.btn-bevolun-small:hover{
    cursor: pointer;
    text-decoration: none;
    opacity: 0.9;
}

.btn-bevolun-grey{
    background-color: $grey2;
}

.btn-bevolun-primary{
    background-color: $primary;
}