<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card primaryCard">
        <div class="">
          <div class="container">
            <div class="row header-bar">
              <div class="col-lg-2 col-6 navCard no-padding">
                <a routerLink="/profile/{{idLogin}}/following/institutional" [routerLinkActive]="['navLinkAtive']" class="navLink">Instituições (17)</a>
              </div>
              <div class="col-lg-2 col-6 navCard no-padding">
                <a routerLink="/profile/{{idLogin}}/following/people" [routerLinkActive]="['navLinkAtive']" class="navLink">Pessoas (36)</a>
              </div>
              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container friends">
  <router-outlet></router-outlet>
</div>
