<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card primaryCard">
        <div class=" card-block">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-6 navCard vcenter">
                <a routerLink="/profile/following/institutional" [routerLinkActive]="['navLinkAtive']" class="navLink">Instituições (17)</a>
              </div>
              <div class="col-lg-2 col-6 navCard vcenter">
                <a routerLink="/profile/following/people" [routerLinkActive]="['navLinkAtive']" class="navLink">Pessoas (36)</a>
              </div>
              <div class="col text-right iconCard">
              </div>
              <div class="col text-right">
                  <form class="navbar-form" role="search">
                  <div class="input-group">
                      <input type="text" class="searchBar form-control" placeholder="Procurar instituições..." name="q">
                      <div class="input-group-btn">
                          <button class="btn btn-default" type="submit"><i class="material-icons searchIcon">search</i></button>
                      </div>
                  </div>
                  </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container friends">
  <router-outlet></router-outlet>
</div>
