
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-block">
                <div class="action-menu">
                    <ul>
                        <li><a routerLink="/profile/{{idProfile}}/following/institutional" [routerLinkActive]="['active-action-menu']">Instituições ({{instCount}})</a></li>
                        <li><a routerLink="/profile/{{idProfile}}/following/people" [routerLinkActive]="['active-action-menu']">Pessoas ({{userCount}})</a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </div>
    <router-outlet></router-outlet>
</div>

