  <div class="row">
    <div *ngIf="vols && vols.length>0" class="col-12 table">
      <table class="table">
        <thead class="thead-inverse" class="cabecalho">
          <tr>
            <th>TITULO</th>
            <th>LOCALIZAÇÃO</th>
            <th>DATA</th>
            <th>CRIADO POR</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableText" *ngFor="let vol of vols">
            <td class="tableBold tableTitle">{{vol?.vol.name}}</td>

           <td class="tablePlace">
              <div class="">{{vol?.address}}</div>

            </td>

            <td class="tableDate">
              <div class="tableBold"> {{vol?.vol.date_begin | date:"d"}} de {{vol?.vol.date_begin | date:"MMMM"}} - {{vol?.vol.date_end | date:"d"}} de {{vol?.vol.date_end | date:"MMMM"}}</div>
              <div class="" *ngIf="vol.start_time">{{vol?.vol.date_begin | date:"d"}} de {{vol?.vol.date_begin | date:"MMMM"}} às  {{vol?.vol.start_time | timePipe }} até {{vol?.vol.date_end | date:"d"}} de {{vol?.vol.date_end | date:"MMMM"}} <span *ngIf="vol.end_time">às  {{vol?.vol.end_time | timePipe}}</span></div>
           </td>


            <td class="ellipsis pointer" (click)="openProfileModel(vol?.user.id_user)">
              <span class="table-user-image"><img src="{{vol?.user.photo_url}}"></span>
              <span class="tableBold margin-left underline">{{vol?.user.name}}</span>
            </td>

           

            <td class="tableBtns">
              <div class="text-right">
                <button class="btn btnConfirm" (click)="seeDetails(vol?.vol.id_vol)">VER</button>
              </div>
              <div class="text-right">
                <button class="btn btnCancel" >REJEITAR</button>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
     <div class="container text-center no-content" style="margin-top:20px;" *ngIf="!vols || vols.length==0">
       <div ><i class="material-icons">alarm</i></div>
      <span style="font-weight: 400">Não possui convites para ações de voluntariado.</span>
      </div>

  </div>