@import '../../../styles';
@import './../card/card.component';

.modalHeader {
    background: $blue;
    padding:15px 20px;

}

.day-w-border {
    width: 60px;
    border: 2px solid $white;
    border-radius: 7px;
    font-size: 14px;
    text-align: center;
    color:$white;
    font-weight: $bold;
    padding: 5px;
}

.modalTitle {
    margin-left: 10px;
    margin-top: 3px;
}

.containerDatePlace {
    margin-top: 10px;
}

.modalTitleDesc {
    font-size: 18px;
    color: $white;
    font-weight: $bold;

}

.modalSubtitle {
    font-size: 13px;
    color: $white;

}

.card-user-image img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
}

.card-user-nd {
    padding-left: 10px;
}

.card-user-name {
    color: $blue;
    font-weight: 600;
}

.card-date {
    color: $grey2;
}

.verified {
    background-color: #fff;
    color: #3C765A;
    padding: 0;
    margin-left: 5px;
    font-size: 5px;
}

.modalContainer {
    background: $white;
    padding: 20px;
    padding-bottom: 0px;
}

.card-user-desc {
    color: $grey3;
}

.card-user-event {
    color: $orange;
    font-weight: $bold;
}

.btnCandidate{
    background: $yellow;
    font-size: 12px;
    border: 0;
    border-radius:4px;
    color: $white;
    font-weight: $bold;
    padding: 12px 16px;
}

.modalTextArea{
    margin-top: 15px;
    text-indent: 10px;
    text-align: justify; 
}

.sectionDatePlace{
    height: 10px;
    width: 100%;
    border-top:1px solid $grey1;
    margin-top: 20px;
    margin-bottom: 20px;
}



.iconDate {
    font-size: 18px;
    color: $grey3;
    margin-top: 15px;
}



.daysEvent {
    font-weight: $bold;
     margin-top: 5px;
     color: $grey3;
}

.descDatePlace {
    padding-left: 15px;
}


.daysEventFull {
    font-weight: 300;
    color: $grey3;
}

.no-padding {
    padding:0!important;
}

.no-padding-side {
    padding-left:0!important;
    padding-right:0!important;
}

.sebm-google-map-container {
  height: 100px;
}

.mapContent {
    margin-top:40px;
}

.friendsContainer {
    margin-top: 10px;
}

.likeImgs {
    margin-top: 2.5px;
    margin-left: 15px;
}

.likeImgs img {
    border: 1px solid #FFF;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 30px;
}

.numberYellow{
    font-size: 18px;
    color: $yellow;
    font-weight: $bold;
}

.numberBlue{
    font-size: 18px;
    color: $blue;
    font-weight: $bold;
}


.normalText {
    font-size: 13px;
    color: $grey3;
}

.comments-back {
    background: $grey1;
}

.card-volum-footer {
    padding:0;
}


.card-volum-footer {
    border-top: 1px solid $grey1;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    margin-top: 20px;
}

.comments-header, .comments-content {
    margin-right: -20px;
    margin-left: -20px;
}
.card-Comments{
    border:0px;
}

.modalTextBold {
    font-weight: $bold;
    margin-top: 5px;
}