<div>
    <div class="modalHeader row">
        <div class="day-w-border">
            <div>
                MAR
            </div> 
            <div>
                2
            </div>
        </div>

        <div class="modalTitle">
            <div class="modalTitleDesc">
                Lorem Ipsum
            </div>
            <div class="modalSubtitle">
                Sábado, às 20:00
            </div>    
    </div>   
    </div>
</div>

<div class="modalContainer row">

        <div class="card-user-image col-md-auto">
            <img src="../assets/imgs/caritas_logo.gif">
        </div>
        <div class="card-user-nd">
            <div><span class="card-user-name ts16">Cáritas </span><span class="ts14 card-user-desc"> criou o </span><span class="card-user-event ts14">evento</span></div>
            <div class="card-date ts13">2 de Abril às 9:43</div>
        </div>
        <div class="col text-right no-padding">
            <button class="btnCandidate">CANDIDATAR</button>
        </div>

        <div class="modalTextArea ts13">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla nibh et metus tristique luctus. Donec a volutpat massa. Praesent et mauris sed mi pulvinar bibendum. Vestibulum iaculis libero mi, a lacinia ex semper et. Nullam dignissim mauris tortor, vel hendrerit urna viverra pellentesque. Pellentesque tincidunt nisi ut neque tristique, in sollicitudin ex pharetra. Aliquam dapibus scelerisque tortor, id posuere purus.
        </div>

        
        <div class="sectionDatePlace container">
        <div class="row containerDatePlace">
            <div class="col-6 no-padding">
                <div class="row">
                    <div class="col-1">
                        <i class="material-icons iconDate">query_builder</i>
                    </div>
                    <div class="col descDatePlace">
                        <div class="daysEvent ts13">
                            8 de Março - 12 de Março
                        </div>
                        <div class="daysEventFull ts13">
                            Horário fixo das 10:00 às 12:00
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 no-padding">
                <div class="row">
                    <div class="col-1">
                        <i class="material-icons iconDate">place</i>
                    </div>
                    <div class="col descDatePlace">
                        <div class="daysEvent ts13">
                           Universidade de Aveiro
                        </div>
                        <div class="daysEventFull ts13">
                            3810-164, Aveiro, Portugal
                        </div>
                    </div>
                 </div>
                </div>
                
            </div>
        </div>


        <div class="col-12 no-padding mapContent">
                         
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="13" [styles]="Terrain">
            <!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng" ></sebm-google-map-marker>-->
            </sebm-google-map>
             
        </div>


          <div class="friendsContainer container">
        <div class="row containerDatePlace">
            <div class="col-6 no-padding">
                <div class="row">
                    <div class="col">
                        <div class="daysEventFull ts13">
                           <span class="numberYellow">20</span><span class="normalText"> candidatos</span>
                        </div>
                        <div class="likeImgs">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar3.png">
                            <img src="assets/imgs/avatar04.png">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar.png">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar3.png">
                            <img src="assets/imgs/avatar04.png">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar.png">
                            <img src="assets/imgs/avatar04.png">
                            <img src="assets/imgs/avatar2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 no-padding">
                <div class="row">
                    <div class="col ">
                        <div class="ts13">
                           <span class="numberBlue">20</span><span class="normalText"> confirmados</span>
                        </div>
                        <div class="likeImgs">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar3.png">
                            <img src="assets/imgs/avatar04.png">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar.png">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar3.png">
                            <img src="assets/imgs/avatar04.png">
                            <img src="assets/imgs/avatar2.png">
                            <img src="assets/imgs/avatar.png">
                            <img src="assets/imgs/avatar04.png">
                            <img src="assets/imgs/avatar2.png">
                        </div>
                    </div>
                 </div>
                </div>
            </div>
        </div>

          
        
<div class="card-volum-footer no-margin">
        <div class="cardLikes">
            <md-icon class="btnLike">favorite</md-icon>
        </div>
        <div class="likesNumber ts12">
            300
        </div>
       
        <div class="cardComments ts12 text-right">
            <div>
                <md-icon class="btnComments">textsms</md-icon>
            </div>
            <div class="textComments"><span class="commentsNumber">16</span> comentários</div>
        </div>
    </div>

    <div class="row no-margin card-Comments">
            <div class="col-12 comments-back no-padding">
                <div class="row comments-header">
                    <div class="col card-user--comments-image col-md-auto">
                        <img src="assets/imgs/avatar.png">
                    </div>
                    <div class="col-8 card-user-nd">
                        <div class="card-user-name-comments ts13">Pedro Araújo</div>
                        <div class="card-date-comments ts12">10 horas</div>
                    </div>
                    <div class="col card-option-comments text-right">
                        <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item>
                    <md-icon>dialpad</md-icon>
                    <span>Redial</span>
                  </button>
                            <button md-menu-item disabled>
                    <md-icon>voicemail</md-icon>
                    <span>Check voicemail</span>
                  </button>
                            <button md-menu-item>
                    <md-icon>notifications_off</md-icon>
                    <span>Disable alerts</span>
                  </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row comments-content">
                    <div class="col-12 ts13">
                        Quisque fringilla diam id tellus convallis finibus. In hac habitasse platea dictumst. Sed m alesuada ante eget lorem In hac habitasse platea dictumst. Sed male suada ante eget
                    </div>
                </div>
                <div class="borderComments"></div>
            </div>
            <div class="col-12 comments-back no-padding">
                <div class="row comments-header">
                    <div class="col card-user--comments-image col-md-auto">
                        <img src="assets/imgs/avatar.png">
                    </div>
                    <div class="col-8 card-user-nd">
                        <div class="card-user-name-comments ts13">Pedro Araújo</div>
                        <div class="card-date-comments ts12">10 horas</div>
                    </div>
                    <div class="col card-option-comments text-right">
                        <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item>
                    <md-icon>dialpad</md-icon>
                    <span>Redial</span>
                  </button>
                            <button md-menu-item disabled>
                    <md-icon>voicemail</md-icon>
                    <span>Check voicemail</span>
                  </button>
                            <button md-menu-item>
                    <md-icon>notifications_off</md-icon>
                    <span>Disable alerts</span>
                  </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row comments-content">
                    <div class="col-12 ts13">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="borderComments"></div>
            </div>
            <div class="col-12 insert-comment no-padding-side">
                <div class="row">
                    <div class="col-1 card-user--comments-image card-user-comments-image-comments">
                        <img src="assets/imgs/avatar3.png">
                    </div>
                    <div class="col">
                        <md-input-container class="width100">
                            <input mdInput>
                        </md-input-container>
                    </div>
                    <div class="col-1 btnSend text-center">
                        <md-icon class="btnSendIcon btnSendColorGrey">send</md-icon>
                    </div>
                </div>
            </div>
            
        </div>

        
</div>



