<div class="card-volum">
    <!-- HEADER CARD -->
    <div class="row no-margin">
        <div (click)="onSelect(userCreator)" class="col card-user-image col-md-auto">
            <img src="{{avatar}}">
        </div>
        <div class="col-6 col-lg-8 card-user-nd">
            <div *ngIf="verified==1" class="card-user-name ts16"><a (click)="onSelect(userCreator)">{{username}}</a> <button type="button" class="btn btn-secondary verified" placement="right" ngbTooltip="Instituição verificada"><i class="material-icons md-18">verified_user</i></button></div>
            <div *ngIf="verified==0" class="card-user-name ts16"><a (click)="onSelect(userCreator)">{{username}}</a> </div>
            <div class="card-date ts14">{{dateCreation | date:"d/M"}} às {{dateCreation| date:"shortTime"}}</div>
        </div>
        <div class="col card-option text-right">
            <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
            <md-menu #menu="mdMenu">
                <button md-menu-item>
                <md-icon>share</md-icon>
                <span>Partilhar</span>
              </button>
                <button md-menu-item>
                <md-icon>do_not_disturb</md-icon>
                <span>Denunciar</span>
              </button>
                <button md-menu-item>
                <md-icon>visibility_off</md-icon>
                <span>Bloquear</span>
              </button>
            </md-menu>
        </div>
    </div>
    <!-- / HEADER CARD -->

    <!-- CONTENT CARD -->
    <div *ngIf="map!=true">
    <div class="imgSlider">
            <img *ngIf="foto1==1" class="imgSliderInd" src="../assets/imgs/testemaps2.PNG">
            <img *ngIf="foto2==1" class="imgSliderInd" src="../assets/imgs/testemaps.PNG">
            <img *ngIf="foto3==1" class="imgSliderInd" src="../assets/imgs/fundo_vasco.jpg">
    </div>
    <div class="balls">
        <div class="row">
            <div (click)="changePhoto1()" *ngIf="foto1==1"class="ball1"></div>
            <div (click)="changePhoto1()" *ngIf="foto1==0" class="ball1Empty"></div>
            <div (click)="changePhoto2()" *ngIf="foto2==1" class="ball2"></div>
            <div (click)="changePhoto2()" *ngIf="foto2==0" class="ball2Empty"></div>
            <div (click)="changePhoto3()" *ngIf="foto3==1" class="ball3"></div>
            <div (click)="changePhoto3()" *ngIf="foto3==0" class="ball3Empty"></div>
        </div>
    </div>
    <!-- foto1 -->
    <div class="rightArrow" (click)="showFoto(2)" *ngIf="foto1==1">
        <i class="material-icons iconRight">keyboard_arrow_right</i>
    </div>
    <div class="leftArrow" (click)="showFoto(3)" *ngIf="foto1==1">
        <i class="material-icons iconRight">keyboard_arrow_left</i>
    </div>
    <!-- foto2 -->
     <div class="rightArrow" (click)="showFoto(3)" *ngIf="foto2==1">
        <i class="material-icons iconRight">keyboard_arrow_right</i>
    </div>
    <div class="leftArrow" (click)="showFoto(1)" *ngIf="foto2==1">
        <i class="material-icons iconRight">keyboard_arrow_left</i>
    </div>
    <!-- foto3 -->
     <div class="rightArrow" (click)="showFoto(1)" *ngIf="foto3==1">
        <i class="material-icons iconRight">keyboard_arrow_right</i>
    </div>
    <div class="leftArrow" (click)="showFoto(2)" *ngIf="foto3==1">
        <i class="material-icons iconRight">keyboard_arrow_left</i>
    </div>
    </div>
    <div class="row no-margin card-volum-content">
        <div class="col-12 ts18 card-volum-title">
            {{title}}
        </div>
        <div class="col-12 ts14 card-volum-description">
            {{desc}}
        </div>
    </div>
    
    <!-- /CONTENT CARD -->

    <!-- FOOTER CARD -->
    <div class="card-volum-footer">
        <div class="cardLikes">
            <md-icon class="btnLike">favorite</md-icon>
        </div>
        <div class="likesNumber ts12">
            {{likes}}
        </div>
        <div *ngIf="type=='private'" class="likeImgs">
            <img src="assets/imgs/avatar2.png">
            <img src="assets/imgs/avatar3.png">
            <img src="assets/imgs/avatar04.png">
            <img src="assets/imgs/avatar2.png">
            <img src="assets/imgs/avatar.png">
        </div>
        <div *ngIf="type=='private'" class="likesText ts12">
            <span class="likesTestMe">Tu,</span> <span class="likesTestSecond">Araújo</span> e mais 298 gostaram disto
        </div>
        <div *ngIf="type=='private'" class="cardComments ts12">
            <div>
                <md-icon class="btnComments">textsms</md-icon>
            </div>
            <div (click)="openComments()" class="textComments"><span class="commentsNumber">16</span> comentários</div>
        </div>
        <div class="btnView">
            <button md-raised-button (click)="openVolDetails(idVol)">VER</button>
        </div>
    </div>
    <!-- /FOOTER CARD -->


    <div *ngIf="type=='private' && comments==1">
        <div class="row no-margin card-Comments">
            <div class="col-12">
                <div class="row comments-header">
                    <div class="col card-user--comments-image col-md-auto">
                        <img src="assets/imgs/avatar.png">
                    </div>
                    <div class="col-8 card-user-nd">
                        <div class="card-user-name-comments ts13">Pedro Araújo</div>
                        <div class="card-date-comments ts12">10 horas</div>
                    </div>
                    <div class="col card-option-comments text-right">
                        <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item>
                    <md-icon>dialpad</md-icon>
                    <span>Redial</span>
                  </button>
                            <button md-menu-item disabled>
                    <md-icon>voicemail</md-icon>
                    <span>Check voicemail</span>
                  </button>
                            <button md-menu-item>
                    <md-icon>notifications_off</md-icon>
                    <span>Disable alerts</span>
                  </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row comments-content">
                    <div class="col-12 ts13">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla diam id tellus convallis finibus. In hac habitasse platea dictumst. Sed m alesuada ante eget lorem In hac habitasse platea dictumst. Sed male suada ante eget
                    </div>
                </div>
                <div class="borderComments"></div>
            </div>
            <div class="col-12">
                <div class="row comments-header">
                    <div class="col card-user--comments-image col-md-auto">
                        <img src="assets/imgs/avatar.png">
                    </div>
                    <div class="col-8 card-user-nd">
                        <div class="card-user-name-comments ts13">Pedro Araújo</div>
                        <div class="card-date-comments ts12">10 horas</div>
                    </div>
                    <div class="col card-option-comments text-right">
                        <md-icon class="card-btn-option" [mdMenuTriggerFor]="menu">more_vert</md-icon>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item>
                    <md-icon>dialpad</md-icon>
                    <span>Partilhar</span>
                  </button>
                            <button md-menu-item disabled>
                    <md-icon>voicemail</md-icon>
                    <span>Denunciar</span>
                  </button>
                            <button md-menu-item>
                    <md-icon>notifications_off</md-icon>
                    <span>Bloquear</span>
                  </button>
                        </md-menu>
                    </div>
                </div>
                <div class="row comments-content">
                    <div class="col-12 ts13">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla diam id tellus convallis finibus. In hac habitasse platea dictumst. Sed m alesuada ante eget lorem In hac habitasse platea dictumst. Sed male suada ante eget
                    </div>
                </div>
                <div class="borderComments"></div>
            </div>

            <div class="ts14 more-Comments">
                <span class="textMoreComments">Carregar mais comentários</span><span class="moreIcon"> +</span>
            </div>

            <div class="col-12 insert-comment">
                <div class="row">
                    <div class="col-1 card-user--comments-image card-user-comments-image-comments">
                        <img src="assets/imgs/avatar.png">
                    </div>
                    <div class="col">
                        <md-input-container class="width100">
                            <input mdInput>
                        </md-input-container>
                    </div>
                    <div class="col-1 btnSend text-center">
                        <md-icon class="btnSendIcon btnSendColorGrey">send</md-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>