<div class="header">

    <div class="container">

        <div class="row">
            <div class="col-12 headerText">
                <h1>Da compaixão à ação.</h1>
                <h4>A solidariedade é o sentimento que melhor expressa o respeito pela dignidade humana.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="bodySearch">
                     <search></search>
                </div>  
            </div>
        </div>

    </div>
</div>


<div *ngIf="!login" class="container">
  <!-- PUBLICO -->
  <div class="row">
    <div class="col-12">
      <div class="titleFeed">Instituições</div>
    </div>
  </div>
  <div class="slider" style="margin-top:30px;">
    <swiper [config]="config" #swiper1>
      <div class="swiper-wrapper">
        <vol-card *ngFor="let vol of instVols" [userCreator]="vol.user.id_user" [title]="vol.vol.name" [idVol]="vol.vol.id_vol" [likes]="vol.vol.likes"
          [verified]="true" class="swiper-slide" [type]="private" [avatar]="vol.user.photo_url" [username]="vol.user.name"
          [dateCreation]="vol.vol.date_creation" [title]="vol.name" [description]="vol.vol.description" [photos]="vol.vol.photos">
        </vol-card>
      </div>
      <!-- Add Pagination -->
      <!-- Add Arrows -->
    </swiper>

    <!--   <div class="swiper-button-prev slider-prev1" (click)="swiper1.Swiper.slidePrev()"></div>
           <div class="swiper-button-next slider-next1" (click)="swiper1.Swiper.slideNext()"></div> -->
    <md-icon class="slider-buttons slider-prev1" (click)="swiper1.Swiper.slidePrev()">keyboard_arrow_left</md-icon>
    <md-icon class="slider-buttons slider-next1" (click)="swiper1.Swiper.slideNext()">keyboard_arrow_right</md-icon>
  </div>

  <!-- PUBLICO -->
  <!-- PRIVADO -->
  <div class="row">
    <div class="col-12">
      <div class="titleFeed">Privado</div>
    </div>
  </div>

  <div class="slider" style="margin-top:30px;">
    <swiper [config]="config" #swiper2>
      <div class="swiper-wrapper">
        <vol-card *ngFor="let vol of privateVols" [userCreator]="vol.user.id_user" [title]="vol.vol.name" [likes]="vol.vol.likes"
          [idVol]="vol.vol.id_vol" [verified]="true" [type]="private" class="swiper-slide" [avatar]="vol.user.photo_url" [username]="vol.user.name"
          [dateCreation]="vol.vol.date_creation" [description]="vol.vol.description" [photos]="vol.vol.photos">
        </vol-card>
      </div>
      <!-- Add Pagination -->
      <!-- Add Arrows -->
    </swiper>

    <md-icon class="slider-buttons slider-prev2" (click)="swiper2.Swiper.slidePrev()">keyboard_arrow_left</md-icon>
    <md-icon class="slider-buttons slider-next2" (click)="swiper2.Swiper.slideNext()">keyboard_arrow_right</md-icon>
  </div>


  <!-- PRIVADO -->
  <!-- CIDADES -->
  <div class="row">
    <div class="col-lg-12">
      <div class="titleFeed">Localização</div>
    </div>
  </div>
  <div class="row" style="margin-bottom:120px;">
    <div class="col-6 col-lg-2 col-sm-4 col-md-3 city city1">
      <img src="https://www.travel-in-portugal.com/sites/default/files/photos/espinho-beach-boats.jpg" class="img-feed">
      <div class="cityText">Espinho</div>
    </div>
    <div class="col-6 col-lg-2 col-md-2 city city5">
      <img src="http://www.ruralea.com/wp-content/uploads/2015/07/9405636238_ee8269a6be_k.jpg" class="img-feed">
      <div class="cityText">Agueda</div>
    </div>

    <div class="col-6 col-lg-2 col-sm-4 col-md-3 city city2">
      <img src="http://cacia.pt/wp-content/uploads/2015/08/111_1.jpg" class="img-feed">
      <div class="cityText">Cacia</div>
    </div>
    <div class="col-6 col-lg-2 col-sm-4 col-md-3 city city3">
      <img src="http://c7.quickcachr.fotos.sapo.pt/i/B9606110c/8802673_gB8TP.jpeg" class="img-feed">
      <div class="cityText">Oliv. Azemeis</div>
    </div>
    <div class="col-6 col-lg-2 col-sm-3 col-md-3 city city4">
      <img src="http://turismodocentro.pt/wp-content/uploads/2017/03/ria-aveiro_1920x1080.jpg" class="img-feed">
      <div class="cityText">Aveiro</div>
    </div>
    <div class="col-6 col-lg-2 col-md-2 city city6">
      <img src="https://ucmedia.er2.co/pt/des/8/b/1600/20626.jpg" class="img-feed">
      <div class="cityText">Ílhavo</div>
    </div>
  </div>
  <!-- CIDADES -->
  <!-- QUESTIONS -->
  <div class="row">
    <div class="col-lg-12">
      <div class="titleFeed">Perguntas Frequentes</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="col-lg-12 askedQuestions">
      </div>
      <div class="titleAskedQuestions">
        O que é o Bevolun?
      </div>
      <div class="textAskedQuestions">
        O Bevolun foi lançada pela ENTRAJUDA em 2006. É um projecto inovador, de âmbito nacional, sem fronteiras, transversal a toda
        a sociedade e economia que fomenta o exercício da Cidadania e da Responsabilidade Social. Trata-se de uma ferramenta
        de gestão e desenvolvimento on line em tempo real, que aproveita as qualificações dos voluntariado e permite a capacitação
        das organizações. </div>
    </div>
    <div class="col-lg-4">
      <div class="col-lg-12 askedQuestions">

      </div>
      <div class="titleAskedQuestions">
        Como funciona o Bevolun?
      </div>
      <div class="textAskedQuestions">


        Os Voluntários podem escolher onde pretendem realizar a sua actividade, de acordo com as suas aptidões, disponibilidade de
        tempo, áreas de interesse, preferência de localização. Podem seleccionar uma causa ou necessidade social, procurar
        uma instituição ou organização perto do local da sua residência, participar numa acção pontual.
      </div>
    </div>
    <div class="col-lg-4">
      <div class="col-lg-12 askedQuestions">
      </div>
      <div class="titleAskedQuestions">
        O Bevolun é só para atuais voluntários?
      </div>
      <div class="textAskedQuestions">
        Não, porque o voluntariado não se limita à área da solidariedade Social. São contempladas outras áreas onde o voluntariado
        tem grande expressão e pode ser uma mais-valia: Ambiente/Animais, Cultura, Cidadania e Política, Desporto, Direitos
        Humanos, entre outras. Qualquer pessoa com vontade de ajudar o próximo pode fazer parte desta comunidade
      </div>
    </div>
  </div>
  <!-- QUESTIONS -->
</div>




<!-- LOGADO -->

<div style="margin-top:30px;" *ngIf="login" class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">

  <div class="row">

    <div class="col-lg-6" *ngFor="let vol of vols; let i = index;">
      <vol-card [userCreator]="vol.user.id_user" [title]="vol.vol.name" [likes]="vol.vol.likes" [idVol]="vol.vol.id_vol" [verified]="true"
        type="private" class="swiper-slide" [avatar]="vol.user.photo_url" [photos]="vol.vol.photos" [username]="vol.user.name"
        [likeState]="vol.vol.likeState" [dateCreation]="vol.vol.date_creation" [description]="vol.vol.description" [index]="i">
      </vol-card>
    </div>
    <div class="sk-fading-circle" *ngIf="loading">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </div>
</div>




<div class="bevolum-filter" [class.bevolum-filter-show]="showFilter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mt-4 filter-title">
                <p>Filtar</p>
            </div>
            <div class="col-lg-6 mb-4 mt-4 text-right">
                 <div class="btn-icon" (click)="openFilter()"><i class="material-icons">close</i></div>
            </div>

             <div class="col-lg-6  mb-5">
                <label class="filter-label" for="exampleSelect1">Data de início</label>
                <div class="input-group filter-dropdown">
                    <input class="date_picker filter-date-picker" ngbDatepicker #ds="ngbDatepicker" placeholder="Inicio">
                    <div class="input-group-addon filter-input-button" (click)="ds.toggle()">
                        <i class="data_range_icon material-icons">date_range</i>
                    </div>
                  </div>
              </div>
            <div class="col-lg-6  mb-5">
                <label class="filter-label" for="exampleSelect1">Data de fim</label>
                <div class="input-group filter-dropdown">
                    <input class="date_picker filter-date-picker" ngbDatepicker #de="ngbDatepicker" placeholder="Fim">
                    <div class="input-group-addon filter-input-button" (click)="de.toggle()">
                        <i class="data_range_icon material-icons">date_range</i>
                    </div>
                  </div>
            </div>
            
            <div class="col-lg-4 mb-5">
                <label class="filter-label" for="exampleSelect1">Tipo de voluntariado</label>
                <select class="form-control" id="exampleSelect1">
                  <option>Todos</option>
                  <option>Institucional</option>
                  <option>Entre ajuda</option>
                </select>
            </div>

            <div class="col-lg-4  mb-5">
                <label class="filter-label" for="exampleSelect1">Seguro</label>
                <select class="form-control" id="exampleSelect1">
                  <option>Sim</option>
                  <option>Não</option>
                </select>
            </div>

            <div class="col-lg-4  mb-5">
                <label class="filter-label" for="exampleSelect1">Categorias</label>
                <select class="form-control" id="exampleSelect1">
                    <option>Todas</option>
                    <option>Saúde</option>
                    <option>Desporto</option>
                </select>
            </div>
  
           
        </div>

        <div class="row mt-1">
           <div class="col-lg-12 text-right">
                <button class="btn btn-grey mr-2">Apagar</button>
                <button class="btn btn-primary">Aplicar</button>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-orange btnFilter" (click)="openFilter()"><i class="material-icons">filter_list</i></button>

<app-footer></app-footer>