    @import '../../../styles';
    @media screen and (max-width: 992px) {
        #main-navbar {
            clear: both;
        }
    }
    
    @media (min-width:320px) {
        .btnSearch {
            display: none
        }
        .city3 {
            display: none
        }
        ;
        .city4 {
            display: none
        }
        ;
        .city5 {
            display: none
        }
        ;
        .city6 {
            display: none
        }
    }
    
    @media (min-width:480px) {
        .btnSearch {
            display: none
        }
        .city3 {
            display: block
        }
        ;
        .city4 {
            display: none
        }
        ;
        .city5 {
            display: none
        }
        ;
        .city6 {
            display: none
        }
    }
    
    @media (min-width:600px) {
        .btnSearch {
            display: none
        }
        .city4 {
            display: block
        }
        ;
        .city5 {
            display: none
        }
        ;
        .city6 {
            display: none
        }
    }
    
    @media (min-width:801px) {
        .btnSearch {
            display: block
        }
        .city4 {
            display: block
        }
        ;
        .city5 {
            display: block
        }
        ;
        .city6 {
            display: block
        }
    }
    
    @media (min-width:1025px) {
        .btnSearch {
            display: block
        }
        .city4 {
            display: block
        }
        ;
        .city5 {
            display: block
        }
        ;
        .city6 {
            display: block
        }
    }
    
    @media (min-width:1281px) {
        /* hi-res laptops and desktops */
    }
    

    .headerFeed {
        margin-top: -80px;
    }
    
    .carousel-indicators li {
        display: none!important;
    }
    
    .lista {
        float: right;
    }
    
    .header {
        padding-top: 100px;
        padding-bottom: 100px;
        background: $primary;
    }
    
    .titleFeed {
        font-weight: $bold;
        font-size: 18px;
        margin-top: 70px;
    }
    
    .search-areas {
        width: 100%;
    }
    
    .search-voluntario {
        width: 100%;
        margin-top: 15px;
    }
    
    .btn-search {
        background-color: $secondary;
        color: $white;
        font-size: 18px;
        width: 130px;
        height: 45px
    }
    
    .v-header-title {
        font-weight: 600;
        color: $white;
        font-size: 58px;
    }
    
    .v-header-subtitle {
        color: $white;
        font-size: 20px;
        font-weight: 100;
        margin-top: -5px;
    }
    
    .header-home-search {
        margin-top: 30px;
    }
    
    .header-title-search {
        color: $inputTitle;
        font-size: 15px;
        margin-top: 3px;
    }
    
    .cityCard {
        background-color: $blue;
        margin-top: 20px;
        padding: 10px;
        opacity: 0.2;
    }
    
    .askedQuestions {
        border-top: 3px;
        border-style: solid;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-color: $blue;
        margin-top: 10px;
    }
    
    .titleAskedQuestions {
        font-weight: $bold;
        font-size: 18px;
        margin-top: 35px;
    }
    
    .textAskedQuestions {
        margin-top: 5px;
    }
    
    .cityAveiro {
     //   background: url('../../../assets/imgs/aveiro2.jpg');
        background-size: cover;
    height: 200px;
    z-index: 100;
    margin-top: -200px;
    }
    
    .cityPorto {
  //      background: url('../../../assets/imgs/porto2.jpg');
        background-size: cover;
        height: 200px;
    }
    
    .city {
        text-align: center;
    }
    
    .cityLisboa {
   //     background: url('../../../assets/imgs/lisboa2.jpg');
        background-size: cover;
        height: 200px;
    }
    
    .cityCoimbra {
  //      background: url('../../../assets/imgs/coimbra2.jpg');
        background-size: cover;
        height: 200px;
    }
    
    .cityBraga {
    //    background: url('../../../assets/imgs/braga2.jpg');
        background-size: cover;
        height: 200px;
    }
    
    .cityGuimaraes {
   //     background: url('../../../assets/imgs/guimaraes2.jpg');
        background-size: cover;
        height: 200px;
    }
    
    .cityText {
        color: #fff;
        font-weight: 600;
        font-size: 1.4em;
        margin-top: -120px;
        z-index:20;
        
    }

    .blueFilter {
        background: $blue;
        height: 200px;
        width: 160px;
        opacity: 0.3;
        margin-top:-200px;
        z-index:10;
    }
    
    .slider-prev1 {
        top: 350px;
        left: -30px;
    }
    
    .slider-next1 {
        top: 350px;
        right: -30px;
    }
    
    .slider-prev2 {
        top: 930px;
        left: -30px;
    }
    
    .slider-buttons {
        position: absolute;
        margin-top: -22px;
        z-index: 10;
        cursor: pointer;
        color: $grey2;
    }
    
    .slider-next2 {
        top: 930px;
        right: -30px;
    }
    
    .disabled {
        display: none;
    }

    .img-feed {
        object-fit: cover;
        height: 200px;
        width: 160px;
        margin-top:20px;

    }





// HEADER 
.headerText > h1{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 600;
}
.headerText > h5{
    color: #FFFFFF;
}

.bodySearch{
    background-color: $white;
    border-radius: 3px;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20);
    -moz-box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20);
    box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20);
}




// FILTER
.btnFilter{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.btnFilter i{
    vertical-align: middle;
}


.bevolum-filter{
    width: 100%;
    height: 0px;
    background-color: $white;
    position: fixed;
    z-index: 2;
    bottom: -430px;
    transition: all 0.5s;
    border-top: 1px solid $grey1;
}

.bevolum-filter-show{
    height: 430px!important;
    bottom:  0px!important
}

.filter-title p{
    color: $primary;
    font-size: 1rem;
    font-weight: 600;
}

.line{
    width: 100%;
    border: 1px solid $grey1;
    margin-left: 15px;
    margin-right: 15px;
}

.filter-label{
    font-size: 0.9rem;
    color: $grey5;
    font-weight: 600;
}


.bevolun-filter-footer{
    width: 100%;
    height: 50px;
    background-color: $secondary;
    position: absolute;
    bottom: 0;
}

.filter-date-picker{
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border:1px solid $grey2;
    padding-left: 10px;
    color: $grey5;
    height: calc(2.55rem + 2px);
}

.filter-input-button{
    color: #FFFFFF;
    background-color: $grey2;
    border: none;
    height: calc(2.55rem + 2px);
}

.filter-date-picker::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $grey3;
}
.filter-date-picker::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     $grey3;
   opacity:  1;
}
.filter-date-picker::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $grey3;
   opacity:  1;
}
.filter-date-picker::-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     $grey3;
}
.filter-date-picker::-ms-input-placeholder { /* Microsoft Edge */
   color:     $grey3;
}

.disableContainer{
    overflow: hidden!important;
}

// FILTER MEDIA QUERIES 
@media screen and (max-width: 992px) {
    .bevolum-filter{
        bottom: -100%;
    }
    .bevolum-filter-show{
        height: 100%!important;
        padding-bottom: 50px;
        overflow: auto;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
    .headerText > h1{
        font-size: 3rem;
    }
    .headerText > h4{
       font-size: 1.1rem;
    }
}

//CITIES

.feed-cities{
    padding: 0;
    display: flex;
    margin-top: 30px;
} 

.feed-cities li{
    width: 200px;
    height: 250px;
    background-color: $primary;
    list-style: none; 
    margin-right: 14px;
}

.feed-cities li div{
    position: absolute;
    z-index: 1;
    line-height: 250px;
    color: $white;
    text-align: center;
    width: 200px;
    font-size: 1.4rem;
}

.feed-cities li img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0.4;
}


@media screen and (max-width: 1399px) {
   .hide6{
       display: none;
   }

   .feed-cities li{
        width: 212px;
        height: 250px;
    }

    .no-m{
        margin-right: 0!important;
    }

}