

<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card primaryCard">
        <div class=" card-block noPadding">
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-6 navCard vcenter titleNavLink">
                <a routerLink="my-actions" [routerLinkActive]="['navLinkAtive']" class="navLink">Minhas ações</a>
              </div>
              <div class="col-lg-2 col-6 navCard vcenter titleNavLink">
                <a routerLink="invites" [routerLinkActive]="['navLinkAtive']"  class="navLink">Convites<span class="badge badge-pill badge-primary">2</span></a>
              </div>
               <div class="col-lg-2 col-6 navCard vcenter titleNavLink">
                <a routerLink="waiting"  [routerLinkActive]="['navLinkAtive']"  class="navLink">Em espera</a>
              </div>
             <!-- <div class="col text-right titleNavLink iconCard ">
                <i class="material-icons edit">more_horiz</i>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>

</div>


<!-- detalhes -->
