

<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card primaryCard">
        <div class=" card-block rowMenu">

              <div class="navCard vcenter titleNavLink">
                <a routerLink="my-actions" [routerLinkActive]="['navLinkAtive']" class="navLink">Ações ativas</a>
              </div>
              <div class="navCard vcenter titleNavLink">
                <a routerLink="invites" [routerLinkActive]="['navLinkAtive']"  class="navLink">Convites<!--<span class="badge badge-pill badge-primary">2</span>--></a>
              </div>
               <div class="navCard vcenter titleNavLink">
                <a routerLink="waiting"  [routerLinkActive]="['navLinkAtive']"  class="navLink">Em espera</a>
              </div>
               <div class="navCard vcenter titleNavLink">
                <a routerLink="finished"  [routerLinkActive]="['navLinkAtive']"  class="navLink">Finalizadas</a>
              </div>
             <!-- <div class="col text-right titleNavLink iconCard ">
                <i class="material-icons edit">more_horiz</i>
              </div>-->
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>

</div>


<!-- detalhes -->
