@import "../../../styles";

.card-people {
}
.mini-card-social {
    background: $white;
    margin-top: 15px;
    border-radius: 3px;
    display: flex;
    padding: 15px 15px;
}
.for-img {
    max-width: 48px;
}

.for-imgInst {
    max-width: 48px;
    margin-top:3px;
}

.name-person {
    font-weight: $bold;
     display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-justify: inter-word;
    word-break: break-word;
    padding: 0px 10px;
    min-width: 170px;
    max-width: 170px;

}

.btn-see {
    background: $blue;
    color: $white;
    font-size: 14px;
    width: 60px;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    font-weight: $bold;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 1;
}

.btn-see:hover{
    opacity: 0.9;
}

.desc-person {
    color: $grey2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-justify: inter-word;
    word-break: break-word;
    padding: 0px 10px;
    min-width: 170px;
    max-width: 170px;
}
.btnConfirm {
    padding: 5px;
}

.btnConfirmPadding {
    padding:10px;
    font-weight: 600;
}

.for-btn {
    margin-top: 5px;
}

.for-input {
    background: $white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 3px;
    border: 1px solid $grey0;
}

.inputSearch {
  width: 89%;
  height: 40px;
  border: 1px solid $grey1;
  border-radius: 3px;
  padding: 15px;
  font-size: 14px;
  color: $grey2;
}

.searchTitle {
  color: $grey5;
  font-size: 16px;
  font-weight: $bold;
}
.title-filter {
    font-weight: $bold;
    margin-top: 25px;
    color: $grey4;
    margin-bottom: 15px;
}
.moreResults {
    margin-top: 5px;
    padding: 5px;
    font-size:13px;
    cursor: pointer;
    color: $blue;
    font-weight: $bold;
}

.moreResults:hover {
    color: #000;
}

.headerInput {
    font-size:16px;
    color:$grey5;
    font-weight: $bold;
    margin-bottom: 10px;
}

.rowInst {
    min-width: 160px;
}

.btnInst {
    margin-top: 10px;
    margin-right: 15px;
}

.text-vol {
    margin-left: 25px;
}

.no-results {
    padding: 10px 15px;
}
.no-results-row {
    display:flex;
    padding: 10px 0px;
    font-size: 14px;
    color: $grey2;
}

.no-results-row i {
    font-size: 25px;
    color: $grey2;
    margin-right: 5px;
}

.search_query {
    color: $blue;
}

.input-form-search-page{
    padding: 1rem 0.75rem;
    font-size: 0.9rem;
    color: $grey5!important;
    border-color: $grey1;
    border:none!important;
}

.input-form-search-page::placeholder{
    color: $grey2;
}

.ui-block-search-content{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.ui-block-title-search{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.ui-block-title-search h6{
    font-weight: 600;
    font-size: 1rem;
}


.ui-block-search-content .form-group{
    flex: 2;
    margin-bottom: 0;
}

.btn-search-page-b{
    background-color: $primary;
    padding: 1rem 0.75rem;
    color: $white;
    border: none;
    border-radius: 5px;
}

.search-block{
    display: flex;
    align-items: center;
    padding: 15px;
}

.search-block-img img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.actionsearch img{
     border-radius: 0!important;
}

.search-block-name{
    flex: 2;
}

.search-block-name h6{
    font-weight: 600;
    margin-bottom: 0;
    font-size: 0.9rem;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-block-name p{
    font-size: 0.8rem;
    color: $grey3
}