<div class="header-spacing"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6>Pesquise pessoas, instituições ou ações de voluntariado</h6>
                </div>
                <div class="ui-block-search-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-form-search-page" aria-describedby="search" [(ngModel)]="search_query" (keyup.enter)="search(model)" [(ngModel)]="model"  placeholder="Pesquisa pessoas, instituições ou ações de voluntariado">
                    </div>
                    <div class="btn-search-page">
                       <button (keyup.enter)="search(model)" (click)="search(model)" class="btn btnConfirm btnConfirmPadding">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 col-sm-6 col-12" *ngFor="let element of elements">
            <div class="ui-block">
                <div class="search-block">
                    <div class="search-block-img" [class.actionsearch]="element.type == 0">
                        <img *ngIf="element.type==1 || element.type==2" class="thumbnail" src="{{element?.photo_url}}">
                        <img *ngIf="element.type==0" src="{{element?.photos[0]}}">
                    </div>
                    <div class="search-block-name">
                        <h6>{{element?.name}}</h6>
                        <p *ngIf="element.type==2">Voluntário</p>
                        <p *ngIf="element.type==1">Instituição</p>
                        <p *ngIf="element.type==0">Ação de voluntariado</p>
                    </div>
                    <div class="search-block-btn">
                        <button *ngIf="element.type==1 || element.type==2" class="btn-see" (click)="openUser(element.id)">Ver</button>
                        <button *ngIf="element.type==0" class="btn-see" (click)="openVolDetails(element.id)">Ver</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 no-results-row" *ngIf="elements==0">
            <i class="material-icons">youtube_searched_for</i>
            <div> Não foram encontrados resultados.</div>
        </div>
    </div>
</div>


