<!--

  <div style="color:black" *ngFor="let follow of follows">{{follow?.name}}<button (click)="invite(follow?.id_user)">Convidar</button></div>

-->
<div class="container no-padding">
    <div class="ui-block-title">
        <h6>Convidar</h6>
    </div>

    <div class="invite-content">
        <!--
        <div class="form-group">
            <input type="text" class="form-control input-form-invite" aria-describedby="search" placeholder="Procurar">
        </div>
        -->
        <div class="invite-border mt-3">
            <div *ngFor="let follow of follows; let i=index" class="list-invites">
                <div class="top-user-picture">
                    <img [src]="follow.photo_url">
                </div>
                <div class="top-user-text-invite">
                    <p class="classfication-name">{{follow.name}}</p>
                </div>
                <div class="checkbox-invite pointer" *ngIf="!follow.isInvited" (click)="invite(follow.id_user, i)">
                    <i class="material-icons fix-icon">done</i>
                </div>
                <div class="checkbox-invite" *ngIf="follow.isInvited">
                    <i class="material-icons fix-icon checkbox-invite-color">done</i>
                </div>
            </div>
        </div>
        <div class="">
           <a class="btn-settings btn-settings-save btn-invite-list" routerLink="/profile/details">Convidar</a>
        </div>
    </div>
</div>
