<template #rt let-r="result" let-t="term">
 <div *ngIf="!r.photo_url" class="container"> <div class="row"> <div class="col-1"><img class="img-responsive" style="border-radius:50px" width="50" src="assets/imgs/volunteer.png"></div> <div class="col"><div class="namePerson" >{{ r.name}} </div><div class="descPerson" >Solidariedade Social </div></div> </div> </div>
 <div *ngIf="r.photo_url" class="container"> <div class="row"> <div class="col-1"><img class="img-responsive" style="border-radius:50px" width="50" [src]="r.photo_url"></div> <div class="col"><div class="namePerson" >{{ r.name}} </div><div class="descPerson" >Vila Nova de Gaia, Portugal </div></div> </div> </div>
</template>
<div class="container">
    <div class="col-12 header-home-search menuFull">
        <div class="col-search col-10">

            <md-input-container class="col-12">
                <input mdInput [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Pesquisa pessoas, instituições e ações de voluntariado">
            </md-input-container>
        </div>

        <div class="col-search-btn col-2 btnSearch">
            <button md-raised-button class="btn-search" routerLink="search">Procurar</button>
        </div>
    </div>
</div> 