<template #rt let-r="result" let-t="term">
 <span *ngIf="r.name"> {{ r.name}}</span>
 <span *ngIf="r.login"> <img class="img-responsive" style="border-radius:50px" width="50" [src]="r.photo_url"> {{ r.login}} </span>
</template>
<div class="container">
    <div class="col-12 header-home-search menuFull">
        <div class="col-search col-8">

            <md-input-container class="col-12">
                <input mdInput [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="Pesquisa pessoas, instituições e ações de voluntariado">
            </md-input-container>
        </div>

        <div class="col-search-btn col-4 btnSearch">
            <button md-raised-button class="btn-search">Ver Mapa</button>
            <button md-raised-button class="btn-search">Procurar</button>
        </div>
    </div>
</div>