@import '../../../../styles';
@import '../../../../styles';



.header-home-search {
    min-height: 80px;
    border-radius: 4px
}

.mat-input-wrapper {
    color: $grey5!important;
}

.col-search {
    float: left;
    padding-left: 15px;
    height: 80px;
    line-height: 80px;
    width: 900px;
}

.col-search-btn {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    line-height: 80px;
    text-align: right;
}

.col-search-border {
    border-right: 1px solid $grey-border;
}


.namePerson {
    font-size: 16px;
    font-weight: $bold;
    margin-top: 4px;
}

.descPerson {
    font-size:13px;
    margin-top: 3px;
    
}

.content-search {
    display:flex;
    padding:0px 10px 0px 10px;
}

.img-search img {
    border-radius:50px;
    height: 45px;
    width: 45px;
    object-fit: cover;
}

.desc-search {
    margin-left: 10px;
     margin-top: 1px;
    
}


/* NEW */
.search-content{
    display: flex;
}

.search-input{
    flex: 2;
}

.search-input > input{
    width: 100%;
    line-height: normal;
    border: none;
    font-size: 1.1rem;
    color:$grey5;
}

.search-button{
    margin-top: -2px;
    margin-left: 24px;
}



.search-result{
    background-color: $white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.search-result:hover{
     background-color: $grey1;
}

.search-img{
    margin-right: 8px;
}

.search-img img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 45px;
    border: 1px solid $grey1;
}

.search-text h6{
    color: $primary;
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.search-text p{
    color: $grey3;
    font-size: 0.8rem;
}




::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $grey2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     $grey2;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $grey2;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     $grey2;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:     $grey2;
}