@import '../../../../styles';
@import '../../../../styles';
.header-home-search {
    background-color: $white;
    min-height: 80px;
    border-radius: 4px
}

.col-search {
    float: left;
    padding-left: 15px;
    height: 80px;
    line-height: 80px;
    width: 900px;
}

.col-search-btn {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
    line-height: 80px;
    text-align: right;
}

.col-search-border {
    border-right: 1px solid $grey-border;
}


.namePerson {
    font-size: 16px;
    font-weight: $bold;
    margin-top: 5px;
}

.descPerson {
    font-size:13px;
    margin-top: 3px;
    
}

.content-search {
    display:flex;
    padding:0px 10px 0px 10px;
}

.img-search img {
    border-radius:50px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.desc-search {
    margin-left: 10px;
     margin-top: 1px;
}