<!-- APAGAR AÇÃO -->
<div *ngIf="context.type==1">
    <div class="modalHeader row">
        <div class="day-w-border">
            <div>
                {{this.context.date | date:"MMM" | uppercase}}
            </div>
            <div>
                {{this.context.date | date:"d"}}
            </div>
        </div>

        <div class="modalTitle">
            <div class="modalTitleDesc">
                {{this.context.name}}
            </div>
            <div class="modalSubtitle">
                {{this.context.date | date:"fullDate"}}
            </div>
        </div>
    </div>
    <div class="modal-end-content row">
        <div class="modal-content-title col-12">
            Cancelar ação de voluntariado
        </div>
        <div class="modal-content-desc col-12" style="margin-top:2px; margin-bottom:2px;">
            Tem a certeza que quer cancelar esta ação de voluntariado? Se sim, indique o motivo para informar os seus participantes.
        </div>
        <div class="col-12">
            <textarea rows="4" class="modal-textarea" placeholder="Escrever motivo de cancelamento da ação..."></textarea>
        </div>
        <div class="col-12 modal-end-footer text-right">
            <button class="btn btnCancel" (click)="close()">NÃO</button>
            <button class="btn btnConfirm" (click)="deleteAction(this.context.idVol)">SIM</button>
        </div>
    </div>
</div>


<!-- FINALIZAR -->
<div *ngIf="context.type==2">
    <div class="modalHeader row">
        <div class="day-w-border">
            <div>
                {{vol?.date_begin | date:"MMM" | uppercase}}
            </div>
            <div>

                {{vol?.date_begin | date:"d"}}
            </div>
        </div>

        <div class="modalTitle">
            <div class="modalTitleDesc">
                {{vol?.name}}
            </div>
            <div class="modalSubtitle">
                {{vol?.date_begin | date:"fullDate"}}
            </div>
        </div>
    </div>
    <div class="modal-end-content row">
        <div class="modal-content-title col-12">
            Finalizar Ação de Voluntariado
        </div>
        <div class="modal-content-desc col-12">
            Se desejar, pode inserir um sumário desta ação de voluntariado. Todos os participantes serão notificados.
        </div>
        <div class="col-12">
            <textarea rows="4" class="modal-textarea" placeholder="Escrever sumário descritivo da ação..." [(ngModel)]="comment"></textarea>
        </div>
        <div class="col-12 modal-content-title evaluation">
            Avaliar participantes
            <form>
                <div class="evaluation-option">
                    Atribuir a mesma classificação a todos os participantes:
                    <div class="user-rate-all">
                        <md-icon *ngFor="let num of getNumber(5); let star = index " [class.yellow]="star <= all_classification" [class.grey]="!all_classification || star >= all_classification"
                            (click)="evAll(star)">star_rate</md-icon>
                    </div>
                </div>

            </form>
            <div class="individual">
                <ul class="list-group">
                    <li *ngFor="let user of users; let i=index" class="listPerson no-border no-margin">
                        <div class="row no-margin">
                            <div class="card-user-image">
                                <img [src]="user.photo_url">
                                <span class="candidateName">{{user.name}}</span>
                            </div>
                            <div class="col text-right no-padding">
                                <div class="user-rate">
                                    <md-icon *ngFor="let num of getNumber(5); let star = index " [class.yellow]="star <= user.classification" [class.grey]="!user.classification || star >= user.classification"
                                        (click)="ev(i, star)">star_rate</md-icon>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-12 modal-end-footer text-right">
            <button class="btn btnCancel" (click)="close()">CANCELAR</button>
            <button class="btn btnConfirm" (click)="submit()">FINALIZAR</button>
        </div>
    </div>
</div>


<!-- CLASSIFICAR AÇÃO -->
<div *ngIf="context.type==3">



    <div class="modalHeader row">
        <div class="day-w-border">
            <div>
                {{vol?.date_begin | date:"MMM" | uppercase}}
            </div>
            <div>
                {{vol?.date_begin | date:"d"}}
            </div>
        </div>

        <div class="modalTitle">
            <div class="modalTitleDesc">
                {{vol?.name}}
            </div>
            <div class="modalSubtitle">
                {{vol?.date_begin | date:"fullDate"}}
            </div>
        </div>
    </div>
    <div class="modal-end-content row">
        <div class="modal-content-title col-12">
            Parabéns! Terminaste a ação de voluntariado "{{vol?.name}}".
        </div>
        <div class="modal-content-desc col-12">
            {{vol?.user.name}} deu como terminada a ação de voluntariado "{{vol?.name}}" e deixou como sumário da ação a seguinte descrição:
        </div>
        <div class="col-12">
            <div class="card-bevolun">
                <div class="card-bevolun-header">
                    <div class="card-bevolun-user-image">
                        <img class="clickable" [src]="vol?.user.photo_url" (error)="this.avatar = 'http://santetotal.com/wp-content/uploads/2014/05/default-user.png'">
                    </div>
                    <div class="card-bevolun-user-name">
                        <a class="clickable">{{vol?.user.name}}</a>
                    </div>
                    <div class="card-bevolun-user-verified">
                        <i class="material-icons">check_circle</i>
                    </div>
                </div>
                <div class="text-inst">
                    {{last_message}}
                </div>
            </div>
        </div>

        <div class="modal-content-title col-12">
            Avaliar a ação e deixar um testemunho
        </div>
        <div class="modal-content-desc col-12">
            Avalia {{vol?.user.name}} como instituição de voluntariado e deixa um testemunho no seu perfil!
        </div>
        <div class="user-rate-all" style="padding-top: 15px;padding-left: 10px!important;">
            <md-icon *ngFor="let num of getNumber(5); let star = index " [class.yellow]="star <= all_classification" [class.grey]="!all_classification || star >= all_classification"
                (click)="setScore(star)">star_rate</md-icon>
        </div>


        <div class="col-12">
            <textarea rows="4" class="modal-textarea" placeholder="Escrever testemunho..." [(ngModel)]="message"></textarea>
        </div>



        <div class="col-12 modal-end-footer text-right">
            <button class="btn btnCancel" (click)="close()">CANCELAR</button>
            <button class="btn btnConfirm" (click)="submitTestimony()">FINALIZAR</button>
        </div>
    </div>
</div>