@import '../../../styles';

.modalHeader {
    background: $blue;
    padding:15px 20px;
}

.day-w-border {
    width: 60px;
    border: 2px solid $white;
    border-radius: 7px;
    font-size: 14px;
    text-align: center;
    color:$white;
    font-weight: $bold;
    padding: 5px;
}

.modalTitle {
    margin-left: 10px;
    margin-top: 3px;
}

.containerDatePlace {
    margin-top: 10px;
}

.modalTitleDesc {
    font-size: 18px;
    color: $white;
    font-weight: $bold;
}

.modalSubtitle {
    font-size: 13px;
    color: $white;
}

.modal-end-content {
        padding:15px 20px;
        background: $white;
}

.modal-textarea {
    width:100%;
    border: 1px solid $grey1;
}

.modal-content-title {
    font-size:16px;
    font-weight: $bold;
    color: $grey5;
}

.modal-content-desc {
    font-size:14px;
}

.modal-textarea {
    margin-top:10px;
    color: $grey5;
    font-size:14px;
}

.modal-textarea::-webkit-input-placeholder {
    font-size:14px;
    color: $grey2;
    font-family:Lato;
}

.evaluation {
    margin-top:10px;
}

.evaluation-option {
    font-size:14px;
    color: $grey5;
    font-weight: normal;
    margin-top:5px;
    display:flex;
}

.evaluation-option input {
    margin-top: 4px;
    margin-right:5px;
}

.user-rate{
     padding-left: 0;
     padding-top: 5px;
     margin-left: -7px;
 }

 
.user-rate-all{
     padding-left: 15px!important;
     margin-top: -3px!important;
 }
 .user-rate-all md-icon{
     cursor: pointer;
     color:$grey1;
 }

 .user-rate md-icon {
     cursor: pointer;
 }


.yellow{
    color: $yellow!important;
 }
.grey{
    color: $grey1!important;
 }
 .yellow:hover{
    color: $grey2!important;
 }
.grey:hover{
    color: $grey2!important;
 }

 .individual {
    height:150px;
    margin-top:25px;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .individual::-webkit-scrollbar {
    width: 5px;
    border-radius:10px;
}
 
.individual::-webkit-scrollbar-track {
    -webkit-box-shadow: inset $grey2;
}
 
.individual::-webkit-scrollbar-thumb {
  background-color: $grey2;

}
 .listPerson{
    list-style-type: none;
    padding: 2px 0px;
}

.card-user-image img{
    width: 30px;
    height: 30px;
    border-radius: 45px;
    margin: 0;
    object-fit: cover;
}

.candidateName {
    font-weight: normal;
    font-size:14px;
    color: $grey5;
    padding-left:5px;
}

.modal-end-footer {
    margin-top:30px;
}

.card-bevolun-user-image{
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.card-bevolun-user-image img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid $grey1
}

.card-bevolun-user-name{
    line-height: 45px;
    margin-right: 5px;
    color: $primary;
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-bevolun-user-verified i{
    line-height: 47px;
    color: $primary;
    vertical-align: middle;
    font-size: 1rem;
}

.card-bevolun {
    margin-top:20px;
    width: 100%;   
    background-color: $white;
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);   
}

.card-bevolun-header{
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    display: flex;
}

.text-inst {
    font-size: 14px;
    padding-left: 15px;
    padding-bottom: 15px;
    color: $grey4;
}