  <div class="row">
    <div class="col-12 table">
      <table class="table">
        <thead class="thead-inverse" class="cabecalho">
          <tr>
            <th>TITULO</th>
            <th>LOCALIZAÇÃO</th>
            <th>DATA</th>
            <th>CRIADO POR</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableText">
            <td class="tableBold tableTitle">Técnico de juventude</td>

            <td class="tablePlace">
              <div class="tableBold">Centro ocupacional AME</div>
              <div class="">Rua dos pardais, 4430-826</div>
              <div>Aveiro, Portugal</div>
            </td>

            <td class="tableDate">
              <div class="tableBold">8 de março - 12 de março</div>
              <div class="">8 de março às 18:00 até 12 de março às 12:00</div>
            </td>

            <td class="ellipsis">
              <span class="table-user-image"><img src="http://www.institutocriap.com/file/2017/01/caritas-diocesana-de-aveiro.png"></span>
              <span class="tableBold margin-left">Caritas Diocesana de Aveiro</span>
            </td>

  <td class="tableBtns">
              <div class="text-right">
                <button class="btn btnConfirm">VER</button>
              </div>
              <div class="text-right">
                <button class="btn btnCancel" >CANCELAR</button>
              </div>
            </td>
            <tr>
     
        
        

        </tbody>
      </table>
    </div>

  </div>