<div class="container">
    <!--
<form novalidate (ngSubmit)="onSubmit(form)" [formGroup]="form">
    <button class="facebookLogin">Entrar com o Facebook</button>
    <br> Login <input type="text" formControlName="login">
    <small *ngIf="!form.controls.login.valid && form.controls.login.touched" style="color:red">Invalido</small>
    <br> Password <input type="password" formControlName="password">
    <br>
    <button type="submit">Login</button>
</form>
-->
    <div class="row">
        <div class="col-12 containerLogin">
            <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
                <div *ngIf="emailRegist==0">
                    <div class="col-12">
                        <button class="facebookLogin">Registar com o Facebook</button>
                    </div>
                    <div class="col-12">
                        <button class="googleLogin">Registar com o Google</button>
                    </div>
                    <div class="col-12 text-center orLogin">
                        <span class="divider-or">ou</span>
                        <hr class="divider-hr">
                    </div>
                    <div class="col-12">
                        <button class="normalLogin" (click)="openEmailRegist()">Registar com o e-mail</button>
                    </div>
                </div>

                <div *ngIf="emailRegist==1">
                    <div class="col-12 text-center">
                        <span class="registerAdvice1">Registe-se com o <span class="adviceSocial">Facebook</span> ou
                        <span class="adviceSocial">Google</span>.</span>
                    </div>
                    <hr>
                    <form (ngSubmit)="onSubmit(form)" [formGroup]="form">
                        <div class="col-12">
                            <input type="email" maxlength="120" [class.borda]="!form.controls.email.valid && form.controls.email.touched" formControlName="email"
                                class="inputEmailLogin form-control" placeholder="Endereço de e-mail">
                            <div *ngIf="form.controls.email.errors?.required && form.controls.email.touched" class="text-danger">Campo Obrigatório</div>
                        </div>
                        <div class="col-12">
                            <input type="text" maxlength="120" [class.borda]="!form.controls.name.valid && form.controls.name.touched" formControlName="name"
                                class="inputEmailLogin form-control" placeholder="Primeiro nome">
                            <div *ngIf="form.controls.name.errors?.required && form.controls.name.touched" class="text-danger">Campo Obrigatório</div>
                        </div>
                        <div class="col-12">
                            <input type="text" maxlength="120" [class.borda]="!form.controls.lastname.valid && form.controls.lastname.touched" formControlName="lastname"
                                class="inputEmailLogin form-control" placeholder="Último Nome">
                            <div *ngIf="form.controls.lastname.errors?.required && form.controls.lastname.touched" class="text-danger">Campo Obrigatório</div>
                        </div>
                        <div class="col-12">
                            <input maxlength="120" [class.borda]="!form.controls.password.valid && form.controls.password.touched" type="password" class="inputPasswordLogin form-control"
                                formControlName="password" placeholder="Inserir palavra-passe">
                            <div *ngIf="form.controls.password.errors?.actualLength < form.controls.password.errors?.requiredLength && form.controls.password.touched"
                                class="text-danger">A password não é forte o suficiente</div>
                            <div *ngIf="form.controls.password.errors?.required && form.controls.password2.touched" class="text-danger">Campo Obrigatório</div>

                        </div>
                        <div class="col-12">
                            <input maxlength="120" [class.borda]="!form.controls.password2.valid && form.controls.password.touched" type="password" class="inputPasswordLogin form-control"
                                formControlName="password2" placeholder="Confirmar palavra-passe">
                            <div *ngIf="form.controls.password2.errors?.required && form.controls.password2.touched" class="text-danger">Campo Obrigatório</div>
                            <div *ngIf="form.controls.password2.errors?.actualLength < form.controls.password2.errors?.requiredLength && form.controls.password2.touched"
                                class="text-danger">A password não é forte o suficiente</div>

                        </div>
                        <div class="col-12">
                            <p class="serviceAdvice">Ao fazer o registo, concordo com os Termos de Serviço e a Política de Privacidade da Volum. </p>
                        </div>

                        <div class="col-12">
                            <button class="normalLogin" type="submit">Registar</button>
                        </div>
                    </form>
                </div>

                <div *ngIf="emailRegist==2">
                    <div class="col-12">
                        <span class="registerAdvice1">Registo efetuado com sucesso.</span>
                    </div>
                    <hr>
                    <div class="col-12">
                        <p class="registSuccess">Obrigado por se registar!</p>
                        <p class="registSuccess">Irá receber um e-mail de confirmação. Clique no link para começar a utilizar a Volum.</p>
                    </div>
                </div>

                <div *ngIf="emailRegist==1 || emailRegist==0">
                    <div class="col-12 footerLogin">
                        <hr>
                    </div>
                    <div class="col-6">
                        <span class="registerAdvice">Já se encontra registado?</span>
                    </div>
                    <div class="col text-right btnRegister">
                        <button type="button" class="registerBtn">Entrar</button>
                    </div>
                </div>



            </form>


            <!-- registar com e-mail -->




            <!-- registar com e-mail -->
        </div>
    </div>
</div>