<div class="row marginContents">
          <div class="col s12">
              <h3>Card</h3>
              <p>Disposição gráfica dos elementos dentro de cada card. Cada card representa uma ação de voluntariado.</p>
              <p>Cada card possui um cabeçalho, um corpo e um footer. No cabeçalho da card está representado o autor da ação de voluntariado. 
                  No corpo da card, está representada uma descrição da ação de voluntariado, indicando o seu título e descrição, bem como uma fotografia.
                  No footer está representada todas as funções de cariz social.
                </p>
          </div>
      </div>

      <div class="row">
        <div class="col s12 m5 align-center imgs">
            <img src="imgs/card.jpg">
        </div>
      </div>