<div class="row marginContents">
          <div class="col s12">
              <h3>Inputs</h3>
              <p>Os campos de inserção de dados procuram a ser o mais simples possível, de forma a não provocar qualquer tipo
                  de problema ao utilizador que vai inserir os dados. É também sempre mostrado o título do campo em que o utilizador
                  se insere.
              </p>
          </div>
      </div>

      <div class="row">
        <div class="col s12 m5 align-center imgs">
            <img src="imgs/input.jpg">
             <img src="imgs/input2.jpg">
        </div>
      </div>