<div class="row marginContents">
          <div class="col s12">
              <h3>Listas</h3>
              <p>As listas têm como objetivo, listar vários elementos. Procuramos enquadrar, de forma organizada, todas as informações necessárias em cada um dos elementos da lista, tal como podemos perceber nos exemplos a seguir.
                   Cada um dos elementos possui ainda um ícone que permite ao utilizador perceber que o item é clicável e conduz a outra página ou ação.</p>
          </div>
      </div>

      <div class="row">
        <div class="col s12 m5 align-center imgs">
            <img src="imgs/lista1.jpg">
             <img src="imgs/list2.jpg">
              <img src="imgs/list3.jpg">
               <img src="imgs/list4.png">
        </div>
      </div>