<div class="row marginContents">
          <div class="col s12">
              <h3>Toggle</h3>
              <p>Este tipo de inserção de dados, por parte do utilizador, acaba por ser muito mais intutiva e agradável que um simples input do tipo checkbox. Para além disso, permite ao utilizador associar a sua inserção a dois tipos de cores.</p>
          </div>
      </div>

      <div class="row">
        <div class="col s12 m5 align-center imgs">
            <img src="imgs/toggle1.jpg">
          
        </div>
      </div>