
.icon-ok-circle:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-half:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-help-circled:before { content: '\e80e'; } /* '' */
.icon-pencil:before { content: '\e80f'; } /* '' */
.icon-bookmark:before { content: '\e810'; } /* '' */
.icon-share:before { content: '\e811'; } /* '' */
.icon-export:before { content: '\e812'; } /* '' */
.icon-off:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-star-1:before { content: '\e815'; } /* '' */
.icon-cancel-circle:before { content: '\e816'; } /* '' */
.icon-plus-circle:before { content: '\e817'; } /* '' */
.icon-minus-circle:before { content: '\e818'; } /* '' */
.icon-filter:before { content: '\e819'; } /* '' */
.icon-left:before { content: '\e81a'; } /* '' */
.icon-pencil-1:before { content: '\e81b'; } /* '' */
.icon-left-1:before { content: '\e81c'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */