<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6>Dados pessoais</h6>
        </div>
        <div class="ui-block-content">
          <ul>
            <li>
              <span class="title">Nome</span>
              <span class="text">{{user.name}}</span>
            </li>
            <li>
              <span class="title">Idade</span>
              <span class="text">22 anos</span>
            </li>
            <li>
              <span class="title">Morada</span>
              <span class="text">Aveiro, Portugal</span>
            </li>
            <li>
              <span class="title">Género</span>
              <span *ngIf="user?.gender == 0" class="text">Masculino</span>
              <span *ngIf="user?.gender == 1" class="text">Feminino</span>
            </li>
            <li>
              <span class="title">Email</span>
              <span class="text">{{user.email}}</span>
            </li>
            <li>
              <span class="title">Website</span>
              <span *ngIf="user.id_user!=id_user" class="linkInsert text">Não definido</span>
              <span *ngIf="user.id_user==id_user" class="linkInsert text">Inserir já</span>
            </li>
            <li *ngIf="user.phone">
              <span class="title">Telémovel</span>
              <span class="text">{{user.phone}}</span>
            </li>
          </ul>
          <div class="user-interests">
            <h6>Áreas de interesse</h6>
            <div class="ui-block-interests">
              <div>Desporto</div>
              <div>Ação social</div>
              <div>Saúde</div>
              <div>Apoio ao Domicilio</div>
            </div>
          </div>
          <div class="social-network">
            <h6>Redes sociais</h6>
            <a href="#" class="btn-social bg-facebook">Facebook</a>
            <a href="#" class="btn-social bg-google">Google</a>
            <a href="#" class="btn-social bg-twitter">Twitter</a>
          </div>
        </div>
      </div>

      <div class="ui-block">
        <div class="ui-block-title">
          <h6>Instituições</h6>
        </div>
        <ul class="top-volun-list">
          <li>
            <div class="top-user-picture">
              <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/12508846_1081344105243012_2713893583106288598_n.jpg?oh=45119ecdbc178f43648ccf21dc86e43a&oe=59E74A53">
            </div>
            <div class="top-user-text">
              <p class="classfication-name">Abrigo Seguro</p>
              <span>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_border</md-icon>
                          <md-icon class="small-star">star_border</md-icon>
                      </span>
            </div>
          </li>
          <li>
            <div class="top-user-picture">
              <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/25405_111558882205948_5087155_n.jpg?oh=f90f3ddbbb6ade8a29e649774e938d64&oe=59E4F811">
            </div>
            <div class="top-user-text">
              <p class="classfication-name">Onda Verde</p>
              <span>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_border</md-icon>
                      </span>
            </div>
          </li>
          <li>
            <div class="top-user-picture">
              <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/11021193_415874838574015_3732893204110208877_n.jpg?oh=9e3860bea48029237fb7a804d6db08bb&oe=59E9FD95">
            </div>
            <div class="top-user-text">
              <p class="classfication-name">Cáritas Aveiro</p>
              <span>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                          <md-icon class="small-star">star_rate</md-icon>
                      </span>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-lg-9">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6>Acerca de mim</h6>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <div class="col-6">
              <ul>
                <li>
                  <span class="title">Descrição</span>
                  <span class="text" *ngIf="user.about">{{user.about}}</span>
                  <span class="text" *ngIf="!user.about">
                          Sem descrição. 
                          <span *ngIf="user.id_user==id_user" class="linkInsert">Inserir já</span>
                  <span
                    *ngIf="user.id_user!=id_user" class="linkInsert">Não definido</span>
                    </span>

                </li>
                <li>
                  <span class="title">Tipos de voluntariado favoritos</span>
                  <span class="text">Solidariedade Social, Desporto e Apoio aos jovens.</span>
                </li>
                <li>
                  <span class="title">Idiomas</span>
                  <span class="text" *ngIf="user.languages">{{user.languages}}</span>
                  <span class="text" *ngIf="!user.languages">Sem idiomas definidos. <span *ngIf="user.id_user!=id_user" class="linkInsert">Não definido</span>
                  <span
                    *ngIf="user.id_user==id_user" class="linkInsert">Inserir já</span>
                    </span>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <li>
                  <span class="title">Hobbies e interesses</span>

                  <span class="text" *ngIf="user.hobbies"> {{user.hobbies}}</span>
                  <span class="text" *ngIf="!user.hobbies">Sem hobbies e interesses definidos. <span *ngIf="user.id_user==id_user" class="linkInsert">Inserir já</span>
                  <span
                    *ngIf="user.id_user!=id_user" class="linkInsert">Não definido</span>
                    </span>

                </li>
                <li>
                  <span class="title">Historial de voluntariado</span>
                  <span *ngIf="!user.history" class="text">Sem historial de voluntariado. <span class="linkInsert" *ngIf="user.id_user==id_user">Inserir já</span>
                  <span
                    *ngIf="user.id_user!=id_user" class="linkInsert">Não definido</span>
                    </span>
                    <span *ngIf="user.history" class="text">{{user.history}}</span>
                </li>
                <li>
                  <span class="title">Outros interesses</span>
                  <span *ngIf="user.other" class="text">{{user.other}}</span>
                  <span *ngIf="!user.other" class="text">Sem outros interesses definidos.<span *ngIf="user.id_user!=id_user" class="linkInsert">Não definido</span>
                  <span
                    *ngIf="user.id_user==id_user" class="linkInsert">Inserir já</span>
                    </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-block">
        <div class="ui-block-title">
          <h6>Educação e Formação</h6>
        </div>
        <div class="ui-block-content">
          <div class="row">
            <div class="col-6">
              <ul>
                <li>
                  <span class="title">Licenciatura em Psicologia</span>
                  <span class="text">Universidade de Aveiro</span>
                  <span class="text text-small">2010-2013</span>
                </li>
                <li>
                  <span class="title">Mestrado em Apoio Auxiliar</span>
                  <span class="text">Faculdade de Letras da Universidade do Porto</span>
                  <span class="text text-small">2014-2016</span>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <li>
                  <span class="title">Formação em Voluntariado</span>
                  <span class="text">Banco Alimentar</span>
                  <span class="text text-small">2010-2013</span>
                </li>
                <li>
                  <span class="title">Curso Secundário de Jardinagem</span>
                  <span class="text">Escola Secundária de Oliveira de Azemeis</span>
                  <span class="text text-small">2009-2012</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>