<div class="container">
  <div class="row">

    <div class="col-12 col-lg-4">
      <div class="card primaryCard">
        <div class="card-header cardTitle">

          <div class="row">
            <div class="col titleCard">
              Dados Pessoais
            </div>
            <div class="col text-right iconCard">
              <i class="material-icons edit">more_horiz</i>
            </div>
          </div>

        </div>
        <div class="card-block">
          <div class="row ">
            <div class="titleProfile col-4">
              Nome:
            </div>
            <div class="col-7 textProfile">
              {{user.name}}
            </div>
          </div>
          <div class="row marginAbout">
            <div class="titleProfile col-4">
              Idade:
            </div>
            <div class="col-7 textProfile">
              <span>{{getAge(user.birth_date)}}</span>
            </div>
          </div>
          <div class="row marginAbout">
            <div class="titleProfile col-4">
              E-mail:
            </div>
            <div class="col-7 textProfile">
              {{user.email}}
            </div>
          </div>
          <div class="row marginAbout">
            <div class="titleProfile col-4">
              Género:
            </div>
            <div class="col-7 textProfile">
              <span *ngIf="user?.gender == 0">Masculino</span>
              <span *ngIf="user?.gender == 1">Feminino</span>

            </div>
          </div>
          <div class="row marginAbout">
            <div class="titleProfile col-4">
              Vive em:
            </div>
            <div class="col-7 textProfile">
              Aveiro, Portugal
            </div>
          </div>
          <div class="row marginAbout">
            <div class="titleProfile col-4">
              Telemóvel:
            </div>
            <div class="col-7 textProfile">
              {{user.phone}}
            </div>
          </div>



        </div>
      </div>
      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="container">
            <div class="row">
              <div class="col titleCard">
                Instituições
              </div>
              <div class="col text-right iconCard">
                <i class="material-icons edit">more_horiz</i>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class=" col-12">
                <span class="table-user-image"><img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/12508846_1081344105243012_2713893583106288598_n.jpg?oh=45119ecdbc178f43648ccf21dc86e43a&oe=59E74A53"></span>
                <span class="candidateName">Abrigo Seguro</span>
              </div>
            </div>
            <div class="row">
              <div class=" col-12 marginAbout">
                <span class="table-user-image"><img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/25405_111558882205948_5087155_n.jpg?oh=f90f3ddbbb6ade8a29e649774e938d64&oe=59E4F811"></span>
                <span class="candidateName ">Onda Verde</span>
              </div>
            </div>
            <div class="row">
              <div class=" col-12 marginAbout">
                <span class="table-user-image"><img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/11021193_415874838574015_3732893204110208877_n.jpg?oh=9e3860bea48029237fb7a804d6db08bb&oe=59E9FD95"></span>
                <span class="candidateName ">Caritas</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="container">
            <div class="row">
              <div class="col titleCard">
                Redes Sociais
              </div>
              <div class="col text-right iconCard">
                <i class="material-icons edit">more_horiz</i>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class=" col-12 text-center">
                <button class="brn socialButtonFacebook" (click)="goTo('facebook', user.facebook_id)" [class.disabled]="!user.facebook_id">  Facebook </button>
              </div>
            </div>
            <div class="row">
              <div class=" col-12 text-center">
                <button class="btn socialButtonTwitter" [class.disabled]="!user.twitter_id" [attr.disabled]="!user.twitter_id">Twitter</button>
              </div>
            </div>
            <div class="row">
              <div class=" col-12 text-center">
                <button class="btn socialButtonInstagram" [class.disabled]="!user.google_id" [attr.disabled]="!user.google_id">Google</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-8 col-12">
      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="container">
            <div class="row">
              <div class="col titleCard">
                Acerca de mim
              </div>
              <div class="col text-right iconCard">
                <i class="material-icons edit">more_horiz</i>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="titleProfile">
                  Descrição:
                </div>
                <div class="textProfile">
                  {{user.about}}
                </div>
              </div>

              <div class="col-lg-6">
                <div class="titleProfile">
                  Hobbies e interesses:
                </div>
                <div class="textProfile">
                  {{user.hobbies}}
                </div>
              </div>

            </div>

            <div class="row marginAbout">
              <div class="col-lg-6">
                <div class="titleProfile">
                  Tipos de voluntariado favoritos:
                </div>
                <div class="textProfile">
                  Solidariedade Social, Desporto e Apoio aos jovens.
                </div>
              </div>

              <div class="col-lg-6">
                <div class="titleProfile">
                  Historial de voluntariado:
                </div>
                <div class="textProfile">
                  <span *ngIf="!user.history">Sem historial de voluntariado. <span class="linkInsert">Inserir já</span></span>
                  <span *ngIf="user.history">{{user.history}}</span>
                </div>
              </div>

            </div>

            <div class="row marginAbout">
              <div class="col-lg-6">
                <div class="titleProfile">
                  Idiomas:
                </div>
                <div class="textProfile">
                  {{user.languages}}
                </div>
              </div>

              <div class="col-lg-6">
                <div class="titleProfile">
                  Outros interesses:
                </div>
                <div class="textProfile">
                  {{user.other}}

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="container">
            <div class="row">
              <div class="col titleCard">
                Educação e Formação
              </div>
              <div class="col text-right iconCard">
                <i class="material-icons edit">more_horiz</i>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="titleProfile">
                  Licenciatura em Psicologia
                  <div class="dateFormation">2014-2017</div>
                </div>
                <div class="textProfile formationText">
                  Universidade de Aveiro
                </div>
              </div>

              <div class="col-lg-6">
                <div class="titleProfile">
                  Mestrado em Apoio Auxiliar
                  <div class="dateFormation">2017-2019</div>
                </div>
                <div class="textProfile formationText">
                  Faculdade de Letras da Universidade do Porto
                </div>
              </div>

              <div class="col-lg-6 marginAbout">
                <div class="titleProfile">
                  Formação em Voluntariado
                  <div class="dateFormation">2017-2019</div>
                </div>
                <div class="textProfile formationText">
                  Banco Alimentar
                </div>
              </div>

              <div class="col-lg-6 marginAbout">
                <div class="titleProfile">
                  Curso Secundário de Jardinagem
                  <div class="dateFormation">2013-2018</div>
                </div>
                <div class="textProfile formationText">
                  Escola Secundária de Oliveira de Azemeis
                </div>
              </div>



            </div>

          </div>
        </div>
      </div>



    </div>


  </div>
</div>