@import '../../../../styles';
@import '../actions/actions.component';

.marginAbout2 {
  margin-top: 10px;
}

.marginAbout3 {
  margin-top: 20px;
}

.socialButtonFacebook {
  border-radius: 5px;
  width: 100%;
  background-color: #2F5B9C;
  color: #fff;
  height: 35px;
  font-size: 13px;
  font-family: Lato;
  margin-bottom: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.socialButtonTwitter {
  border-radius: 5px;
  width: 100%;
  background-color: #37BFF1;
  color: #fff;
  height: 35px;
  font-size: 13px;
  font-family: Lato;
  margin-bottom: 10px;
  text-decoration: none;
  border: none;
    cursor: pointer;

}

.socialButtonLinkedin {
  border-radius: 5px;
  width: 100%;
  background-color: #0077B5;
  color: #fff;
  height: 35px;
  font-size: 13px;
  font-family: Lato;
  margin-bottom: 10px;
  text-decoration: none;
  border: none;
    cursor: pointer;

}
.disabled{
  cursor: default;
}

.socialButtonInstagram {
  border-radius: 5px;
  width: 100%;
  background-color: #F44747;
  color: #fff;
  height: 35px;
  font-size: 13px;
  font-family: Lato;
  margin-bottom: 10px;
  text-decoration: none;
  border: none;
    cursor: pointer;

}


.card-block {
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.card-header {
  padding-left: 5px!important;
  padding-right: 5px!important;
}

.titleProfile {
  font-weight: bold;
  font-size: 16px;
  color: $grey5;
}

.titleCard{
  margin-top: 3px;
}

.textProfile {
  font-size: 14px;
  color: $grey4;
}

.socialProfile {
  margin-left: 5px;
  padding-top: 15px;
}

.dateFormation {
  font-size: 11px;
  color:$grey4;
  font-weight: 300;
}

.formationText {
  margin-top: 3px;
}

.linkInsert{
  color: $orange!important;
  cursor:pointer;
  font-weight: $bold;
  transition: all 0.3s ease;
  opacity: 1;
}


.linkInsert:hover{
  opacity: 0.8;
}

.text-small{
  font-size: 0.8rem!important;
}

.text-none {
  font-size: 14px!important;
  color: $grey3!important;
}

.ui-block-title > * {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}

.ui-block-title .more{
    padding-left: 25px;
    text-align: right;
    width: 16px;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    color: #888da8;
    fill: #c0c4d8;
}