
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-block">
                <div class="action-menu">
                    <ul>
                        <li><a routerLink="obtained" [routerLinkActive]="['active-action-menu']">Classificação obtida</a></li>
                        <li><a routerLink="attributed" [routerLinkActive]="['active-action-menu']">Classificação abribuida</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>



