<div class="row text-center">
    <div class="col-12">
          <div class="card cardFriends text-center">
            <div class="friendsBackground">
                <img class="coverImg" src='{{user?.photo}}'>
            </div>
            <div class="profile-user-picture text-center">
                <img src="{{user?.photo}}" alt="profile user picture" />
            </div>
            <div class="col user-rate">
                    <md-icon class="rate1">star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                </div>
            <div class="friendsName">
              {{user?.name}}
            </div>
            <div class="friendsPlace">
              Sever do Vouga, Aveiro
            </div>
          </div>
    </div>
    <div class="col-12 details">
      <div class="friendsCardNumber">E-mail</div>
      <div class="friendsCardNumberDesc">{{user?.email}}</div>
    </div>
    <div class="col-12 row-details">
      <div class="friendsCardNumber">Data de Nascimento</div>
      <div class="friendsCardNumberDesc">18 de Janeiro de 1996</div>
    </div>
    <div class="col-md-8 offset-md-2 row-details">
      <div class="friendsCardNumber">Descrição</div>
      <div class="friendsCardNumberDesc">Sou um rapaz natural de Aveiro e sempre procurei ajudar aqueles que necessitam. Gosto muito de voluntariado.</div>
    </div>

    <div class="col-6 text-right no-padding btn-modal" style="padding-right:5px;">
      <button class="btn btnCancel" (click)="close()">FECHAR</button>
    </div>
    <div class="col-6 btn-modal no-padding" style="padding-left:5px; text-align:left">
      <button class="btn btnConfirm" (click)="onSelect(user?.user_id)">VER</button>
    </div>
    

  </div>