<div class="row text-center">
    <div class="col-12 no-padding">
          <div class="card cardFriends text-center">
            <div class="friendsBackground">
                <img class="coverImg" src='{{user?.cover_photo}}'>
            </div>
            <div class="profile-user-picture text-center">
                <img src="{{user?.photo}}" alt="profile user picture" />
            </div>
            <div class="col user-rate">
                    <md-icon *ngFor="let star of user?.score">star_rate</md-icon>
                    <md-icon *ngFor="let star of user?.negative_score">star_border</md-icon>
                </div>
            <div class="friendsName">
              {{user?.name}}
            </div>
            <div class="friendsPlace" *ngIf="user?.country && user?.region">
               {{user?.region}}, {{user?.country}}
            </div>
            <div class="friendsPlace" *ngIf="user?.country && !user?.region">
              {{user?.country}}
            </div>
            <div class="friendsPlace" *ngIf="!user?.country && user?.region">
              {{user?.region}}
            </div>
          
          </div>
    </div>
    <div class="col-12 details">
      <div class="friendsCardNumber">E-mail</div>
      <div class="friendsCardNumberDesc">{{user?.email}}</div>
    </div>
    <div class="col-12 row-details">
      <div class="friendsCardNumber">Data de Nascimento</div>
      <div class="friendsCardNumberDesc">{{user?.birth_date | date:"d" }} de {{user?.birth_date | date:"MMMM" }} de {{user?.birth_date | date:"y" }}</div>
    </div>
    <div class="col-md-8 offset-md-2 row-details" *ngIf="user?.about">
      <div class="friendsCardNumber">Descrição</div>
      <div class="friendsCardNumberDesc">{{user?.about}}</div>
    </div>

    <div class="col-6 text-right no-padding btn-modal" style="padding-right:5px;">
      <button class="btn btnCancel" (click)="close()">FECHAR</button>
    </div>
    <div class="col-6 btn-modal no-padding" style="padding-left:5px; text-align:left">
      <button class="btn btnConfirm" (click)="onSelect(user?.user_id)">VER</button>
    </div>
    

  </div>