<div class="container-fluid">
  <div class="row">
    <div class="col-12 header-msg text-center no-padding">
      {{conversationName}}
    </div>

    <div class="col-12">
      <div class="chat-content" #scrollMe>
        <div *ngFor="let message of messages" [class.item-mine]="message.from_id == id_user" [class.item-friend]="message.from_id != id_user">
          <button [class.msg-mine]="message.from_id == id_user" [class.msg-friend]="message.from_id != id_user">{{message.message}}</button>
        </div>
      </div>
    </div>

    <div class="col-12 area-insert">
      <div class="writeSection row">
        <div class="col">
          <input autofocus type="text" class="inputSearch" [(ngModel)]="message" placeholder="Escrever uma mensagem" (keyup.enter)="sendMessage(message)">

        </div>
        <div class=".align-items-lg-end">
          <button class="btn btnConfirm" (click)="sendMessage(message)">ENVIAR</button>
        </div>
      </div>
    </div>
  </div>
</div>