<div class="ui-message" *ngFor="let prof of profile">
    <div class="header-message">
        <div class="header-message-text">
            <p>{{prof.name}}</p>
        </div>
        <div class="header-message-more">
            <i class="material-icons fix-icon">settings</i>
        </div>
    </div>
    <div class="content-message">
        <div class="message-content">

           
            <div class="message-content-chat" #scrollMe>

                <div *ngFor="let message of messages" [class.message-content-chat-row-left]="message.from_id != id_user" [class.message-content-chat-row-right]="message.from_id == id_user">
                    <div class="user-img" *ngIf="message.from_id != id_user">
                        <img src="{{prof.photo_url}}">
                    </div>
                     <div class="user-text">
                        <div>{{message.message}}</div>
                     </div>
                </div>
                
            </div>
            
            <div class="message-content-input">
                <div class="form-chat">
                    <div class="form-input">
                         <input autofocus type="text" class="inputSearch" [(ngModel)]="message" placeholder="Escrever uma mensagem" (keyup.enter)="sendMessage(message)">
                    </div>
                    <div class="form-chat-btn">
                          <button class="btn btnConfirm" (click)="sendMessage(message)">ENVIAR</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-info">
            <div class="message-info-user">
                <div class="img">
                    <img src="{{prof.photo_url}}">
                </div>
                <div class="name">
                    <h6 class="underline pointer" (click)="openProfile(prof.id_user)">{{prof.name}}</h6>
                    <span>
                    <md-icon *ngFor="let star of prof?.score">star_rate</md-icon>
                    <md-icon *ngFor="let star of prof?.negative_score">star_border</md-icon>
                    </span>
                </div>
                <div class="icon">
                     <i class="material-icons fix-icon">more_horiz</i>
                </div>
            </div>
            <div class="message-info-user-more">
                <div class="message-info-user-more-row">
                    <div class="title">
                        <p>Email</p>
                    </div>
                    <div class="description">
                        <p>{{prof.email}}</p>
                    </div>
                </div>
               
                <div class="message-info-user-more-row">
                    <div class="title">
                        <p>Tipo de utilizador</p>
                    </div>
                    <div *ngIf="prof.type_user==2" class="description">
                        <p>Voluntário</p>
                    </div>
                    <div *ngIf="prof.type_user==1" class="description">
                        <p>Instituição de voluntariado</p>
                    </div>
                </div>
                 <div class="message-info-user-more-row" *ngIf="prof.region || prof.country">
                    <div class="title">
                        <p>Vivem em:</p>
                    </div>
                    <div class="description">
                        <p>
                          <span *ngIf="prof.region && prof.country">{{prof.region}}, {{prof.country}}</span>
                          <span *ngIf="prof.region && !prof.country">{{prof.region}}</span>
                          <span *ngIf="!prof.region && prof.country">{{prof.country}}</span>
                        </p>
                    </div>
                    
                </div>
                <div class="message-info-user-more-row" *ngIf="prof.about">
                    <div class="title">
                        <p>Descrição</p>
                    </div>
                    <div class="description">
                        <p>
                          <span>{{prof.about}}</span>
                        </p>
                    </div>
                    
                </div>
                 <!--
                <div class="message-info-user-more-row">
                    <div class="title">
                        <p>Email</p>
                    </div>
                    <div class="description">
                        <p>asdsadsadas</p>
                    </div>
                </div>
                <div class="message-info-user-more-row">
                    <div class="title">
                        <p>Email</p>
                    </div>
                    <div class="description">
                        <p>asdsadsadas</p>
                    </div>
                </div>
                <div class="message-info-user-more-row">
                    <div class="title">
                        <p>Email</p>
                    </div>
                    <div class="description">
                        <p>asdsadsadas</p>
                    </div>
                </div>
                -->
            </div>          
        </div>
    </div>
</div>



<!--
<div *ngFor="let prof of profile" class="container-fluid">
  <div class="row">
    <div class="col-8 no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 header-msg text-center no-padding">
            {{prof.name}}
          </div>

          <div class="col-12 no-padding">
            <div class="chat-content" #scrollMe>
              <div *ngFor="let message of messages" [class.item-mine]="message.from_id == id_user" [class.item-friend]="message.from_id != id_user">

                <div>
                  <img class="img-user" *ngIf="message.from_id != id_user" src="{{prof.photo_url}}"></div><button [class.msg-mine]="message.from_id == id_user"
                  [class.msg-friend]="message.from_id != id_user">{{message.message}}</button>
              </div>

              <div *ngIf="messages.length == 0" class="text-center no-content mt-5">

                <div style="padding: 5px;"><i class="material-icons">messages</i></div>
                <span style="font-weight: 400">Ainda não trocou mensagens com {{prof.name}}. Envie-lhe um olá!</span>


              </div>
            </div>
          </div>

          <div class="col-12 area-insert">
            <div class="writeSection row">
              <div class="col">
                <input autofocus type="text" class="inputSearch" [(ngModel)]="message" placeholder="Escrever uma mensagem" (keyup.enter)="sendMessage(message)">

              </div>
              <div class=".align-items-lg-end">
                <button class="btn btnConfirm" (click)="sendMessage(message)">ENVIAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 no-padding">
      <div class="container">
        <div class="row">
          <div class="header-msg text-center ">

          </div>
          <div class="area-profile text-center">

            <div class="desc-profile">
              <img class="img-profile" src="{{prof.photo_url}}">
              <div class="name-profile pointer underline" (click)="navigate_profile(prof.id_user)">
                {{prof.name}}
              </div>

              <div class="desc-name-profile" *ngIf="prof.type_user==2">
                Voluntário
              </div>

              <div class="desc-name-profile" *ngIf="prof.type_user==1">
                Instituição de voluntariado
              </div>

              <div class="desc-name-profile" *ngIf="prof.type_user==3">
                Voluntário/ Instituição de voluntariado
              </div>

              <div style="margin-top:40px">
                <div class="justify-content-center table-flex">
                  <div class="bold">
                    E-mail:
                  </div>
                  <div class="">
                    {{prof.email}}
                  </div>
                </div>
                <div class="justify-content-center table-flex">
                  <div class="bold">
                    Vive em:
                  </div>
                  <div class="">
                    Aveiro, Portugal
                  </div>
                </div>
                <div class="justify-content-center table-flex">
                  <div class="bold">
                    Data de Nascimento
                  </div>
                  <div class="">
                    {{prof.birth_date | date}}
                  </div>
                </div>

               <div class="justify-content-center table-flex" *ngIf="prof.numberVolsParticipated>0">
                  <div class="bold">
                    Já participou em:
                  </div>
                  <div class="">
                    {{prof?.numberVolsParticipated}} ações de voluntariado
                  </div>
                </div>
                <div class="justify-content-center table-flex" *ngIf="prof.numberVolsParticipated==0 || prof.numberVolsParticipated == null || !prof.numberVolsParticipated ">
                  <div class="bold">
                    Ainda não participou em 
                  </div>
                  <div class="">
                    ações de voluntariado
                  </div>
                </div>
                <div class="justify-content-center table-flex">
                  <div class="bold">
                    Classificação média:
                  </div>
                  <div class="">
                    {{prof?.score}}
                  </div>
                </div>
                <div class="justify-content-center table-flex" style="margin-top: 40px;" *ngIf="prof?.facebook_id">
                  <div class="bold">
                    Facebook:
                  </div>
                  <div class="">
                    {{prof?.facebook_id}}
                  </div>
                </div>
                <div class="justify-content-center table-flex" *ngIf="prof?.linkedin_id">
                  <div class="bold">
                    Linkedin:
                  </div>
                  <div class="">
                    {{prof?.linkedin_id}}
                  </div>
                </div>
                <div class="justify-content-center table-flex" *ngIf="prof?.instagram_id">
                  <div class="bold">
                    Instagram:
                  </div>
                  <div class="">
                    {{prof?.instagram_id}}
                  </div>
                </div>
                <div class="justify-content-center table-flex" *ngIf="prof?.twitter_id">
                  <div class="bold">
                    Twitter:
                  </div>
                  <div class="">
                    {{prof?.twitter_id}}
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->