@import "../../../../styles";


.chat-content{
    overflow-y: scroll;
    height:calc(100vh - 155px);
}
.header-msg {
    background: $white;
    padding:15px 0px 15px 0px;
    border-bottom:1px solid $grey1;
    font-weight: $bold;
    font-size: 16px;
    width: 100%;
    height: 55px;
}

.area-insert {
    position:absolute;
    top:calc( 100vh - 100px );
    height: 50px;
    background: $white;
    border:1px solid $grey1;
    padding-top:5px;
}

.inputSearch {
  width: 100%;
  height: 35px;
  border: 0;
  border-radius: 3px;
  padding: 15px;
  padding-top: 10px;
  font-size: 14px;
  color: $grey3;
}

.writeSection {
    padding-right: 15px;
    padding-top:5px;
}

.item-mine {
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    text-align: right;
}

.item-mine .msg-mine {
    border-radius:20px;
    background: $blue;
    color: $white;
    padding:5px 15px;
    border:0;
    font-size: 14px;
    text-align: left;
    max-width: 50%;
    word-wrap: break-word;
}

.item-friend {
    margin-top:10px;
    margin-bottom:10px;
    display: flex;
    text-align: left;
    padding: 15px 10px;
}

.item-friend .msg-text {
    margin-left: 10px;
}

.item-friend .msg-friend {
    border-radius:20px;
    background: $grey1;
    color: $grey3;
    padding:5px 15px;
    border:0;
    font-size: 14px;
    text-align: left;
    max-width: 50%;
    word-wrap: break-word;

}
.item-friend .image img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}


.chat-content::-webkit-scrollbar {
    width: 5px;
    border-radius:10px;
}
 
.chat-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset $grey2;
}
 
.chat-content::-webkit-scrollbar-thumb {
  background-color: $grey2;

}

.area-profile {
    border-left: 1px solid $grey1;
    height:calc( 100vh - 105px );
    width: 100%;
    background: $white;
    display: flex;
    overflow: auto;
}

.img-profile {
    border-radius: 100px;
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 20px;
}

.desc-profile {
    width: 100%;
    margin-top: 50px;
}

.name-profile {
    font-weight: $bold;
    font-size: 19px;
    color:$grey3;
}
.desc-name-profile {
    color: $grey2;
    font-size: 16px;
}

.details-profile {
    margin-top:10px;
    display: flex;
}

.img-user {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.table-flex {
    display: flex;
    font-size: 14px;
    color: $grey2;
    margin-top: 10px;
}

.bold {
    font-weight: $bold;
    color: $grey3;
    padding-right: 5px;
}
