<div class="container-fluid">
  <div class="row">
    <div class="col-12 header-msg text-center no-padding">
      Diogo Monteiro
    </div>

    <div class="col-12">
      <div class="chat-content">
        <div class="item-mine text-right">
          <div class="msg-text">
          <button class="msg-mine">Olá, como estás?</button>
          </div>
        </div>

        <div class="item-friend">
          <div class="image">
            <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-9/15179213_1273668912697345_1000954396091759152_n.jpg?oh=73f57e5d46ed6dfe007f948e7923d0a2&oe=598ADEF3">
          </div>
          <div class="msg-text">
          <button class="msg-friend">LOREM IPSUM OLASLASLSALASLASASL ALSASLSALASL LASLASLASLASLASL ASLASLASLASLASL LSALASLASLASLASLASLL SALSALASLASLASL LASLSALSALASLASL LASLSALASLASLSAL LSASALALSLASLSA LSALSALSALSALSAL LSALSALSALASLSLA LASLASLSALSALASL LASLSALSALASL</button>
          </div>
        </div>

        <div class="item-mine text-right">
          <button class="msg-mine">wtf??</button>
        </div>

      </div>
    </div>

    <div class="col-12 area-insert">
      <div class="writeSection row" >
          <div class="col">
            <input autofocus type="text" class="inputSearch" placeholder="Escrever uma mensagem">
             
          </div>
            <div class=".align-items-lg-end">
              <button class="btn btnConfirm">ENVIAR</button>
            </div>
        </div>
    </div>
  </div>
</div>