<div class="container">
  <div class="row">
    <div clasS="col-12 col-lg-3 border">
      <div class="card primaryCard">
        <div class="card-header cardTitle">
          <div class="row">
            <div class="col titleCard">
            Definições de Perfil
            </div>
          </div>
        </div>

      <div class="card-block">
        <ul class="listSettings">
          <li>
            <a routerLink="/profile/settings/personal">Informação Pessoal</a>
          </li>
          <li>
            <a routerLink="/profile/settings/about-me">Acerca de Mim</a>
          </li>
          <li>
            <a routerLink="/profile/settings/education">Educação e Formação</a>
          </li>
          <li>
            <a routerLink="/profile/settings/change-pass">Alterar a palavra passe</a>
          </li>
      </ul>
      </div>


          
    </div>

    <div class="col-12 col-lg-9">
      <router-outlet></router-outlet>
    </div>

</div>
