@import '../actions/actions.component';
@import "../../../../styles";
//accordion

.listSettings li a {
  color: $grey2;
  list-style-type: none;
  text-decoration: none;
  font-size: 12px;
}

.card-block-acc ul li {
  padding-top: 7px!important
}

.titleCardMini {
  color: $grey2;
  font-size: 10px;
  padding-left: 15px;
}

.titleCardAcc {
  font-size: 14px;
  padding: 5px;
  padding-left: 15px;
  color: $grey3;
}

.card-block-acc {
  background: #FAFBFD;
  padding-left: 15px;
  padding-top: 15px;
  border-top: 1px solid $grey0;
}

.cardTitleAcc {
  border-top: 1px solid $grey0;
  border-bottom: 0;
  cursor: pointer;
}

.cardTitleMini {
  border-bottom: 0;
  border-top: 1px solid $grey0;
}

.settingsActive {
  color:$grey3!important;
  font-weight: $bold
}

//accordion

.card-header {
  background-color: $white!important;
}

 .card-block ul {
    list-style-type: none;
    padding: 0;
    margin-top: -10px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-weight: 400!important;
}

 .card-block ul li {
    list-style-type: none;
    padding-top: 15px;
}

.border {
  border: 0;
}

/deep/ .card {
  border: 0px;
}

.card-block2 {
  background-color: #ffffff;
  color: $grey2;
  border: 0;
}


.form-control {
  margin-bottom: 0px!important
}

.inputProfile {
  margin-top: 20px;
  }

.inputProfile2 {
  height: 50px;
  margin-top: 30px;
}

.no-margin {
  margin-top: 0px;
}

.disabled {
  color:    $grey2;
  font-family: Lato;
  font-size: 12px;
  padding-left: 10px;
}

.date_picker {
  height: 50px;
  border: 1px solid $grey1!important;
  font-size: 15px;
  font-family: Lato;
  color: #4A4A4A;
  padding-top: 20px;
  padding-bottom: 0;
  background: #fff;
  z-index: 9;
}

.input-group-addon {
  height: 50px;
  margin-top: 0px;
}

.text_area_profile {
  height: 100px;
  line-height: 1.2em
}

.fotoTitle {
  margin-top: 20px;
}

.inputPhotoProfile {
  margin-top: 55px;
}

.btnDescart {
  width: 100%;
  font-size: 15px;
  color:$grey2;
  background-color: $white;
  padding-top:15px;
  padding-bottom:15px;
  border:1px solid $grey2;
  border-radius:0px;
  margin-top:40px;
}

.btnSave {
  width: 100%;
  font-size: 15px;
  color:$white;
  background-color: $blue;
  padding-top:15px;
  padding-bottom:15px;
  border:1px solid $blue;
  border-radius:0px;
  margin-top: 40px;
  cursor:pointer;
  color: $white!important;
}

.btnDescart:hover {
  color:$white;
  background-color: $grey2;
  border:1px solid $grey2;
}

.btnSave:hover {
  color:$blue;
  background-color: $white;
  border:1px solid $blue;
}


.inputText {
  height: 50px;
}

.form-group {
  margin: 0!important
}

.float-label .control {
  width: 100%;
}

.float-label input,
.float-label textarea {
  display: block;
  width: 95%;
  border: 0;
  outline: 0;
  resize: none;
  font-size: 14px;
  font-family: Lato;
  color: $grey3;
}


.float-label .control{  // div input
  border: 1px solid $grey1;
  border-radius: 5px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 22px;
}

.titlePlaceholder {
  margin-top: -2px;
}

::-webkit-input-placeholder {
   font-size: 14px;
   font-family: Lato;
   color: $grey2;
}



.placeholderSelect {
  position: absolute;
  top:9px;
  left: 29px;
  color: $grey2;
  font-size: 10px;
  font-family: Lato;
  opacity: 1;
  z-index: 11;
}



.textAreaProfile {
  margin-left: -2px;
}

.inputSocial {
  border:1px solid $grey1!important
}


//educação
.titleAdd {
  color: $grey2;
  font-size: 14px;
  margin-top: -20px;
}


.titleEducation {
  color: $grey2;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.iconAdd {
  font-size: 18px;
  margin-top: 20px;
  color: $grey2;
}

.marginBottom {
  margin-bottom: 30px;
}

.textAdd {
  margin-top: -10px;
}

.addEducation {
  margin-top: 20px!important;
  margin-bottom: -5px!important;
  cursor: pointer;
}




///////




.inputProfile3 {
    margin-top: 27px;
}


.text-error {
    color: $red;
    font-size:11px;
    padding-top:5px;
}

form > .control {
  position: relative;
}
form > .control > label {
  position: absolute;

}

label {
  position: absolute;
  top:10px;
  font-size:11px;
  color: $grey2;
}
input:focus + label {
    font-weight: $bold;
    color: $blue;
}
.error-label {
    font-weight: $bold;
}

.label-for-select {
     position: absolute;
     padding-left: 15px; 
    z-index:10!important;
}

select:focus + label {
    font-weight: $bold;
    color: $blue; 
}

textarea:focus + label {
    font-weight: $bold;
    color: $blue; 
}

.select-input {
    padding-top:25px;
    height: 60px!important;
    font-size:14px!important;
}

.date_picker {
    padding-left:15px!important;
}

/deep/ .dropdown-item {
    margin-left: 0px!important;
    font-size:14px;
    color: $grey2;
}

/deep/ .dropdown-item.active {
    background: $blue;
    color: $white;
}

/deep/ .control .dropdown-menu {
    width: 1070px;
    left:15px!important;
    border-radius:0!important;
    top: 54px!important;
    padding:0px;
}
.searched {
    padding-left:5px;
}

.content-search {
    padding: 10px 0px;
    display: flex;
}

.imgPreview {
    height: 75px;
    width: 150px;
    object-fit: cover;
}

.text-red {
    color: $red!important;
}