<div class="container-fluid">
  <div class="row">
    <div class="col-12 header-msg no-padding">
     <span class="span-input">Para:</span><input autofocus type="text" class="inputSearchHeader" placeholder="Escreve o nome da pessoa ou instituição">
    </div>

    <div class="col-12 area-insert">
      <div class="writeSection row" >
          <div class="col">
            <input type="text" class="inputSearch" placeholder="Escreve uma mensagem...">
             
          </div>
            <div class=".align-items-lg-end">
              <button class="btn btnConfirm">ENVIAR</button>
            </div>
        </div>
    </div>
  </div>
</div>