<div class="card primaryCard">
  <div class="card-header cardTitle">
    <div class="row">
      <div class="col titleCard">
      Educação e formação
      </div>
    </div>
  </div>

<div class="card-block">
  <form class="float-label" spellcheck="false">
  <div class="row">
    <div class="col-12 titleEducation noMarginTitleEducation">
      Formação 1
    </div>
      <div class="col-6 inputProfile no-margin">
          <div class="control inputText">
          <input type="text" class="" name="title" placeholder="Instituição" value="Universidade de Aveiro" required />
          <label for="title" class="titlePlaceholder">Instituição</label>
        </div>
      </div>

      <div class="col-6 inputProfile no-margin">
          <div class="control inputText">
          <input type="text" class="" name="title" placeholder="Período de tempo" value="2014-2017" required />
          <label for="title" class="titlePlaceholder">Período de tempo</label>
        </div>
      </div>
      <div class="col-12 inputProfile marginBottom">
        <div class="control">
         <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Descrição">Licenciatura em Psicologia</textarea>
          <label for="textarea" class="titlePlaceholder">Descrição</label>
         </div>
       </div>


       <div class="col-12 titleEducation">
          Formação 2
       </div>


       <div class="col-6 inputProfile no-margin">
           <div class="control inputText">
           <input type="text" class="" name="title" placeholder="Instituição" value="Universidade de Aveiro" required />
           <label for="title" class="titlePlaceholder">Instituição</label>
         </div>
       </div>

       <div class="col-6 inputProfile no-margin ">
           <div class="control inputText">
           <input type="text" class="" name="title" placeholder="Período de tempo" value="2014-2017" required />
           <label for="title" class="titlePlaceholder">Período de tempo</label>
         </div>
       </div>
       <div class="col-12 inputProfile marginBottom">
         <div class="control">
          <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Descrição">Licenciatura em Psicologia</textarea>
           <label for="textarea" class="titlePlaceholder">Descrição</label>
          </div>
        </div>

        <div class="col-12 addEducation">
          <span class="iconAdd">+ </span><span class="titleAdd">Adicionar campo de educação</span>
        </div>

       <div class="col-6">
           <a class="btn btn-outline-primary btnDescart" routerLink="/profile/details">CANCELAR</a>
       </div>
       <div class="col-6 ">
         <a class="btn btn-outline-primary btnSave" routerLink="/profile/details">GUARDAR</a>
       </div>

    </div>



  </form>
  </div>
</div>
