<div class="container-fluid">
  <div class="row">
    <div class="col-3 no-padding">

      <div class="search-msgs d-flex justify-content-between">

        <div class="search-icon" (click)="activeSearch()">
          <i class="material-icons">search</i>
        </div>

        <div class="title-msgs text-center">
          Ultimas mensagens
        </div>

        <div class="add-icon" routerLink="/chat/new">
          <i class="material-icons">add</i>
        </div>

      </div>
      <div class="recent-msgs">
        <div class="searchSection" *ngIf="searchAtive" style="padding-top:5px;">
          <div class="areaInput">
            <input type="text" class="inputSearch" autofocus placeholder="Pesquisar contactos">
          </div>
        </div>

        <div class="content-msgs">
          <div class="msg-item" *ngFor="let conversation of conversations" (click)="navigate(conversation.id_user, conversation.user_name)">
            <div class="image">
              <img [src]="conversation.photo_url">
            </div>
            <div class="message-info">
              <div>

                <div class="nameMsg">{{conversation.user_name}}</div>
                <div class="time">20:00</div>
              </div>

              <span class="textMsg"> Teste </span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-9 no-padding">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>