<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="ui-block" style="margin-top:100px;">
                <div class="ui-block-title">
                    <h6>Pedidos</h6>
                </div>
                <ul class="page-classification-list" *ngIf="requestsTrue">
                    <li *ngFor = "let request of requests">
                        <div class="page-classification-header">
                            <div class="page-classification-picture">
                                 <img src="{{request?.photo_url}}">
                            </div>
                            <div class="page-classification-action">
                                <h6><a class="page-classification-name-user underline">{{request?.user_name}}</a> começou a seguir-te.</h6>
                                <p>{{request?.date | amTimeAgo:true}}</p>
                            </div>
                            <div class="page-classification-more">
                                <i class="material-icons">insert_emoticon</i>
                            </div>
                        </div>
                    </li>
                </ul>
                <div *ngIf="!requestsTrue" class="text-center no-notification">
                    <div class="icon-undefined">
                        <i class="material-icons">access_time</i>
                    </div>
                    <p>Não possui qualquer pedido.</p>
                </div>
            </div>
        </div>
    </div>
</div>






