@import '../styles';

/* HEADER */
.brandBackground {
    padding-top: 6px;
}
.header-background {
    background-color: $blue;
    height: 50px;
    transition: all 0.3s ease;
    z-index: 10;
}

.titleBrand a {
    color: $white;
    font-weight: 600;
    letter-spacing: 8px;
    font-size: 1.45rem;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.menuHeader {
    text-align: right;
}

.menuHeader ul {
    padding-top: 8px;
    padding-left: 15px;
}

.menuHeader ul li {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    padding-top: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

.menuHeader ul li:last-child {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 0;
}

.navbar-user-picture img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 5px;
}

.navbar-namePicture-arrow {
    display: inline-block;
    vertical-align: middle;
}

.menuHeader ul li:hover {
    cursor: pointer;
}

/deep/ .mat-menu-panel {
        /* box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12); */
    width: 220px;
    margin-top: 40px;
}

/deep/ .cdk-overlay-pane {
    margin-left: -10px;
}

/deep/ .mat-menu-ripple {
    padding-left: 10px;
    padding-right: 10px;
    color: $grey2!important;

}

/deep/ .mat-menu-ripple:hover {
    border-bottom: 1px solid $grey2!important;
}

/deep/ .mat-menu-content {
    padding-bottom:0!important;
    padding-top:0!important;
    border-bottom: 1px solid $grey0!important;
}

/deep/ .mat-menu-item {
    font-size: 14px!important;
    font-family: Lato!important;
}

/deep/ .mat-menu-item:hover {
    font-size: 14px!important;
    font-family: Lato!important;
    color: $grey3!important;
    background: $white!important;
}