@import '../styles';

/* HEADER */

.brandBackground {
    padding-top: 6px;
}

.header-background {
    background-color: $blue;
    height: 50px;
    transition: all 0.3s ease;
    z-index: 10;
}

.titleBrand a {
    color: $white;
    font-weight: 600;
    letter-spacing: 8px;
    font-size: 1.45rem;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.menuHeader {
    text-align: right;
}

.menuHeader ul {
    padding-top: 8px;
    padding-left: 15px;
}

.menuHeader ul li {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.menuHeader ul li:last-child {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 0;
}

.navbar-user-picture {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 5px;
}

.navbar-namePicture-arrow {
    display: inline-block;
    vertical-align: middle;
}

.menuHeader ul li:hover {
    cursor: pointer;
}

/deep/ .mat-menu-panel {
    /* box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12); */
    width: 220px;
    margin-top: 40px;
}

/deep/ .cdk-overlay-pane {
    margin-left: -10px;
}

/deep/ .mat-menu-ripple {
    padding-left: 10px;
    padding-right: 10px;
    color: $grey2!important;
}

/deep/ .mat-menu-ripple:hover {
    border-bottom: 1px solid $grey2!important;
}

/deep/ .mat-menu-content {
    padding-bottom: 0!important;
    padding-top: 0!important;
    border-bottom: 1px solid $grey0!important;
}

/deep/ .mat-menu-item {
    font-size: 14px!important;
    font-family: Lato!important;
}

/deep/ .mat-menu-item:hover {
    font-size: 14px!important;
    font-family: Lato!important;
    color: $grey3!important;
    background: $white!important;
}

.message-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid $grey1;
}
.profile-item {
    display: flex;
    padding: 5px 20px;
    border:0;
}
.profile-item .icon {
   color: $grey2;
   padding-top:1px;
}

.profile-item .icon i {
   font-size:20px;
}

.profile-item .desc {
   color: $grey3;
   font-size:13px;
   margin-left: 15px;
   padding-top: 2px;
}
.profile-item:hover {
    background: #f5f5f5;
}
.actions-profile {
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom:1px solid $grey1;
}

hr {
    margin: 0;
}


/*
/deep/ .popover {
    max-width: 350px !important;
    width: 100% !important;
    /* Max Width of the popover (depending on the container!)

}
*/


.image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.image {
    display: inline-flex;
}

.message-info {
    
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
    padding-top: 0px;
    font-size: 14px;
    margin-top:-1px;
}

.notification-info {
        width: 250px;
    margin-left: 12px;
    height: 50px;
    font-size: 14px;
    overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;

}

.dropdown-menu .new {
    background: rgba(15, 118, 247, 0.1)
}



.message-item:hover {
    background: #f5f5f5;
}

.message-item .time {
    color: $grey2;
    font-weight: normal;
    font-size: 11px;
}

.nameMsg{
    font-weight: bold;
    color: $grey3;
    font-size:14px;
}

.textMsg{
    color: $grey2;
    font-size:13px;
}
.message-info div:first-child {
    justify-content: space-between;
    display: flex;
}

.message-info .text {
    font-weight: 12px;
}

#dropdown-user {
    left: -40px;
    top: 42px;
    border-radius: 0px;
    right: 0;
}



#dropdown-user .dropdown-item {
    padding: 10px !important;
    height: initial;
}

#dropdown-messages {
    left: -385px;
    top: 40px;
    border-radius: 0px;
    width:450px;
    padding: 0;
}
.dropdown-menu-profile {
    padding:0!important;
}
.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 36px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu-profile:before {
    position: absolute;
    top: -7px;
    right: 3px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-toggle:after {
    display: none;
}

.dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 36px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    content: '';
}

.dropdown-menu-profile:after {
    position: absolute;
    top: -7px;
    right: 3px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    content: '';
}

.badge-notify{
   background:red;
    position: absolute;
    top: 0px;
    left: 25px;
}

.arrow_dropdown {
    position: relative;
    top: 5px;
}

.dropdown-header {
    font-size: 10px;
    padding: 10px 20px 10px;
    border-bottom: 1px solid $grey1;
    color:$grey2;
}

.dropdown-footer {
    font-size: 13px;
    font-weight: $bold;
    padding: 10px 0px 10px;
    color:$blue;
    text-align: center;
}

.dropdown-footer:focus {
    outline: none;
}
.nameDropdown {
    margin-top:-5px;
}

.btn-notification {
    padding:6px;
}

.btnConfirm:hover {
    background: #f5f5f5;
}