@import '../styles';

/* NAVBAR */
.navbar-bevolun{
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    background-color: $primary;
    padding: 16px;
    position: fixed;
    z-index: 2;
}

.navbar-bevolun-brand{
    width: 260px
}

.navbar-bevolun-brand a{
    color: $white;
    font-weight: 600;
    letter-spacing: 8px;
    font-size: 1.45rem;
    text-decoration: none;
}

.navbar-bevolun-search{
    flex: 2
}

.navbar-bevolun-search{
    ::-webkit-input-placeholder {
        color:    $white;
    }
    :-moz-placeholder {
        color:     $white;
        opacity:  1;
    }
    ::-moz-placeholder { 
        color:    $white;
        opacity:  1;
    }
    :-ms-input-placeholder { 
        color:     $white;
    }
    ::-ms-input-placeholder { 
        color:     $white;
    }
}

.header-search{
    width: 598px;
    margin-left: auto;
    margin-right: auto;
    transition: all 300ms;
    opacity: 0;
}

.header-search input{
    width: 600px;
    height: 46px;
    border: none;
    background-color: #3087F6;
    border-radius: 3px;
    padding-left: 15px;
    font-size: 0.9rem;
    color: $white;
    transition: all 500ms;
}

.header-search input:focus{
    background-color: #03469B;
}




.search-result{
    width: 600px;
    background-color: $white;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 3px;
}

.search-result:hover{
     background-color: $grey1;
}

.search-img{
    margin-right: 8px;
}

.search-img img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 45px;
    border: 1px solid $grey1;
}

.search-text h6{
    color: $primary;
    font-weight: 600;
    font-size: 0.9rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.search-text p{
    color: $grey3;
    font-size: 0.8rem;
}






.navbar-bevolun-right{
    width: 260px;
    display: flex;
    align-items: center;
}

.navbar-bevolun-right div a{
    text-align: right;
}

.navbar-bevolun-right div:hover{
    cursor: pointer;
}

.navbar-bevolun-right div a:hover{
    cursor: pointer;
    color: $white;
}

.navbar-bevolun-map a{
    color: $white;
}

.navbar-bevolun-map a:hover{
    color: $white;
}

a md-icon{
    vertical-align: middle;
}

.navbar-user-picture {
    object-fit: cover;  
    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 5px;
}

.badge-notify{
    background:$red;
    position: absolute;
    top: -3px;
    left: 17px;
}


/* DROPDOWN HEADER */
.dropdown-menu{
    border-radius: 3px!important;
    border: none!important;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20)!important;
    -moz-box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20)!important;
    box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20)!important;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 36px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -7px;
    right: 36px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    content: '';
}

.dropdown-header {
    border-bottom: 1px solid $grey1;
    color:$grey2;
    font-size: 0.7rem;
    padding: 10px 15px 10px; 
}

.message-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey1;
    padding: 10px 15px 10px;
    transition: all 0.2s;
}

.notification-info {
    margin-left: 12px;
    width: 100%;
    font-size: 0.9rem;
    color: $grey5;
    display: flex;
}

.notification-info p span{
   color: $grey5;
   font-weight: 600;
}

.notification-info p{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-info p b{
    color: $primary;
}

.notification-info p i{
    color: $primary;
    vertical-align: middle;
    margin-left: 3px;
    font-size: 1rem;
    margin-right: 2px;
}

.dropdown-footer {
    font-size: 0.8rem;
    font-weight: $bold;
    padding: 10px 0px 10px;
    color:$blue;
    text-align: center;
    transition: all 0.2s
}

.dropdown-footer:hover{
    background-color: $grey1;
}

.dropdown-footer:focus {
    outline: none;
}










/* HEADER */
/deep/ .mat-input-element {
    color: $grey4;
}


.add_padding {
    padding-top:0px!important;
    padding-left: 12px!important;
}

.menuHeader ul li:last-child {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 0;
}



.navbar-namePicture-arrow {
    display: inline-block;
    vertical-align: middle;
}

.menuHeader ul li:hover {
    cursor: pointer;
}


/** TODO: LIMPAR **/
/deep/ .mat-menu-panel {
    width: 220px;
    margin-top: 40px;
}

/deep/ .cdk-overlay-pane {
    margin-left: -10px;
}

/deep/ .mat-menu-ripple {
    padding-left: 10px;
    padding-right: 10px;
    color: $grey2!important;
}

/deep/ .mat-menu-ripple:hover {
    border-bottom: 1px solid $grey2!important;
}

/deep/ .mat-menu-content {
    padding-bottom: 0!important;
    padding-top: 0!important;
    border-bottom: 1px solid $grey0!important;
}

/deep/ .mat-menu-item {
    font-size: 14px!important;
    font-family: Lato!important;
}

/deep/ .mat-menu-item:hover {
    font-size: 14px!important;
    font-family: Lato!important;
    color: $grey5!important;
    background: $white!important;
}


.no-content{
    justify-content: center;
}





.profile-item {
    display: flex;
    padding: 5px 20px;
    border:0;
}
.profile-item .icon {
   color: $grey3;
   padding-top:1px;
}

.profile-item .icon i {
   font-size:20px;
}

.profile-item .desc {
   color: $grey5;
   font-size:0.9rem;
   margin-left: 15px;
   padding-top: 2px;
}
.profile-item:hover {
    background: $grey1;
}
.actions-profile {
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom:1px solid $grey1;
}

hr {
    margin: 0;
}


/*
/deep/ .popover {
    max-width: 350px !important;
    width: 100% !important;
    /* Max Width of the popover (depending on the container!)

}
*/



.image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 1px solid $grey1;
}



.message-info {  
    margin-left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 500px;
    padding-top: 0px;
    font-size: 14px;
    margin-top:-1px;
}


.notification-info {
    margin-left: 12px;
    height: 40px;
    width: 100%;
    font-size: 14px!important;
    overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;

}

.notification-info p{
    font-size:14px;
}


.dropdown-menu .new {
    background: rgba(15, 118, 247, 0.1)
}

.message-item:hover {
    background: $grey1;
}

.message-container{
    height: 300px;
    overflow-y: scroll;
}

.message-item .time {
    color: $grey2!important;
    font-weight: normal!important;
    font-size: 0.7rem!important;
}

.nameMsg{
    font-weight: bold;
    color: $primary;
    font-size:0.9rem;
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.nameMsg i{
    font-size: 1rem;
    vertical-align: middle;
    margin-left: 5px;
}

.textMsg{
    color: $grey5;
    font-size:0.8rem;
    margin-top: -3px;
}
.message-info div:first-child {
    justify-content: space-between;
    display: flex;
}

.message-info .text {
    font-weight: 12px;
}

#dropdown-user {
    left: -170px;
    top: 42px;
    border-radius: 0px;
    right: 0;
}



#dropdown-user .dropdown-item {
    padding: 10px !important;
    height: initial;
}

#dropdown-messages {
    left: -395px;
    top: 40px;
    border-radius: 0px;
    width:450px;
    padding: 0;
}
.dropdown-menu-profile {
    padding:0!important;
}

.dropdown-menu-profile:before {
    position: absolute;
    top: -7px;
    right: 3px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-toggle:after {
    display: none;
}



.dropdown-menu-profile:after {
    position: absolute;
    top: -7px;
    right: 3px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    content: '';
}



.arrow_dropdown {
    position: relative;
    top: 5px;
}










.message-container::-webkit-scrollbar {
    width: 5px;
    background: $grey1;
    border:0;
}
 
.message-container::-webkit-scrollbar-thumb {
  background-color: $grey2;
      border:0;

}

.showSearch{
   opacity: 1;
}
//SEARCH
