<div class="container-fluid header-background">
    <div class="row">
        <div class="col-sm-2 col-12 brandBackground">
            <div class="titleBrand">
                <a routerLink="/feed">VOLUM</a>
            </div>
        </div>
        <div class="col-sm-10 col-12 menuHeader">
            <ul>
                <li *ngIf="user" routerLink="map">
                    <md-icon>place</md-icon>
                </li>
                <li *ngIf="user" ngbDropdown>
                    <md-icon ngbDropdownToggle>people</md-icon>
                    <span class="badge badge-notify">{{newRequestsCount}}</span>

                    <div id="dropdown-messages" class="dropdown-menu">
                        <div class="dropdown-header">PEDIDOS</div>
                        <div class="message-item" *ngFor="let request of requests">


                            <div class="image">
                                <img [src]="request.photo_url">
                            </div>
                            <div class="notification-info">
                                <div>
                                    <p><b>{{request.user_name}}</b> começou a seguir-te <span class="time">{{request.date | amTimeAgo:true}}</span>                                        </p>
                                </div>
                            </div>
                            <div class="notification-info text-right">
                                <div class="btn-notification">
                                    <button class="btn btnConfirm">VER</button>
                                </div>
                            </div>
                        </div>


                        <div routerLink="/requests" class="dropdown-footer">Ver todos os pedidos</div>

                    </div>
                </li>

                <li *ngIf="user" ngbDropdown>
                    <md-icon ngbDropdownToggle>chat_bubble</md-icon>

                    <div id="dropdown-messages" class="dropdown-menu">
                        <div class="dropdown-header">MENSAGENS</div>
                        <div class="message-item" *ngFor="let conversation of conversations">
                            <div class="image">
                                <img [src]="conversation.photo_url">
                            </div>
                            <div class="message-info">
                                <div>
                                    <span class="nameMsg">{{conversation.user_name}}</span>
                                    <span class="time">20:00</span>
                                </div>

                                <span class="textMsg"> Olá Estatíco </span>
                            </div>
                        </div>
                        <div class="dropdown-footer" routerLink="/chat/msg">Ver todas as mensagens</div>
                    </div>
                </li>

                <li *ngIf="user" ngbDropdown>
                    <md-icon ngbDropdownToggle>notifications</md-icon>
                    <span class="badge badge-notify">{{newNotificationCount}}</span>

                    <div id="dropdown-messages" class="dropdown-menu">
                        <div class="dropdown-header">NOTIFICAÇÕES</div>

                        <div class="message-item" *ngFor="let notification of notifications">
                            <div class="image">
                                <img [src]="notification.photo_url">
                            </div>
                            <div class="notification-info">
                                <div>
                                    <p *ngIf="notification.type == 1"><b>{{notification?.user_name}}</b> candidatou-se a <b>{{notification?.vol_name}}</b>
                                        <span class="time">{{notification?.date | amTimeAgo:true }}</span> </p>

                                </div>
                                <div>
                                </div>
                            </div>
                        </div>

                        <div routerLink="/notifications" class="dropdown-footer">Ver todas as notificações</div>

                    </div>

                </li>
                <li (click)="openRegister()" *ngIf="!user">
                    Registar
                </li>
                <li (click)="openLogin()" *ngIf="!user">
                    Entrar
                </li>

                <li *ngIf="user" class="nameDropdown" ngbDropdown ngbDropdownToggle>

                    <span>
                    <img class="navbar-user-picture" [src]="user?.photo">
                    <span>{{user?.username}}</span>
                    <i class="material-icons arrow_dropdown">arrow_drop_down</i>


                    </span>


                    <div id="dropdown-user" class="dropdown-menu dropdown-menu-profile">
                        <div class="dropdown-header">A MINHA CONTA</div>
                        <div class="actions-profile">
                            <div class="profile-item" (click)="onSelect(idLogin)">
                                <div class="icon">
                                    <i class="material-icons">portrait</i>
                                </div>
                                <div class="desc">
                                    Perfil
                                </div>
                            </div>
                            <div class="profile-item" (click)="onSelectSettings(idLogin)">
                                <div class="icon">
                                    <i class="material-icons">settings</i>
                                </div>
                                <div class="desc">
                                    Definições de perfil
                                </div>
                            </div>
                            <div class="profile-item" (click)="logout()">
                                <div class="icon">
                                    <i class="material-icons">power_settings_new</i>
                                </div>
                                <div class="desc">
                                    Log out
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-header">SOCIAL</div>
                        <div class="actions-profile">
                            <div class="profile-item">
                                <div class="icon">
                                    <i class="material-icons">chat_bubble</i>
                                </div>
                                <div class="desc" routerLink="/chat/msg">
                                    Mensagens
                                </div>
                            </div>
                            <div class="profile-item" routerLink="/notifications">
                                <div class="icon">
                                    <i class="material-icons">notifications</i>
                                </div>
                                <div class="desc">
                                    Notificações
                                </div>
                            </div>
                            <div class="profile-item" routerLink="/requests">
                                <div class="icon">
                                    <i class="material-icons">people</i>
                                </div>
                                <div class="desc">
                                    Pedidos
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-header">SOBRE O VOLUM</div>
                        <div class="actions-profile">
                            <div class="profile-item">
                                <div class="icon">
                                    <i class="material-icons">toc</i>
                                </div>
                                <div class="desc">
                                    Termos e condições
                                </div>
                            </div>
                            <div class="profile-item">
                                <div class="icon">
                                    <i class="material-icons">forum</i>
                                </div>
                                <div class="desc">
                                    Contactos
                                </div>
                            </div>
                            <div class="profile-item">
                                <div class="icon">
                                    <i class="material-icons">help_outline</i>
                                </div>
                                <div class="desc">
                                    FAQS
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="dropdown-menu" id="dropdown-user">
                        <button class="dropdown-item" (click)="onSelect(idLogin)" *ngIf="user" styles="font-size:10px!important">Perfil</button>
                        <button class="dropdown-item" *ngIf="user">Definições</button>
                        <button class="dropdown-item" (click)="logout()" *ngIf="user">Sair</button>
                    </div>
-->
                </li>
            </ul>
        </div>
    </div>
</div>

<router-outlet></router-outlet>