@import '../../../styles';

.modal-card {
    padding:10px 20px 10px 20px;
    font-weight: $bold;
    font-size:16px;
    color: $grey3;
    border-bottom:1px solid $grey1;
}

.modal-list-content {
    padding:10px 20px 10px 20px;
    max-height:400px;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .modal-list-content::-webkit-scrollbar {
    width: 5px;
    border-radius:10px;
}
 
.modal-list-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset $grey2;
}
 
.modal-list-content::-webkit-scrollbar-thumb {
  background-color: $grey2;

}

.card-user-image img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 0;
}

.listPerson{
 list-style-type: none;
 padding: 10px 0px;
}


.candidateName{
  margin-left: 10px;
}

.btns-list {
    margin-top:6px;
}

.modal-remove-content {
    padding:10px 20px
}

.modal-btns {
    padding:10px 20px;
}



