@import '../../../styles';

/deep/ .modal-content {
    padding:0px 15px!important;
}
.modal-card {
    padding:15px 20px;
    font-weight: $bold;
    font-size:16px;
    color: $white;
    background: $blue;
}

.modal-list-content {
    padding:10px 20px 10px 20px;
    max-height:400px;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .modal-list-content::-webkit-scrollbar {
    width: 5px;
    border-radius:10px;
}
 
.modal-list-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset $grey2;
}
 
.modal-list-content::-webkit-scrollbar-thumb {
  background-color: $grey2;

}

.card-user-image img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin: 0;
    border: 1px solid $grey1;
}

.card-user-image {
    max-width:250px;
    display:flex;
    align-items: center;
    color: $grey5;
}

.card-user-image:hover {
    text-decoration: underline;
}

.full-width {
    max-width: 100%!important;
}

.user-desc {
    display: flex;
    align-items: center;
}

.listPerson{
 list-style-type: none;
 padding: 10px 0px;
}


.candidateName{
  margin-left: 20px;
}


.modal-remove-content {
    padding:10px 20px
}

.modal-btns {
    padding:10px 20px;
}



