<!-- CANDIDATOS -->
<div *ngIf="context.type==1" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Candidatos
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li *ngFor="let candidate of candidates" class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image pointer" (click)="onSelect(candidate?.id_user)" style="max-width:250px">
                <img src="{{candidate?.photo_url}}">
                <span class="truncate candidateName">{{candidate?.name}}</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">RECUSAR</button>
                <button type="button" class="btn btnConfirm">ACEITAR</button>
              </div>
            </div>
          </li>
          <div *ngIf="!candidates || candidates.length== 0" class="no-content text-center" style="padding:10px">
            <div style="padding: 3px;"><i class="material-icons">alarm</i></div>
            <span>Não existem candidatos.</span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRMADOS -->

<div *ngIf="context.type==2" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Confirmados
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li *ngFor="let confirmed of confirmeds" class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image pointer" (click)="onSelect(confirmed?.id_user)" style="max-width:340px">
                <img src="{{confirmed?.photo_url}}">
                <span class="truncate candidateName">{{confirmed?.name}}</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnRemove">REMOVER</button>
              </div>
            </div>
          </li>
          <div *ngIf="!confirmeds || confirmeds.length == 0" class="no-content text-center" style="padding:10px">
            <div style="padding: 3px;"><i class="material-icons">alarm</i></div>
            <span>Não existem confirmados.</span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- CONVITES -->

<div *ngIf="context.type==3" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Convites
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="../assets/imgs/avatar04.png">
                <span class="candidateName">Pedro Araújo</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">CANCELAR</button>
              </div>
            </div>
          </li>
          <li class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="../assets/imgs/avatar04.png">
                <span class="candidateName">Pedro Araújo</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">CANCELAR</button>
              </div>
            </div>
          </li>
          <li class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="../assets/imgs/avatar04.png">
                <span class="candidateName">Pedro Araújo</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">CANCELAR</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- REMOVER  CONFIRMADOS-->
<div *ngIf="context.type==4" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Remover {{context.name}}
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que deseja remover {{context.name}} dos confirmados?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel" (click)="close()">NÃO</button>
        <button class="btn btnConfirm" (click)="denyCandidate(this.context.idUser)">SIM</button>
      </div>
    </div>
  </div>
</div>


<!-- REMOVER  CANDIDATOS-->
<div *ngIf="context.type==5" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Recusar {{context.name}}
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que deseja recusar {{context.name}} como voluntário?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel" (click)="close()">NÃO</button>
        <button class="btn btnConfirm" (click)="denyCandidate(this.context.idUser)">SIM</button>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRMAR CANCELAR CANDIDATURA -->
<div *ngIf="context.type==6" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Cancelar candidatura
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que quer cancelar a sua candidatura para a ação de voluntariado "{{context.nameVol}}"?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel" (click)="close()">NÃO</button>
        <button class="btn btnConfirm" (click)="cancelApply(context.id_vol)">SIM</button>
      </div>
    </div>
  </div>
</div>


<!-- CONFIRMAR CANDIDATURA -->
<div *ngIf="context.type==7" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Candidatar a Ação de voluntariado
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que se quer candidatar como voluntário para a ação de voluntariado "{{context.nameVol}}"?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel" (click)="close()">NÃO</button>
        <button class="btn btnConfirm" (click)="apply(context.id_vol)">SIM</button>
      </div>
    </div>
  </div>
</div>

<!-- Likes -->
<div *ngIf="context.type==8" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Gostos
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li *ngFor="let like of likes" class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image full-width pointer" (click)="onSelect(like?.id_user)">
                <img src="{{like?.photo_url}}">
                <span class="candidateName">{{like?.name}}</span>
              </div>
            </div>
          </li>
          <div *ngIf="!likes || likes.length == 0" class="no-content text-center" style="padding:10px">
            <div style="padding: 3px;"><i class="material-icons">alarm</i></div>
            <span>Não existem gostos.</span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Testemunhos -->
<div *ngIf="context.type==9" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12 no-padding">
      <div class="modal-card">
        Testemunhos
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
         
        
        <li class="listPerson no-border no-margin">
            <div class="card-testemunhos full-width " style="display:flex">
               <div (click)="onSelect(13)"class="pointer">
                  <img  src="https://scontent.fopo2-2.fna.fbcdn.net/v/t31.0-8/18699402_1943555465856845_4639652155845259629_o.jpg?oh=b3f1ca3a89e54e4c4e5213b81770031b&oe=599CBAB4">
                </div>
                <div>
                  <div (click)="onSelect(13)" class="pointer" style="margin-left:12px"><b>André Martins</b></div>
                  <div class="class-testemunho "style="">Classificou a sua experiência com <span>5 estrelas</span></div>
                </div>
                
            </div>
            <div class="text-testemunho">
                  Decerto vou repetir. Foi uma experiência maravilhosa e a Associação de Melhoramentos do Eixo proporcionou-me excelentes momentos. Aconselho!
                </div>
          </li>

          <li class="listPerson no-border no-margin">
            <div class="card-testemunhos full-width" style="display:flex">
               <div (click)="onSelect(13)"class="pointer">
                  <img src="http://res.cloudinary.com/dbbmwchww/image/upload/v1496342607/11220863_905757172805944_8420142272234467572_n_-_Copy_m0zmgi.jpg">
                </div>
                <div>
                  <div (click)="onSelect(13)"class="pointer" style="margin-left:12px"><b>Pedro Araújo</b></div>
                  <div class="class-testemunho "style="">Classificou a sua experiência com <span>5 estrelas</span></div>
                </div>
                
            </div>
            <div class="text-testemunho">
                  Venham experimentar!
                </div>
          </li>

          <li class="listPerson no-border no-margin">
            <div class="card-testemunhos full-width" style="display:flex">
               <div (click)="onSelect(13)"class="pointer">
                  <img src="https://scontent.fopo2-2.fna.fbcdn.net/v/t31.0-8/16836372_1540263429321679_3428357649124928065_o.jpg?oh=cb7f6781e12ca0be479ce6a4c86079da&oe=599EDE6C">
                </div>
                <div>
                  <div (click)="onSelect(13)"class="pointer" style="margin-left:12px"><b>Vasco Silva</b></div>
                  <div class="class-testemunho "style="">Classificou a sua experiência com <span>5 estrelas</span></div>
                </div>
                
            </div>
            <div class="text-testemunho">
                  Foi uma experiência maravilhosa e a Associação de Melhoramentos do Eixo proporcionou-me excelentes momentos. 
                </div>
          </li>
        

          <!--
          <div *ngIf="!likes || likes.length == 0" class="no-content text-center" style="padding:10px">
            <div style="padding: 3px;"><i class="material-icons">alarm</i></div>
            <span>Não existem gostos.</span>
          </div>
          -->
        </ul>
      </div>
    </div>
  </div>
</div>
