<!-- CANDIDATOS -->
<div *ngIf="context.type==1" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Candidatos
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li *ngFor="let candidate of candidates" class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="{{candidate?.photo_url}}">
                <span class="candidateName">{{candidate?.name}}</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btn-outline-primary btnCancel">RECUSAR</button>
                <button type="button" class="btn btn-outline-primary btnConfirm">ACEITAR</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRMADOS -->

<div *ngIf="context.type==2" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Confirmados
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li *ngFor="let confirmed of confirmeds" class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="{{candidate?.photo_url}}">
                <span class="candidateName">{{candidate?.name}}</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnRemove">REMOVER</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- CONVITES -->

<div *ngIf="context.type==3" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Convites
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="../assets/imgs/avatar04.png">
                <span class="candidateName">Pedro Araújo</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">CANCELAR</button>
              </div>
            </div>
          </li>
          <li class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="../assets/imgs/avatar04.png">
                <span class="candidateName">Pedro Araújo</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">CANCELAR</button>
              </div>
            </div>
          </li>
          <li class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image">
                <img src="../assets/imgs/avatar04.png">
                <span class="candidateName">Pedro Araújo</span>
              </div>
              <div class="col text-right no-padding">
                <button type="button" class="btn btnCancel">CANCELAR</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- REMOVER  CONFIRMADOS-->
<div *ngIf="context.type==4" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Remover {{context.name}}
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que deseja remover {{context.name}} dos confirmados?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel">NÃO</button>
        <button class="btn btnConfirm">SIM</button>
      </div>
    </div>
  </div>
</div>


<!-- REMOVER  CANDIDATOS-->
<div *ngIf="context.type==5" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Recusar {{context.name}}
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que deseja recusar {{context.name}} como voluntário?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel">NÃO</button>
        <button class="btn btnConfirm">SIM</button>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRMAR CANCELAR CANDIDATURA -->
<div *ngIf="context.type==6" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Cancelar candidatura
      </div>
      <div class="col-12 modal-remove-content">
       Tem a certeza que quer cancelar a sua candidatura para a ação de voluntariado "{{context.nameVol}}"?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel">NÃO</button>
        <button class="btn btnConfirm">SIM</button>
      </div>
    </div>
  </div>
</div>


<!-- CONFIRMAR CANDIDATURA -->
<div *ngIf="context.type==7" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Candidatar a Ação de voluntariado
      </div>
      <div class="col-12 modal-remove-content">
        Tem a certeza que se quer candidatar como voluntário para a ação de voluntariado "{{context.nameVol}}"?
      </div>
      <div class="col-12 text-right modal-btns">
        <button class="btn btnCancel">NÃO</button>
        <button class="btn btnConfirm">SIM</button>
      </div>
    </div>
  </div>
</div>

<!-- Likes -->
<div *ngIf="context.type==8" class="container-fluid no-padding">
  <div class="row">
    <div class="col-12">
      <div class="modal-card">
        Gostos
      </div>
      <div class="modal-list-content">
        <ul class="list-group">
          <li *ngFor="let like of likes" class="listPerson no-border no-margin">
            <div class="row no-margin user-desc">
              <div class="card-user-image full-width">
                <img src="{{like?.photo_url}}">
                <span class="candidateName">{{like?.name}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>