<div class="ui-block">
    <div class="ui-block-title">
        <h6>Alterar palavra passe</h6>
    </div>

    <div class="ui-block-content">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="label-input" for="exampleInputEmail1">Palavra passe atual</label>
                    <input type="password" class="form-control input-form" aria-describedby="first-name" placeholder="Instituição">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="label-input" for="exampleInputEmail1">Nova palavra passe</label>
                    <input type="password" class="form-control input-form" aria-describedby="first-name" placeholder="Instituição">
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label class="label-input" for="exampleInputEmail1">Confirmar palavra passe</label>
                    <input type="password" class="form-control input-form" aria-describedby="first-name" placeholder="Instituição">
                </div>
            </div>
            <div class="col-6 mb-2">
                <a class="btn-settings btn-settings-cancel" routerLink="/profile/details">Cancelar</a>
            </div>
            <div class="col-6 mb-2">
                <button type="submit" class="btn-settings btn-settings-save">Guardar</button>
            </div>
        </div>
    </div>
</div>

