<div class="card primaryCard">
  <div class="card-header cardTitle">
    <div class="row">
      <div class="col titleCard">
      Alterar a palavra passe
      </div>
    </div>
  </div>

<div class="card-block">
  <form class="float-label" spellcheck="false">
  <div class="row">
      <div class="col-12 inputProfile no-margin">
          <div class="control inputText">
          <input type="password" class="" name="title" placeholder="Palavra passe atual" value="qualquer" required />
          <label for="title" class="titlePlaceholder">Palavra passe atual</label>
        </div>
      </div>
      <div class="col-6 inputProfile">
        <div class="control inputText">
          <input type="password" class="" name="title" placeholder="Nova palavra passe" value="qualquer" required />
          <label for="title" class="titlePlaceholder">Nova palavra passe</label>
        </div>
      </div>
      <div class="col-6 inputProfile">
        <div class="control inputText">
          <input type="password" class="" name="title" placeholder="Confirmar nova palavra passe" value="qualquer" required />
          <label for="title" class="titlePlaceholder">Confirmar nova palavra passe</label>
        </div>
      </div>
      <div class="col-12 ">
        <a class="btn btn-outline-primary btnSave" routerLink="/profile/details">GUARDAR</a>
      </div>
    </div>

  </form>
  </div>
</div>
