//FONTS
@import url('https://fonts.googleapis.com/css?family=Lato');
//GLOBAL COLORS
$red: #F51111;
$blue: #0F76F7;
$white: #FFFFFF;
$grey0: #F7F8FA;
$grey1:#E6E5E5;
$grey2: #919191;
$grey3:#4A4A4A;
$grey-border: #ECECEC;
$yellow: #FFCB2B;
$inputTitle: #A28F9F;
$orange: #FF8A65;
$bold: 600;
//AJUSTES GLOBAIS
search .dropdown-menu {
    width: 100% !important;
}

//////////////////
.carousel-control-next-icon {
    background-image: url('https://www.lithosdesign.com/images/arrow_b_right.png');
    width: 20px;
    height: 20px;
}

.carousel-control-prev-icon {
    background-image: url('https://www.lithosdesign.com/images/arrow_b_left.png');
    height: 20px;
    width: 20px;
    margin-left: -20px;
}

.carousel-control-prev {
    width: 5%;
    margin-left: -40px;
}

.carousel-control-next {
    width: 5%;
    margin-right: -50px;
}

//GLOBAL TEXT
.ts10 {
    font-size: 10px;
}

.ts12 {
    font-size: 12px;
}

.ts13 {
    font-size: 13px;
}

.ts14 {
    font-size: 14px;
}

.ts16 {
    font-size: 16px;
}

.ts18 {
    font-size: 18px;
}

//GLOBAL MARGIN
.no-margin {
    margin-left: 0;
    margin-right: 0;
}

//GLOBAL PADDING
.no-padding {
    padding-left: 0;
    padding-right: 0;
}

//GLOBAL INPUT
.width100 {
    width: 100%
}

//BOOTSTRAP EDIT
button:focus {
    outline: none!important;
}


//STYLES
textarea:focus, input:focus{
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif!important;
    background-color: #F7F8FA;
    color: $grey3!important;
}

//BOTÕES
.btnConfirm {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff!important;
    width: 100px;
    cursor:pointer;
}

.btnConfirm a {
    text-decoration: none;
    color: #fff!important;
}

.btnCancel {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $grey2;
    color: $grey2;
    min-width: 100px;
    background:#fff;
    cursor:pointer;
}

.btnCancel a {
    text-decoration: none;
    color: #fff;
}

.btnCancel:hover {
    font-size: 12px;
    border: 1px solid $grey2;
    color: #fff;
    background: $grey2;
}

.btnConfirm:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $blue;
    background-color: #fff;
    color: $blue!important;
}

.btnRemove {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #ff484a;
    background-color: #ff484a;
    color: #fff;
    cursor:pointer;
}

.btnRemove:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #ff484a;
    background-color: #fff;
    color: #ff484a;
}

.fade.in {
    opacity: 1;
}
.clickable {
    cursor:pointer;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-backdrop.in {
    opacity: 0.5;
}

.borda {
    border: 1px solid #E82C0C;
}

.textError {
    margin-bottom: 10px;
    color: #E82C0C!important;
    font-size: 14px;
}
.thumbnail {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.thumbnail4 {
    border-radius: 0!important;
    height: 50px;
    width: 50px;
    object-fit: cover;
}



.text-orange {
    color: $orange;
}


.modal-content {
    border-radius:0;
}

.pointer {
    cursor:pointer;
}