//FONTS
@import url('https://fonts.googleapis.com/css?family=Lato');
//GLOBAL COLORS
@import 'variables';
//AJUSTES GLOBAIS
search .dropdown-menu {
    width: 100% !important;
}
img{
    object-fit: cover;
}

.modal-dialog {
 top: 10%;
}
//////////////////
.carousel-control-next-icon {
    background-image: url('https://www.lithosdesign.com/images/arrow_b_right.png');
    width: 20px;
    height: 20px;
}

.carousel-control-prev-icon {
    background-image: url('https://www.lithosdesign.com/images/arrow_b_left.png');
    height: 20px;
    width: 20px;
    margin-left: -20px;
}

.carousel-control-prev {
    width: 5%;
    margin-left: -40px;
}
  .header {
        background: $blue;
        min-height: 350px;
        padding-top: 100px;
    }
.carousel-control-next {
    width: 5%;
    margin-right: -50px;
}

//GLOBAL TEXT
.ts10 {
    font-size: 10px;
}

.ts12 {
    font-size: 12px;
}

.ts13 {
    font-size: 13px;
}

.ts14 {
    font-size: 14px;
}

.ts16 {
    font-size: 16px;
}

.ts18 {
    font-size: 18px;
}

//GLOBAL MARGIN
.no-margin {
    margin-left: 0;
    margin-right: 0;
}

//GLOBAL PADDING
.no-padding {
    padding-left: 0;
    padding-right: 0;
}

//GLOBAL INPUT
.width100 {
    width: 100%
}

.no-content i{
    color: $grey3!important;
    font-weight: normal;
}
.no-content span{
   color: $grey3;
    font-size: 14px;
    font-weight: bold;
}

//BOOTSTRAP EDIT
button:focus {
    outline: none!important;
}


//STYLES
textarea:focus, input:focus{
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif!important;
    background-color: #F7F8FA;
    color: $background!important;
}

.row{
    color: $text-color;

}

.table{
    color: $text-color;
}

//BOTÕES
.btnConfirm {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff!important;
    width: 100px;
    cursor:pointer;
}

.btnConfirm a {
    text-decoration: none;
    color: #fff!important;
}

.btnCancel {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $grey2;
    color: $grey2;
    min-width: 100px;
    background:#fff;
    cursor:pointer;
}

.btnCancel a {
    text-decoration: none;
    color: #fff;
}

.btnCancel:hover {
    font-size: 12px;
    border: 1px solid $grey2;
    color: #fff;
    background: $grey2;
}

.btnConfirm:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $blue;
    background-color: #fff;
    color: $blue!important;
}

.btnRemove {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #ff484a;
    background-color: #ff484a;
    color: #fff;
    cursor:pointer;
}

.btnRemove:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #ff484a;
    background-color: #fff;
    color: #ff484a;
}

.btnGreenOut {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #0CB754;
    background-color: $white;
    color: #0CB754;
    cursor:pointer;
}

.btnGreen {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #0CB754;
    background-color: #0CB754;
    color: $white;
    cursor:pointer;
}

.btnGreen:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #0CB754;
    background-color: #fff;
    color: #0CB754;
}


.fade.in {
    opacity: 1;
}
.clickable {
    cursor:pointer;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.card-volum-small {   
box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
-moz-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
-webkit-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
    background-color: $white;

    border-radius: 4px;
    margin-bottom: 30px;    
}
.modal-backdrop.in {
    opacity: 0.5;
}

.borda {
    border: 1px solid #E82C0C;
}

.textError {
    margin-bottom: 10px;
    color: #E82C0C!important;
    font-size: 14px;
}
.thumbnail {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.thumbnail4 {
    border-radius: 0!important;
    height: 40px;
    width: 40px;
    object-fit: cover;
}



.text-orange {
    color: $orange;
}


.modal-content {
    border-radius:0;
}

.pointer {
    cursor:pointer;
}


.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

.underline:hover {
    text-decoration: underline;
}



// NEW StyLES

// BUTTONS
.btn-primary {
    color: $white;
    background-image: none;
    background-color: $primary;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #0263DF;
    border-color: #0263DF;
}

.btn-outline-primary {
    color: $primary;
    background-image: none;
    background-color: transparent;
    border-color: $primary;
}

.btn-outline-primary:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    cursor: pointer;
}

.btn-outline-secondary {
    color: $secondary;
    background-image: none;
    background-color: transparent;
    border-color: $secondary;
}

.btn-outline-secondary:hover {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    cursor: pointer;
}









h5{
    font-size: 1rem;
    margin: 0;
}

p{
    margin: 0;
    font-size: 0.9rem;
}



.bevolun-tooltip .bevolun-tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: $primary;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -78px;
    margin-top: -5px;
    opacity: 0;
    transition: opacity 0.5s;
    }

.bevolun-tooltip .bevolun-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $primary transparent;
}

.bevolun-tooltip:hover .bevolun-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.truncate{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}