//FONTS
@import url('https://fonts.googleapis.com/css?family=Lato');
//GLOBAL COLORS
@import 'variables';
//AJUSTES GLOBAIS


/deep/ a:hover{
    text-decoration: none!important;
}

// FIX ICON ALIGN
.fix-icon{
    vertical-align: middle
}


img{
    object-fit: cover;
}

.modal-dialog {
 top: 10%;
}
//////////////////
.carousel-control-next-icon {
    background-image: url('https://www.lithosdesign.com/images/arrow_b_right.png');
    width: 20px;
    height: 20px;
}

.carousel-control-prev-icon {
    background-image: url('https://www.lithosdesign.com/images/arrow_b_left.png');
    height: 20px;
    width: 20px;
    margin-left: -20px;
}

.carousel-control-prev {
    width: 5%;
    margin-left: -40px;
}

.carousel-control-next {
    width: 5%;
    margin-right: -50px;
}

//GLOBAL TEXT
.ts10 {
    font-size: 10px;
}

.ts12 {
    font-size: 12px;
}

.ts13 {
    font-size: 13px;
}

.ts14 {
    font-size: 14px;
}

.ts16 {
    font-size: 16px;
}

.ts18 {
    font-size: 18px;
}

//GLOBAL MARGIN
.no-margin {
    margin-left: 0;
    margin-right: 0;
}

//GLOBAL PADDING
.no-padding {
    padding-left: 0;
    padding-right: 0;
}

//GLOBAL INPUT
.width100 {
    width: 100%
}

.no-content i{
    color: $grey3!important;
    font-weight: normal;
}
.no-content span{
   color: $grey3;
    font-size: 14px;
    font-weight: bold;
}

//BOOTSTRAP EDIT
button:focus {
    outline: none!important;
}


//STYLES
textarea:focus, input:focus{
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif!important;
    background-color: #F7F8FA;
    color: $background!important;
}

.topNav{
    margin-top: 60px;
}

.row{
    color: $text-color;

}

.table{
    color: $text-color;
}

//BOTÕES
.btnConfirm {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $blue;
    background-color: $blue;
    color: #fff!important;
    width: 100px;
    cursor:pointer;
}

.btnConfirm a {
    text-decoration: none;
    color: #fff!important;
}

.btnCancel {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $grey2;
    color: $grey2;
    min-width: 100px;
    background:#fff;
    cursor:pointer;
}

.btnCancel a {
    text-decoration: none;
    color: #fff;
}

.btnCancel:hover {
    font-size: 12px;
    border: 1px solid $grey2;
    color: #fff;
    background: $grey2;
}

.btnConfirm:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid $blue;
    background-color: #fff;
    color: $blue!important;
}

.btnRemove {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #ff484a;
    background-color: #ff484a;
    color: #fff;
    cursor:pointer;
}

.btnRemove:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #ff484a;
    background-color: #fff;
    color: #ff484a;
}

.btnGreenOut {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #0CB754;
    background-color: $white;
    color: #0CB754;
    cursor:pointer;
}

.btnGreen {
    border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #0CB754;
    background-color: #0CB754;
    color: $white;
    cursor:pointer;
}

.btnGreen:hover {
     border-radius: 3px!important;
    font-size: 12px;
    border: 1px solid #0CB754;
    background-color: #fff;
    color: #0CB754;
}


.fade.in {
    opacity: 1;
}
.clickable {
    cursor:pointer;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.card-volum-small {   
box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
-moz-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
-webkit-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
    background-color: $white;

    border-radius: 4px;
    margin-bottom: 30px;    
}
.modal-backdrop.in {
    opacity: 0.5;
}

.borda {
    border: 1px solid #E82C0C;
}

.textError {
    margin-bottom: 10px;
    color: #E82C0C!important;
    font-size: 14px;
}
.thumbnail {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    object-fit: cover;
}
.thumbnail4 {
    border-radius: 0!important;
    height: 40px;
    width: 40px;
    object-fit: cover;
}



.text-orange {
    color: $orange;
}


.modal-content {
    border-radius:0;
}

.pointer {
    cursor:pointer;
}


.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $primary;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}

.underline:hover {
    text-decoration: underline;
}



// NEW StyLES

// BUTTONS
.btn-primary {
    color: $white;
    background-image: none;
    background-color: $primary;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: #0263DF;
    border-color: #0263DF;
}

.btn-secondary-bevolun{
    color: $white;
    background-image: none;
    background-color: $secondary!important
}

.btn-secondary-bevolun:hover {
    cursor: pointer;
    background-color: $secondary;
    border-color: $secondary!important;
}

.btn-green-bevolun{
    color: $white;
    background-image: none;
    background-color: $green!important
}

.btn-green-bevolun:hover {
    cursor: pointer;
    background-color: $green;
    border-color: $green!important;
}

.btn-orange{
    color: $white;
    background-image: none;
    background-color: $orange;
}

.btn-orange:hover {
    cursor: pointer;
    background-color: $orange;
    border-color: $orange;
}



.btn-grey {
    color: $white;
    background-image: none;
    background-color: $grey2;
}

.btn-grey:hover {
    cursor: pointer;
    background-color: $grey2;
    border-color: $grey2;
    color: $white;
}



.btn-icon{
    float: right;
    width: 25px;
    height: 25px;
    text-align: right;
    color: $grey3;
    transition: all 200ms;
}

.btn-icon:hover{
    cursor: pointer;
    color: $primary;
}

.btn-outline-primary {
    color: $primary;
    background-image: none;
    background-color: transparent;
    border-color: $primary;
}

.btn-outline-primary:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    cursor: pointer;
}

.btn-outline-secondary {
    color: $secondary;
    background-image: none;
    background-color: transparent;
    border-color: $secondary;
}

.btn-outline-secondary:hover {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
    cursor: pointer;
}







h4{
    font-size: 1.2rem;
    color: #FFFFFF;
}

h5{
    font-size: 1rem;
    margin: 0;
    padding-bottom: 3px;
}

p{
    margin: 0;
    font-size: 0.9rem;
    color: $grey5;
}



.bevolun-tooltip .bevolun-tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: $primary;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -78px;
    margin-top: -5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.bevolun-tooltip .bevolun-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $primary transparent;
}

.bevolun-tooltip:hover .bevolun-tooltiptext {
    visibility: visible;
    opacity: 1;
}


.truncate{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

search .dropdown-menu {
    width: 1270px;
}


search .dropdown-menu {
    position: absolute;
    top: 112px!important;
    left: 15px!important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    margin: 0!important;
    font-size: 1rem;
    color: $grey5;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid $grey1;
    border-radius: 4px;
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

search .dropdown-item {
    display: block;
    width: 100%;
    /* padding: 3px 1.5rem; */
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    padding: 0;
}

search button {
    line-height: normal;

}


//FROMS 
.form-control{
    color: $grey5!important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.55rem + 2px);
    border:1px solid $grey2;
    color: $grey5;
}


.form-control:focus {
    color: $grey5!important;
    background-color: #fff;
    border-color: $primary!important;
    outline: 0;
}


//SEARCH
.header-search {
    .dropdown-menu {
        border: 0px solid rgba(0,0,0,.15);
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20)!important;
        -moz-box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20)!important;
        box-shadow: 0px 0px 10px 1px rgba(3,69,155,0.20)!important;
        margin-top: 5px;
        padding: 0;
    }

    .dropdown-item{
        display: block;
        width: 100%;
        padding: 0;
        clear: both;
        font-weight: 400;
        color: #292b2c;
        text-align: inherit;
        white-space: nowrap;
        background: 0 0;
        border: 0;
        border-bottom: 0.5px solid $grey1;
    }

    .dropdown-item:last-child{
       border-bottom: 0px solid $grey1;
    }
    
}

@media (min-width: 1400px){
    .container {
    width: 1300px;
    max-width: 100%;
}
}



// CARD INFOS
.ui-block {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);
    -webkit-box-shadow: 0px 0px 10px 1px rgba(230, 236, 245, 0.4);   
}

.ui-block-title {
    padding: 22px 25px 22px;
    line-height: 1;
    border-bottom: 1px solid #e6ecf5;
    display: table;
    width: 100%;
    position: relative;
}

.ui-block-title > * {
    margin-bottom: 0;
    display: table-cell;
    vertical-align: middle;
}

.ui-block-title > h6{
    color: $grey5;
    font-size: 0.9rem;
    font-weight: 800;
}

.ui-block-content{
    padding: 24px 23px 23px;
}
.ui-block-content ul{
    list-style: none;
    padding: 0;
}
.ui-block-content li{
    padding: 15px 0;
}

.ui-block-content li .title{
    float: none;
    margin-right: 0;
    width: auto;
    font-weight: 600;
    color: $grey5;
    font-size: 0.9rem;
}

.ui-block-content li .text{
    color: $grey5;
    font-size: 0.9rem;
    display: block;
    overflow: hidden;
}

.user-interests{
    margin-top: 35px;
}

.user-interests h6{
    color: $grey5;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.ui-block-interests{

}

.ui-block-interests div{
    padding: 4px 10px 5px;
    font-size: 0.9rem;
    border-radius: 15px;
    background-color: $grey2;
    color: $white;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    transition: all 400ms ease;
}

.ui-block-interests div:hover{
    cursor: pointer;
    background-color: $primary;
}

.social-network{
    margin-top: 50px;
}

.social-network h6{
    color: $grey5;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn-social{
    font-size: 0.9rem;
    color: #fff;
    padding: 8px 15px;
    display: block;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: center;
    transition: all 400ms ease;
    opacity: 1;
}

.btn-social:hover{
    color: $white;
    text-decoration: none;
    opacity: 0.9;
}

.bg-facebook {
    background-color: #2f5b9d;
}

.bg-google {
    background-color: #F44336;
}

.bg-twitter {
    background-color: #38bff1;
}

// TOP VOLUN

.top-volun-list{
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.top-volun-list li{
    padding: 20px 25px 20px 25px;
    border-bottom: 1px solid #e6ecf5;
    transition: all .3s ease;
    margin-bottom: 0;
    display: flex;
    align-items: center!important;
}

.top-volun-list li:hover{
    cursor: pointer;
    background-color: $grey0;
}

.top-volun-list li:last-child{
    border-bottom: none;
}

.top-user-picture{
    height: 40px;
    width: 40px;
}

.top-user-picture img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.top-user-text{
    padding-left: 8px;
    padding-top: 5px;
}

.classfication-name{
    font-weight: 600;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
}

.top-user-text span{
   color: $secondary;
}

.classification-text{
    margin-top: -5px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.small-star{
    font-size:16px; width: 12px; height: 12px;
}


// MODAL
.modal-content{
    border-radius: 5px;
    border: none!important;
}

// DROPDOWN
.more {
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    color: $grey3;
}

.more i{
    color: $grey3
}

.more:hover .more-dropdown {
    visibility: visible;
    opacity: 1;
}

.profile-menu .more-dropdown {
    width: 230px;
    top: calc(100% + 10px);
    right: -25px;
}

.more ul li {
    padding: 10px 0;
    list-style: none;
}

.more ul li a{
    font-size: 13px;
}

.more-dropdown{
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    background-color: #fff;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    text-align: left;
    padding: 15px 20px;
    z-index: 5;
} 

.more-with-triangle:before{
    position: absolute;
    display: inline-block;
    content: '';
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    right: 30px;
}

.action-menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.action-menu ul li{
   padding: 20px 30px 20px 25px;
}

.action-menu ul li a{
  font-size: 0.9rem;
  font-weight: 600;
  color: $grey3;
  transition: all 0.3s ease
}
.action-menu ul li a:hover{
  color: $grey5;
  text-decoration: none;
  cursor: pointer
}
.action-menu ul li a:focus{
  text-decoration: none;
}
.action-menu ul li a:visited{
  text-decoration: none;
}
.active-action-menu{
  color: $grey5!important
}







.label-input{
    font-size: 0.8rem;
    font-weight: 600;
    color: $grey5;
}

.input-form{
    padding: 1rem 0.75rem;
    font-size: 0.9rem;
    color: $grey5!important;
}

.input-form-date{
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.9rem;
    color: $grey5!important;
}

.text-muted{
    color: $grey3!important;
    font-size: 12px;
    font-weight: 600;
}

.select-input{
    height: calc(3rem + 3px)!important;
    border: 1px solid rgba(0,0,0,.15)!important;
    font-size: 0.9rem;
}

.input-textarea{
    font-size: 0.9rem;
    color: $grey5!important;
}

.ui-block-content{
    ::-webkit-input-placeholder {
        color:$grey3!important;
    }

    button{
        border: none!important;
    }
}

.input-group-addon{
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
}

.input-group-addon img{
    height: 20px;
    width: 20px;
}

.btn-settings{
    width: 100%;
    padding: 1rem 6rem;
    font-size: 0.875rem;
    border-radius: 0.3rem;
    display: inline-block;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    transition: all 0.2s ease-in-out;
    color: $white!important;
    cursor: pointer;
    opacity: 1;
}

.input-group .form-control {
    z-index: 1!important;
}

 .btn-settings-cancel{
     background-color: $grey3;
 }

 .btn-settings-save{
     background-color: $primary;
 }

 .btn-settings:hover{
     opacity: 0.8;
     text-decoration: none;
 }

 .settingsActive{
  font-weight: 600!important;
}



.page-classification-list{
    margin: 0;
    list-style: none;
    padding: 0;

}
