$red: #F51111;
$blue: #0F76F7;
$white: #FFFFFF;
$grey0: #F7F8FA;
/*
$grey0: #F7F8FA;
$grey1:#E6E5E5;
$grey2: #919191;
$grey3:#4A4A4A;
*/
$background: #EDF2F6;
$grey-border: #ECECEC;
$yellow: #FAD018;
$inputTitle: #A28F9F;
$orange: #FF8A65;
$bold: 600;

$text-color: #3F4257;







/* NEW */
$primary:#0F76F7;
$secondary:#FAD018;
$green:#32db64;
$grey1:#E6ECF5;
$grey2:#9A9FBF;
$grey3:#888DA8;
$grey4:#515365;
$grey5:#3F4257;
