$red: #F51111;
$blue: #0F76F7;
$white: #FFFFFF;
$grey0: #F7F8FA;
$grey1:#E6E5E5;
$grey2: #919191;
$grey3:#4A4A4A;
$grey-border: #ECECEC;
$yellow: #FFCB2B;
$inputTitle: #A28F9F;
$orange: #FF8A65;
$bold: 600;
