  <div class="row">
    <div *ngIf="myVols  && myVols.length>0" class="col-12 table">
      <table class="table">
        <thead class="thead-inverse" class="cabecalho">
          <tr>
            <th>TITULO</th>
            <th>LOCALIZAÇÃO</th>
            <th>DATA</th>
            <th>CANDIDATOS</th>
            <th>CONFIRMADOS</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableText" *ngFor="let vol of myVols; let i=index">
            <td class="tableBold tableTitle">{{vol.name}}</td>

            <td class="tablePlace">
              <div class="">{{vol?.address}}</div>

            </td>

            <td class="tableDate">
              <div class="tableBold"> {{vol?.date_begin | date:"d"}} de {{vol?.date_begin | date:"MMMM"}} - {{vol?.date_end | date:"d"}} de {{vol?.date_end | date:"MMMM"}}</div>
              <div class="" *ngIf="vol.start_time">{{vol?.date_begin | date:"d"}} de {{vol?.date_begin | date:"MMMM"}} às  {{vol?.start_time | timePipe }} até {{vol?.date_end | date:"d"}} de {{vol?.date_end | date:"MMMM"}} <span *ngIf="vol.end_time">às  {{vol?.end_time | timePipe}}</span></div>
           </td>


            <td *ngIf="vol.numberCandidates>=5" > 
              <div style="display:flex">
                <div *ngFor="let candidate of vol?.candidates" (click)="openProfileModal(candidate.id_user)" class="table-user-image"><img src="{{candidate?.photo_url}}"></div>
                <div (click)="openModal(1, vol.id_vol)" *ngIf="vol.numberCandidates>5" class="pointer see-all-participants">+ {{vol.numberCandidates - 5}}</div>
              </div>
            </td>
            
            <td *ngIf="vol.numberCandidates==0">
               <span class="numberIn blue">{{vol?.numberCandidates}}</span><span>  candidatos</span>
            </td>
            <td  class="pointer" *ngIf="vol.numberCandidates<5 && vol.numberCandidates > 0" (click)="openModal(1, vol.id_vol)">
               <span class="numberIn yellow">{{vol?.numberCandidates}}</span><span>  candidato<span *ngIf="vol.numberCandidates!=1">s</span></span>
            </td>


             <td *ngIf="vol.numberConfirmeds>=5"> 
              <div style="display:flex">
                <div *ngFor="let confirmed of vol?.confirmeds" (click)="openProfileModal(confirmed.id_user)" class="table-user-image"><img src="{{confirmed?.photo_url}}"></div>
                <div (click)="openModal(2, vol.id_vol)" *ngIf="vol.numberConfirmeds>5" class="pointer see-all-participants">+ {{vol.numberConfirmeds - 5}}</div>
              </div>
            </td>

            <td *ngIf="vol.numberConfirmeds==0">
               <span class="numberIn blue">{{vol?.numberConfirmeds}}</span><span>  confirmados</span>
            </td>
             <td class="pointer"  (click)="openModal(2, vol.id_vol)" *ngIf="vol.numberConfirmeds<5 && vol.numberConfirmeds > 0 ">
               <span class="numberIn blue">{{vol?.numberConfirmeds}}</span><span>  confirmado<span *ngIf="vol.numberConfirmeds!=1">s</span></span>
            </td>


    

            <td  class="tableBtns">
              <div class="text-right">
                <button class="btn btnConfirm" (click)="seeDetails(vol.id_vol)">VER</button>
              </div>
              <div class="text-right">
                <button class="btn btnCancel" (click)="openDelete(1, vol.id_vol, vol?.date_begin, vol?.name)">APAGAR</button>
              </div>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
    <div class="container text-center no-content" style="margin-top:20px;" *ngIf="!myVols || myVols.length==0">
       <div ><i class="material-icons">alarm</i></div>
      <span style="font-weight: 400">Ainda não participou ou coordenou ações de voluntariado.</span>
      </div>

  </div>