<div class="card primaryCard">
  <div class="card-header cardTitle">
    <div class="row">
      <div class="col titleCard">
      Acerca de mim
      </div>
    </div>
  </div>

<div class="card-block">
  <form class="float-label" spellcheck="false">
    <div class="row">
        <div class="col-6 inputProfile no-margin">
          <div class="control">
           <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Sobre mim">Sou uma pessoa muito engraçada e gosto de voluntariado</textarea>
            <label for="textarea" class="titlePlaceholder">Sobre mim</label>
           </div>
         </div>
         <div class="col-6 inputProfile no-margin">
           <div class="control">
            <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Hobbies e interesses">Sou uma pessoa muito engraçada e gosto de voluntariado</textarea>
             <label for="textarea" class="titlePlaceholder">Hobbies e interesses</label>
            </div>
          </div>

          <div class="col-6 inputProfile">
            <div class="control">
             <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Tipos de voluntariado favoritos">Sou uma pessoa muito engraçada e gosto de voluntariado</textarea>
              <label for="textarea" class="titlePlaceholder">Tipos de voluntariado favoritos</label>
             </div>
           </div>
           <div class="col-6 inputProfile">
             <div class="control">
              <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Idiomas">Sou uma pessoa muito engraçada e gosto de voluntariado</textarea>
               <label for="textarea" class="titlePlaceholder">Idiomas</label>
              </div>
            </div>

            <div class="col-6 inputProfile">
              <div class="control">
               <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Outros interesses">Sou uma pessoa muito engraçada e gosto de voluntariado</textarea>
                <label for="textarea" class="titlePlaceholder">Outros interesses</label>
               </div>
             </div>
             <div class="col-6 inputProfile">
               <div class="control">
                <textarea class="textAreaProfile" name="textarea" value="913 315 609" required rows="4" placeholder="Sobre mim">Sou uma pessoa muito engraçada e gosto de voluntariado</textarea>
                 <label for="textarea" class="titlePlaceholder">Sobre mim</label>
                </div>
              </div>

        <div class="col-6">
            <a class="btn btn-outline-primary btnDescart" routerLink="/profile/details">CANCELAR</a>
        </div>
        <div class="col-6 ">
          <a class="btn btn-outline-primary btnSave" routerLink="/profile/details">GUARDAR</a>
        </div>
    </div>
  </form>
  </div>
</div>
