<div class="container nav-padding">
    <div class="row">
        <div class="col-12">
            <div class="ui-block">
                <div class="top-header">
                    <div class="top-header-cover">
                        <img src="{{user.cover_photo}}">
                    </div>
                </div>
                <div class="profile-section">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <ul class="profile-menu">
                                <li><a routerLink="/profile/{{id_user}}/activity" [routerLinkActive]="['menuSubHeaderActive']">Atividade</a></li>
                                <li *ngIf="id_user==id_logged_user"><a routerLink="/profile/{{id_user}}/actions" [routerLinkActive]="['menuSubHeaderActive']">Ações</a></li>
                                <li><a routerLink="/profile/{{id_user}}/about" [routerLinkActive]="['menuSubHeaderActive']">Sobre</a></li>
                                <!-- FALTA O ROUTING AQUI -->
                                 <li *ngIf="id_user!=id_logged_user"><a routerLink="/profile/{{id_user}}/following" [routerLinkActive]="['menuSubHeaderActive']">Testemunhos</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-md-5 offset-md-2">
                            <ul class="profile-menu" *ngIf="id_user==id_logged_user">
                                <li><a routerLink="/profile/{{id_user}}/following" [routerLinkActive]="['menuSubHeaderActive']">Mensagens</a></li>
                                <li><a routerLink="/profile/{{id_user}}/following" [routerLinkActive]="['menuSubHeaderActive']">A seguir</a></li>
                                <li><a routerLink="/profile/{{id_user}}/settings" [routerLinkActive]="['menuSubHeaderActive']">Definições</a></li>
                            </ul>

                            <ul class="profile-menu" *ngIf="id_user!=id_logged_user">
                                 <!-- FALTA O ROUTING AQUI -->
                                <li *ngIf="id_user!=id_logged_user"><a routerLink="/profile/{{id_user}}/following" [routerLinkActive]="['menuSubHeaderActive']">Mensagem</a></li>

                                <li><a routerLink="/profile/{{id_user}}/following" [routerLinkActive]="['menuSubHeaderActive']">A seguir</a></li>
                                <li>
                                    <div class="more">
                                        <i class="material-icons fix-icon">more_horiz</i>
                                        <ul class="more-dropdown more-with-triangle">
                                            <li><a>Denuncionar perfil</a></li>
                                            <li><a>Bloquear utilizador</a></li>
                                            <li *ngIf="state == 1"><a (click)="unfollow(id_user)">Não seguir</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="control-block-button">
                        <a class="btn btn-control btn-add" *ngIf="id_user==id_logged_user" routerLink="/profile/{{id_user}}/new"><i class="material-icons">add</i></a>
                        <span *ngIf="id_user!=id_logged_user">
                            <a class="btn btn-control-follow btn-follow" (click)="follow(id_user)" *ngIf="state == 0"><img src="src/assets/img/follow-add.png"></a>
                        </span>
                    </div>
                </div>
                <div class="top-header-user">
                    <img *ngIf="user?.photo" class="user-thumb" src={{user?.photo}} alt="{{user?.name}}">
                    <div class="user-content">
                        <h4>{{user?.name}}</h4>
                        <div class="stars" *ngIf="scoreReady">
                            <md-icon *ngFor="let star of user?.score">star_rate</md-icon>
                            <md-icon *ngFor="let star of user?.negative_score">star_border</md-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Externo -->

<router-outlet></router-outlet>
<app-footer></app-footer>