
<div class="container-fluid headerBlue"></div>
<div class="container-fluid sub-header-background">
    <div class="container sub-header-profile">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-12 profile-user-picture">
                <img src={{user?.photo}} alt="profile user picture">
                <div class="col user-rate">
                    <md-icon class="rate1">star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                    <md-icon>star_rate</md-icon>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-12 profile-user-name-location">
                <div class="user-name">
                    {{user?.username}}
                </div>
                <div class="user-location">
                    Aveiro, Sever do Vouga
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-6 menuSubHeader">
                <ul class="menuSubHeaderUl">
                    <li><a routerLink="/profile/{{idProfile}}/activity" [routerLinkActive]="['menuSubHeaderActive']">Atividade</a></li>
                    <li *ngIf="idProfile==idLogin"><a routerLink="/profile/{{idProfile}}/actions" [routerLinkActive]="['menuSubHeaderActive']">Ações</a></li>
                    <li><a routerLink="/profile/{{idProfile}}/about" [routerLinkActive]="['menuSubHeaderActive']">Sobre</a></li>
                    <li><a routerLink="/profile/{{idProfile}}/following" [routerLinkActive]="['menuSubHeaderActive']">A seguir</a></li>
                    <li *ngIf="idProfile==idLogin"><a routerLink="/profile/{{idProfile}}/settings" [routerLinkActive]="['menuSubHeaderActive']">Definições</a></li>
                </ul>
                <a class="btn-menu"  md-raised-button routerLink="." [mdMenuTriggerFor]="menuSubHeader"><md-icon class="btn-new-action-icon">menu</md-icon></a>
                <md-menu #menuSubHeader="mdMenu">
                    <button md-menu-item>Actividade</button>
                    <button md-menu-item>Minhas ações</button>
                    <button md-menu-item>Sobre</button>
                    <button md-menu-item>A seguir</button>
                    <button md-menu-item>Definições</button>
                </md-menu>
            </div>
            <div *ngIf="idProfile==idLogin"  class="col-sm-2 col-6 col-new-action text-right">
                <a routerLink="/profile/{{idProfile}}/new" class="btn-new-action" md-raised-button routerLink="."><span class="btn-new-action-text" >NOVA AÇÃO</span><span><md-icon class="btn-new-action-icon">add</md-icon></span></a>
            </div>
            <div *ngIf="idProfile!=idLogin"  class="col-sm-2 col-6 col-new-action text-right">
                <a class="btn-follow" md-raised-button routerLink="." (click)="follow(idProfile)"><span class="btn-new-action-text" >SEGUIR</span><span><md-icon class="btn-new-action-icon">add</md-icon></span></a>
            </div>
        </div>
    </div>
</div>


<!-- Externo -->


<router-outlet></router-outlet>
<app-footer></app-footer>