<div class="row">
    <div class="col-12">
        <div class="ui-block">
            <ul class="page-classification-list">
                <li>
                    <div class="page-classification-header">
                        <div class="page-classification-picture">
                             <img src="src/assets/img/cover.jpg"/>
                        </div>
                        <div class="page-classification-action">
                            <h6><a class="page-classification-name-user">André Martins</a> classificou a tua participação na ação <a class="page-classification-name-action">Serviço de Jardinagem</a> com <span class="classification-number">5</span>  <md-icon>star_rate</md-icon></h6>
                            <p>February 7th, 2017</p>
                        </div>
                        <div class="page-classification-more">
                             <i class="material-icons">more_horiz</i>
                        </div>
                    </div>
                    <!--
                    <div class="page-classification-content">
                        <p>Muito bom rapaz</p>
                    </div>
                    -->
                </li>
                <li>
                    <div class="page-classification-header">
                        <div class="page-classification-picture">
                             <img src="src/assets/img/cover.jpg"/>
                        </div>
                        <div class="page-classification-action">
                            <h6><a class="page-classification-name-user">André Martins</a> classificou a tua participação na ação <a class="page-classification-name-action">Serviço de Jardinagem</a> com <span class="classification-number">5</span>  <md-icon>star_rate</md-icon></h6>
                            <p>February 7th, 2017</p>
                        </div>
                        <div class="page-classification-more">
                             <i class="material-icons">more_horiz</i>
                        </div>
                    </div>
                    <!--
                    <div class="page-classification-content">
                        <p>Muito bom rapaz</p>
                    </div>
                    -->
                </li>
                <li>
                    <div class="page-classification-header">
                        <div class="page-classification-picture">
                             <img src="src/assets/img/cover.jpg"/>
                        </div>
                        <div class="page-classification-action">
                            <h6><a class="page-classification-name-user">André Martins</a> classificou a tua participação na ação <a class="page-classification-name-action">Serviço de Jardinagem</a> com <span class="classification-number">5</span>  <md-icon>star_rate</md-icon></h6>
                            <p>February 7th, 2017</p>
                        </div>
                        <div class="page-classification-more">
                             <i class="material-icons">more_horiz</i>
                        </div>
                    </div>
                    <!--
                    <div class="page-classification-content">
                        <p>Muito bom rapaz</p>
                    </div>
                    -->
                </li>
                <li>
                    <div class="page-classification-header">
                        <div class="page-classification-picture">
                             <img src="src/assets/img/cover.jpg"/>
                        </div>
                        <div class="page-classification-action">
                            <h6><a class="page-classification-name-user">André Martins</a> classificou a tua participação na ação <a class="page-classification-name-action">Serviço de Jardinagem</a> com <span class="classification-number">5</span>  <md-icon>star_rate</md-icon></h6>
                            <p>February 7th, 2017</p>
                        </div>
                        <div class="page-classification-more">
                             <i class="material-icons">more_horiz</i>
                        </div>
                    </div>
                    <!--
                    <div class="page-classification-content">
                        <p>Muito bom rapaz</p>
                    </div>
                    -->
                </li>
            </ul>
        </div>
    </div>
</div>
