<ng-template #rt let-r="result" let-t="term" id="template-search" class="test">
  <div (click)="navigate(r.geometry.location.lat, r.geometry.location.lng)" class="row no-padding content-search">
    <span class="searched"> {{r.formatted_address}}</span>
  </div>
</ng-template>

<div class="container-fluid no-padding mapFull">
    <div class="row no-padding">
        <div class="col-7 map">
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="15" (boundsChange)="getVols($event)">

                <sebm-google-map-marker *ngFor="let vol of vols; let i = index" [latitude]="convertStringToNumber(vol.vol.lat)" [longitude]="convertStringToNumber(vol.vol.lng)">

                    <sebm-google-map-info-window>

                        <div>
                            <b style='display: block'>{{vols[i].vol.name}}   </b>
                            <img [src]='vols[i].vol.photos[0]' class='img-responsive' style='    width: 200px; height: 100px; margin: 10px;'>
                        </div>

                    </sebm-google-map-info-window>

                </sebm-google-map-marker>


            </sebm-google-map>
        </div>
        <div class="col-5 ">
            <div class="row">
                <div class="areaSearch col-12">
                    <div class="searchSection">
                        <div class="searchTitle">Pesquisar voluntariados por local específico:</div>
                        <div class="areaInput">
                            <input  type="text" class="inputSearch" [ngModelOptions]="{standalone: true}" [(ngModel)]="model" (keyup.enter)="navigate(model.geometry.location.lat, model.geometry.location.lng)"
                    [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" name="localization" placeholder="Insira uma localização..."
                    required />
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btnSearchMap pointer" (click)="searchMap()">REFAZER A PESQUISA AQUI</button>
                <div class="cardsSection col-12">
                <div class="no-content text-center" style="margin-top:30px" *ngIf="!vols || vols.length==0">
                  <div style="padding: 5px;"><i class="material-icons">sentiment_dissatisfied</i></div>
                    <span>Não existem ações de voluntariado nesta zona.</span>
                </div>
                    <div class="col-12" *ngFor="let vol of vols; let i=index">
                         <vol-card [userCreator]="vol.user.id_user" [title]="vol.vol.name" [likes]="vol.vol.likes" [idVol]="vol.vol.id_vol" [verified]="true"
                            type="private" class="swiper-slide" [avatar]="vol.user.photo_url" [photos]="vol.vol.photos" [username]="vol.user.name"
                            [likeState]="vol.vol.likeState" [dateCreation]="vol.vol.date_creation" [description]="vol.vol.description" [index]="i">
                        </vol-card>                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>