<div class="container-fluid no-padding mapFull">
    <div class="row no-padding">
        <div class="col-7 map">
            <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="15" (boundsChange)="getVols($event)">

                <sebm-google-map-marker *ngFor="let vol of vols; let i = index" [latitude]="convertStringToNumber(vol.vol.lat)" [longitude]="convertStringToNumber(vol.vol.lng)">

                    <sebm-google-map-info-window>

                        <div>
                            <b style='display: block'>{{vols[i].vol.name}}   </b>
                            <img [src]='vols[i].vol.photos[0]' class='img-responsive' style='    width: 200px;
    height: 100px;
    margin: 10px;'>
                        </div>


                    </sebm-google-map-info-window>

                </sebm-google-map-marker>


            </sebm-google-map>
        </div>
        <div class="col-5 ">
            <div class="row">
                <div class="areaSearch col-12">
                    <div class="searchSection">
                        <div class="searchTitle">Pesquisar voluntariados por local específico:</div>
                        <div class="areaInput">
                            <input type="text" class="inputSearch" placeholder="Inserir localização...">
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btnSearchMap pointer" (click)="search()">REFAZER A PESQUISA AQUI</button>
                <div class="cardsSection col-12">
                    <div class="col-12" *ngFor="let vol of vols">
                        <vol-card [map]="true" [likes]="33" [verified]="true" class="swiper-slide" type='private' [avatar]="vol.user.photo_url" [username]="vol.user.name"
                            [userCreator]="vol.user.id_user" [dateCreation]="vol.vol.date_begin" [title]="vol.vol.name" [description]="vol.vol.description"
                            [photos]="vol.vol.photos">
                        </vol-card>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>